<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/LynnFragment :: layout (~{::body},'user')}" >
<head >
    <meta charset="UTF-8">
    <title>Attorney Information</title>
</head>
<body>


<!-- End Navbar -->
<div class="content" style="display: none; background-color: white; top:600px; " >
    <div class="container-fluid"  >


            <div class="row sticky" id="contacts-ui" style=" display:none; position: fixed; top:500px; right:400px;  max-height: 10px;">


                <div class="row" style="position: relative; top: -150px;max-height: 10px; " >
                    <div class="col-sm-12" style="max-height: 10px;">
                        <div class="col-sm-9" style="max-height: 10px;" >

                        </div>

                        <div class="col-sm-3">
                            <div class="banner-message"  style="position: relative;top:-225px; ">

                                 <div style="min-width: 280px; max-width: 280px;">
                                     <ul class="aside-fees">
                                         <!-- 			BASIC/COLLECTIVE MARK -->
                                         <li class="fee-item collapse" style="height: 0px;">
				                                <span class="fee-description">Basic fee</span>
                                             <span class="fee-value fee-basic">225 $</span>
                                         </li>

                                         <!-- 			EXTRA CLASS FEE -->
                                         <li class="fee-item collapse" style="height: 0px;">
                                             <span class="fee-description">Extra Class Fee</span>
                                             <span class="fee-value fee-extra-class">0 $</span>
                                         </li>

                                         <!-- 			TOTAL CLASSES -->
                                         <li class="fee-item collapse" style="height: 0px;">
                                             <span class="fee-description">Total classes</span>
                                             <span class="fee-value fee-total-classes">0</span>
                                         </li>

                                         <!-- 			TOTAL -->
                                         <li class="fee-item-total collapsed" data-toggle="collapse" data-target=".fee-item">
                                             <span class="fee-description-total">Total fee</span>
                                             <span class="fee-value fee-total">225 $</span>
                                         </li>
                                     </ul>

                                 </div>

                                <div class="contacts-Table " style="border: rgb(235,235,235); min-width: 280px;  border-width: 1px; border: solid; padding: 15px; min-height: 420px;  ">
                                    <table id="ManagedContacts" class="table-no-bordered table-hover" cellpadding="1" style="min-width: 280px;  margin-right: 4px; margin-top: 10px; margin-bottom: 10px; margin-left: 4px; "></table>
                                </div>

                                <div class="row navigation-row" style=" max-height: 100px; position: relative; bottom:-60px; min-width: 350px; max-width: 325px;">
                                    <div class="col-sm-2">
                                        <span class="btn btn-md prev-button"  style=" padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(55, 69, 120);  color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;    font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="prevLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;left:-5px;" ><i class="material-icons rotate-180">exit_to_app</i></a><a id="prevLink" style="color: white; text-decoration: none;position: relative; top:-10px;" href="">Prev</a></span>
                                    </div>
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-2">
                                    </div>


                                    <div class="col-sm-2" style="position:relative; left:-10px; ">
                                         <span class="btn btn-md next-button"  style="padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(128,128,128); color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;   font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="nextLink" style="color: white; text-decoration: none; position: relative; top:-10px;" >Next</a><a id="nextLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;right:-5px;" ><i class="material-icons">exit_to_app</i></a><span>
                                    </div>
                                </div>



                            </div>

                        </div>
                    </div>
                </div>


            </div><!--end row sticky -->
            <div class="row" style="position: relative; top:-75px;  max-width: 850px; max-height: 100px;margin-bottom: 30px;">

                <section class="col-xs-12 steps breadcrumb-steps"  style="position: relative;  right:-10px;">
                    <div class="col-xs-2 one active">
                        <div class="col-xs-4">
                            <span>1</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Your details</p>
                        </div>
                    </div>
                    <div class="col-xs-2 two">
                        <div class="col-xs-4">
                            <span>2</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Trademark Details</p>
                        </div>
                    </div>
                    <div class="col-xs-2 three">
                        <div class="col-xs-4">
                            <span>3</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Goods and Services</p>
                        </div>
                    </div>
                    <div class="col-xs-2 four">
                        <div class="col-xs-4">
                            <span>4</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Basis</p>
                        </div>
                    </div>
                    <div class="col-xs-2 five">
                        <div class="col-xs-4">
                            <span>5</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Additional information</p>
                        </div>
                    </div>
                    <div class="col-xs-2 six">
                        <div class="col-xs-4">
                            <span>6</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Confirm and pay</p>
                        </div>
                    </div>
                </section>




            </div>

            <div class="row" style="position: relative; top:-75px;  max-width: 500px; max-height: 100px;margin-bottom: 30px;">
                <span style="position: relative; right:-30px;"><h1><b style="opacity: 1; mix-blend-mode: normal; color: rgb(0, 0, 0); font-size: 36px; font-weight: normal; font-style: normal; text-decoration: none; text-align: left; text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.16667px; width: 597px; height: 41px; transform: rotate(0deg) translate(37px, 138px) rotate(0deg);">Attorney Information</b></h1></span>

            </div>


            <div class="row" style="position: relative; top:-75px; max-width: 300px; max-height: 100px; margin-bottom: 10px;">
                <span style="position: relative; right:-60px;"><h5><b>Is an Attorney filing this application?</b></h5></span>

            </div>

            <div th:if="${baseTrademarkApplication.isAttorneySet() == false}">

                <div class="row" style="position: relative; top:-75px;  right:-200px;  max-width: 100px;">
                    <div class="col-sm-1">

                        <input type="radio" name="isAttorneyFiling" id="attorneyFilingTrue">

                    </div>
                    <div class="col-sm-2" style="position: relative; left:-75px;">
                        Yes
                    </div>

                </div>
                <div class="row" style="position: relative; top:-75px;  right:-200px;   max-width: 100px;">
                    <div class="col-sm-1">

                        <input type="radio" name="isAttorneyFiling" id="attorneyFillingFalse">

                    </div>
                    <div class="col-sm-2" style="position: relative; left:-75px;">
                        No
                    </div>
                </div>

            </div>
            <div th:if="${baseTrademarkApplication.isAttorneySet() == true}">

                    <div class="row" style="position: relative;  right:-200px; z-index: 222; max-width: 100px;" >

                        <div class="col-sm-1">

                            <input type="radio"   th:if="${baseTrademarkApplication.isAttorneyFiling() == true}" name="isAttorneyFiling" id="attorneyFilingTrue" checked>
                            <input type="radio"   th:if="${baseTrademarkApplication.isAttorneyFiling() == false}" name="isAttorneyFiling" id="attorneyFilingTrue" >

                        </div>
                        <div class="col-sm-2" style="position: relative; left:-75px;">
                            Yes
                        </div>

                    </div>
                    <div class="row" style="position: relative;  right:-200px; z-index: 222; max-width: 100px;">
                        <div class="col-sm-1">

                            <input type="radio" th:if="${baseTrademarkApplication.isAttorneyFiling() == true}" name="isAttorneyFiling" id="attorneyFillingFalse">
                            <input type="radio" th:if="${baseTrademarkApplication.isAttorneyFiling() == false}" name="isAttorneyFiling" id="attorneyFillingFalse" checked>

                        </div>
                        <div class="col-sm-2" style="position: relative; left:-75px;">
                            No
                        </div>
                    </div>

            </div>




            <div class="row" style="position: relative;  right:-220px;  max-height:100px;max-width: 300px;">
                <div class="col-sm-6">
                    <div class="form-group set-lawyer-options-valueFieldMsgArea" style="display:none; position: relative; left:30%;">
                        <b><span></span></b>
                    </div>
                </div>

            </div>

            <div class="container-fluid" id="pageLoadArea" style="position: relative; bottom:-222px; left:-645px; max-width: 850px;  margin-bottom: 20px;margin-right:10px;" >


            </div>


    </div>

    <div class="row" style="position: relative;  right:-220px;">
        <div class="col-sm-6">
            <div class="form-group FieldMsgArea" style="display:none; position: relative; left:30%;">
                <b><span></span></b>
            </div>
        </div>

    </div>





<!--load model attribute for Jquery consumption  -->
<script th:inline="javascript">

    /*<![CDATA[*/


    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';
    var attorneyOpt = /*[[${baseTrademarkApplication.isAttorneyFiling()}]]*/ 'User Name';

    var ownerOpt = /*[[${baseTrademarkApplication.isOwnerSet()}]]*/ 'User Name';

    var isAttorneyPoolEmpty = /*[[${baseTrademarkApplication.isAttorneyPoolEmpty()}]]*/ 'User Name';
    var host_name= /*[[${hostBean.host}]]*/ 'User Name';
    var host_port= /*[[${hostBean.port}]]*/ 'User Name';



    var contactNames = /*[[${myManagedContacts.ContactNames}]]*/ 'User Name';
    var contactEmails = /*[[${myManagedContacts.ContactEmails}]]*/ 'User Name';
    var contactTypes = /*[[${myManagedContacts.contactEntitySubType}]]*/ 'User Name';

    var selectedContactNames = /*[[${selectedAttorneys.ContactNames}]]*/ 'User Name';
    var host = host_name+":"+host_port;
    //alert(tableRows);

    /*]]>*/
</script>


<script>

    var nextLinkURL = "../../application/AttorneySet/?trademarkID="+appInternalID;
    var prevLinkURL = "../../accounts/dashboard";

    var nextLinkURLAttorneyFalse = "../../application/OwnerStart/?trademarkID="+appInternalID;



    var newAttorneyLink = "../../application/attorney/attorneyInfo/?trademarkID="+appInternalID;

    var ownerSetViewLink = "../../application/OwnerSetView/?trademarkID="+appInternalID;

</script>






    </div>  <!-- end of container fluid -->


</div>
<!-- end of main content-->







<script>


    // next link url to enable  for u.s individual href="http://localhost:8080/application/owner/info"
    $(document).ready(function() {

        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);


        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('#contacts-ui').fadeIn(500);



        }, 500);








        ////////////////////////////////////////////////////////////
        // show and hide attorney form actions
        ////////////////////////////////////////////////////////////
        $('#attorneyFilingTrue').click( function () {
            ////////////////////////////////////////////////////////////
            // call back end update ...
            // signal uppate occurred
            // wait for the confirm message first.
            ////////////////////////////////////////////////////////////

            $.post(newAttorneyLink, function(data){
                $("#pageLoadArea").html(data).fadeIn();
            });
            saveProjectInfo("set-lawyer-options-value", "yes", appInternalID);
            setTimeout(function() {
                $('#pageLoadArea').fadeIn(2000);
            }, 1500);
        });



        /////////////////////////////////////////////////////////////
        // action listeners on radio buttons
        ////////////////////////////////////////////////////////////
        $('#attorneyFillingFalse').click( function () {
            ////////////////////////////////////////////////////////
            // call back end update ...
            ////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////
            // remove any selected contacts from application object
            ////////////////////////////////////////////////////////

            // call set attorney options ...for project
            setTimeout(function() {
                saveProjectInfo("set-lawyer-options-value", "no", appInternalID);
                $('#pageLoadArea').fadeOut(555);
            }, 555);
            // check there are contacts ...those should get dropped???
            //////////////////////////////////////////////////////////
            // enable next link and clean up widget links
            //////////////////////////////////////////////////////////
            $('.next-button').css("background-color","rgb(55, 69, 120)" );
            $('#nextLink').attr("href", nextLinkURLAttorneyFalse );
            $('#nextLinkIcon').attr("href", nextLinkURLAttorneyFalse );
            $('#AttorneySetLink').attr("href", "");
            $('#next-link-widget').css("background-color", "rgb(128, 128, 128)" );
        });
        ////////////////////////////////////////////////////////////////


        //////////////////////////////////////////////////////////////
        // check if attorneyFillingFalse is set
        /////////////////////////////////////////////////////////////
        if ($('#attorneyFillingFalse').is(':checked') == true){


            $('.next-button').css("background-color","rgb(55, 69, 120)" );
            $('#nextLink').attr("href", nextLinkURLAttorneyFalse );
            $('#nextLinkIcon').attr("href", nextLinkURLAttorneyFalse );


        }
        /////////////////////////////////////////////////////////////
        // check if attorneyFilingTrue is set
        /////////////////////////////////////////////////////////////
        if ($('#attorneyFilingTrue').is(':checked') == true){


            // check if there are attorneys added to the application
            // if so ... enable next link to attorney view page
            if(isAttorneyPoolEmpty == false){
                // attorney pool is not empty
                // enable next link
                $('#nextLink').attr("href", nextLinkURL );
                $('.next-button').css("background-color","rgb(55, 69, 120)" );

            }


            $.post(newAttorneyLink, function(data){
                $("#pageLoadArea").html(data);
            });
            setTimeout(function() {
                $('#pageLoadArea').fadeIn(1000);
                $('#appInternalIDForm').val(appInternalID);
            }, 1000);



            $('#prevLink').attr("href", prevLinkURL);
            $('#prevLinkIcon').attr("href", prevLinkURL);




        }

        // enable next page link bas[{
        // {
        // ed on if attorney is set





        //////////////////////////////////////////
        // show drop downs
        //////////////////////////////////////////


        ////////////////////////////////////////////////////
        // enable next button on select drop down completion
        ////////////////////////////////////////////////////


/*
        // check which prev-link to check
        if(attorneyOpt == false){
            $('#prevLink').attr("href",prevLinkURLAttorneyFalse);
            $('#prevLinkIcon').attr("href",prevLinkURLAttorneyFalse);
        }
        else {
            $('#prevLink').attr("href",prevLinkURL);
            $('#prevLinkIcon').attr("href",prevLinkURL);
        }

        if(ownerOpt == true){

            $('#nextLink').attr("href",ownerSetViewLink);
            $('#nextLinkIcon').attr("href",ownerSetViewLink);
            $('.next-button').css("background-color", "rgb(55,69,120)");

        }
*/



        //$('#addNewOwnerLink').attr("href",newOwnerLink);


        // load datables for owner contacts
        ///////////////////////////////////////////////////////////

        /////////////////////////////////////////////////////////////////////////////

        var dataSet1 = [


        ];

        //////////////////////////////////////////////////////////////////////////////
        // initialize contacts table with empty values
        //////////////////////////////////////////////////////////////////////////////
        var contactsTable = $('#ManagedContacts').DataTable( {
            data: dataSet1,
            "pageLength": 5,
            "scrollY": "250px",
            "scrollX": "100%",
            "oLanguage": {

                "sSearch": "<b style=\"position: relative; bottom: -3px; \" > <i style=\"position: relative; right:-197px; \"  class=\"material-icons\">search</i></b>"

            },
            "dom": '<"top"f<"clear">>rt<"bottom"p<"clear">>',
            columns: [
                { title: "" },
                { title: "Contact Name" },
                { title: "" }

            ]
        } );

        ////////////////////////////////////////////////////////////////////////////////////////////////
        // set overflow hidden for horizontal scroll bar created by y-scroll options on data tables
        // that keeps the data tables view port height constant
        /////////////////////////////////////////////////////////////////////////////////////////////////
        $('.dataTables_scrollBody').css('overflow',  'hidden');


        // load managed contacts from server
        for(var a =0; a <contactNames.length; a++) {
            ///////////////////////////////////////////////////////////////////////////
            // check each name against selected names ...if in selected lis ...
            // add row with check box selected and disabled
            ///////////////////////////////////////////////////////////////////////////
            var selectedContact = false;
            for(var b=0; b <selectedContactNames.length; b++ ){
                if(contactNames[a] == selectedContactNames[b]){
                    selectedContact = true;
                }

            }

            if(selectedContact == true){
                var col1 = "<span class='small-tooltip'><a  style=\" min-width:500px; text-decoration: none;\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Contact is an attorney for this application.\">&nbsp;</a></span><i class='material-icons' style='position: relative; right:-10px;'>check_circle_outline</i>";
                var col2 = "<b>"+contactNames[a]+"</b>";
                var col3 = "";
                contactsTable.row.add([col1, col2, col3]).draw();

            }
            else {
                var col1 = "<span class='small-tooltip'><a  style=\" min-width:500px; text-decoration: none;\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Copy Contact Information to Attorney Form.\">&nbsp;</a></span><i class='material-icons' style='position: relative; right:-10px;'>add_circle_outline</i>";
                var col2 = "<b>"+contactNames[a]+"</b>";
                var col3 = "";
                contactsTable.row.add([col1, col2, col3]).draw();

            }



        }
        // sort and redraw to line up columns
        $('[data-toggle="tooltip"]').tooltip();
        // widget actions

        $('#ManagedContacts').on('click', 'i.material-icons', function () {

           if($(this).html() == "add_circle_outline"){
                var rawCell=$(this).parent().next().html();
                var contactDisplayName = getContactName(rawCell);
                setformWithManagedContact(contactDisplayName);

           }


        });


// show attorney affiliation area












    }); // end of document ready()


    function setformWithManagedContact(displayName) {

        //////////////////////////////////////////////////////////////////////////////////////
        // we need REST controller of finding a contact by its email
        // this needs to be implemented on the PTOUser object
        //////////////////////////////////////////////////////////////////////////////////////

        $.ajax({
            //url: host+"/REST/apiGateway/application/update/"+field_name_prefix+"/"+field_value+"/"+applicaiton_internal_id,
            url: "../../REST/apiGateway/user/managedContact/get/"+displayName,

            type: 'GET',
            success: function(data){



                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:")+7, data.indexOf("status:")+4+7);

                var s_msg = data.substring(data.indexOf("msg:")+4, data.length-2);




                if(s_code.trim() == "200"){
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    //$(".autoSaveMessageArea span").fadeOut(500);

                    var firstName = getFieldValueFromResponse(s_msg,"firstName");
                    if(firstName != "null"){
                        $('#attorney-first-name').val(firstName);

                    }
                    var middleName = getFieldValueFromResponse(s_msg,"middleName");
                    if(middleName != "null"){
                        $('#attorney-middle-name').val(middleName);

                    }
                    var lastName = getFieldValueFromResponse(s_msg,"lastName");
                    if(lastName != "null"){
                        $('#attorney-last-name').val(lastName);

                    }
                    var suffix = getFieldValueFromResponse(s_msg,"suffix");
                    if(suffix != "null"){
                        $('#suffix').val(suffix);

                    }
                    var country = getFieldValueFromResponse(s_msg,"country");
                    if(country != "null"){
                        $('#attorney-country').val(country);

                    }

                    var address1 = getFieldValueFromResponse(s_msg,"address");
                    if(address1 != "null"){
                        $('#attorney-address1').val(address1);
                    }

                    var city = getFieldValueFromResponse(s_msg,"city");
                    if(city != "null"){
                        $('#attorney-city').val(city);
                    }
                    var state = getFieldValueFromResponse(s_msg,"state");
                    if(state != "null"){
                        $('#attorney-state').val(state);
                    }
                    var zipcode = getFieldValueFromResponse(s_msg,"zipcode");
                    if(zipcode != "null"){
                        $('#attorney-zipcode').val(zipcode);
                    }
                    var email = getFieldValueFromResponse(s_msg,"email");
                    if(email != "null"){
                        $('#attorney-email').val(email);
                    }
                    var phone = getFieldValueFromResponse(s_msg,"phone");
                    if(phone != "null"){
                        $('#attorney-phone').val(phone);
                    }



                    //alert(firstName);


                    setTimeout(function() {
                        // after 1000 ms we add the class animated to the login/register card
                        //  $(".autoSaveMessageArea span").text(s_msg);
                        // $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);



                }
                else{
                    //$('.circle-loader').fadeOut(100);
                    //$('.x-mark').fadeIn(500);
                    //$(".validationMsgArea span").text(s_msg);
                    //$(".validationMsgArea span").css('color','red');
                }

            },
            error: function(data) {

                //$('.circle-loader').fadeOut(100);
                //$('.x-mark').fadeIn(500);

                console.log(data);
                // set message to div area ...fields can not be left null
                //$(".validationMsgArea span").text("You can not leave any fields empty.");
                //$(".validationMsgArea span").css('color','red');
            }

        });

    } // end of function
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////


    /////////////////////////////////////////////////////
    // aJAX
    /////////////////////////////////////////////////////
    function saveProjectInfo(field_name_prefix, field_value, application_internal_id) {
        //alert(field_name_prefix);
        // send state, and token to server
        // token will be generated in the controller and added to the view
        // similar to how access token works ...a token is tied to a user
        // access token will be passed in through model
        //
        // var tokenValue = '${token}';  // token is the model attribute name
        // we are not using secured tokens for the prototype
        // we will secure it by adding ssl and https support
        //var field_value = $(this).val();
        //alert(field_value);
        $.ajax({
            //url: host+"/REST/apiGateway/application/update/"+field_name_prefix+"/"+field_value+"/"+applicaiton_internal_id,
            url: "../../REST/apiGateway/application/update/"+field_name_prefix+"/"+field_value+"/"+application_internal_id,
            type: 'GET',
            success: function(data){
                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:")+7, data.indexOf("status:")+4+7);
                var s_msg = data.substring(data.indexOf("msg:")+4, data.length-2);
                if(s_code.trim() == "200"){
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    // add time stamp from server side
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function() {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);
                    // animation rendering control
                    //if($('.state-checkmark').css('display') == 'block'){
                    if($( "."+field_name_prefix.toLowerCase()+"-animation").css('display') == 'block'){
                        $("."+field_name_prefix.toLowerCase()+"-animation").fadeOut(100);
                        // now we need to create an java back end service that saves this value.
                        // also add validation on the html  similar to password save
                        //$('#toggle-'+field_name_prefix.toLowerCase()).delay(100).click();
                        // alert($(this).val());
                        $("."+field_name_prefix.toLowerCase()+"-animation").fadeIn(1000);
                        // now we need to create an java back end service that saves this value.
                        // also add validation on the html  similar to password save
                        //$("."+field_name_prefix.toLowerCase()+"-animation").delay(1000).click();
                    }
                    else {
                        $("."+field_name_prefix.toLowerCase()+"-animation").fadeIn(1000);
                        // now we need to create an java back end service that saves this value.
                        // also add validation on the html  similar to password save
                        //$('#toggle-'+field_name_prefix.toLowerCase()).delay(1000).click();
                    }
                }
                else{
                    //$('.circle-loader').fadeOut(100);
                    //$('.x-mark').fadeIn(500);
                    //$(".validationMsgArea span").text(s_msg);
                    //$(".validationMsgArea span").css('color','red');
                }
            },
            error: function(data) {
                //$('.circle-loader').fadeOut(100);
                //$('.x-mark').fadeIn(500);
                console.log(data);
                // set message to div area ...fields can not be left null
                //$(".validationMsgArea span").text("You can not leave any fields empty.");
                //$(".validationMsgArea span").css('color','red');
            }
        });
    } // end of function
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // helper functions
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////

    function getContactName(cell) {
        var contact_name = cell.substring(3, cell.length-4);
        return contact_name;
    }


    function getFieldValueFromResponse(response, fieldName){

        // find starting index of fieldName
        // find the next colon
        var indexStart = response.indexOf(fieldName+":")+fieldName.length;
        response = response.substring(indexStart+1);
        var indexEnd = response.indexOf("}");
        response = response.substring(0, indexEnd);

        // find the next right closing bracket
        return response;

    }



</script>

</body>
</html>