<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/ApplicationMarkFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title></title>
</head>Mark Details
<body>
<div class="row content" style="position: relative; display: none; ">
    <main class="col-xs-12 col-sm-8 col-lg-6" style="min-width: 860px;">
        <div class="row sticky" id="contacts-ui" style=" display:none; position: fixed; top:500px; right:222px;  max-height: 10px;">


            <div class="row" style="position: relative; top: -150px;max-height: 10px; " >
                <div class="col-sm-12" style="max-height: 10px;">
                    <div class="col-sm-9" style="max-height: 10px;" >

                    </div>

                    <div class="col-sm-3">
                        <div class="banner-message"  style="position: relative;top:-225px; ">


                        </div>

                    </div>
                </div>
            </div>


        </div><!--end row sticky -->
        <!--START Content Div-->
        <div class="row" style="position: relative; top:-235px; left:-135px;" id="goodservideo">
            <div class="col-xs-12 text-left">

                <section class="col-xs-12 steps breadcrumb-steps"  style="position: relative;  left:-55px;">
                    <div class="col-xs-2 one done">
                        <div class="col-xs-4">
                            <span>1</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Your details</p>
                        </div>
                    </div>
                    <div class="col-xs-2 two done">
                        <div class="col-xs-4">
                            <span>2</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Trademark Details</p>
                        </div>
                    </div>
                    <div class="col-xs-2 three active">
                        <div class="col-xs-4">
                            <span>3</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Goods and Services</p>
                        </div>
                    </div>
                    <div class="col-xs-2 four">
                        <div class="col-xs-4">
                            <span>4</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Basis</p>
                        </div>
                    </div>
                    <div class="col-xs-2 five">
                        <div class="col-xs-4">
                            <span>5</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Additional information</p>
                        </div>
                    </div>
                    <div class="col-xs-2 six">
                        <div class="col-xs-4">
                            <span>6</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Confirm and pay</p>
                        </div>
                    </div>
                </section>


                <!--END Application Type-->
            </div><!--END RADIO container-->



                    <h1>Goods and Services</h1>
                    <p>Goods are physical things (products) that can be touched &#8211; like bicycles. Services are actions performed for the benefit of someone else &#8211; like bicycle rental services. You must list the goods or services with which you are using, or with which you intend to use, the trademark.</p>
                    <!--START goods and services table-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 bgimg img-fluid">
                            <a href="https://youtu.be/H0LI1t5mn8M" target="_blank" class="btn btn-block"></a>

                            <iframe  style="display: none;" th:src="@{/resources/images/tmin_news_06_goods_and_services_lg.jpg}">
                            </iframe>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <p class="weight600">Search through and select the goods and services that apply to your trademark, or provide a list.</p>
                            <button type="button" class="btn btn-sm btn-success">Search ID Manual for Goods and Services</button>
                            <button type="button" class="btn btn-sm btn-success">Provide Own Goods and Services</button>
                        </div>
                    </div><!--END Content Div-->
        </div><!--END row-->

        <div class="row navigation-row" style=" max-height: 100px; position: relative; bottom: -111px; right: -111px; margin-bottom: 111px; ">

            <div class="col-sm-2" style="position: relative; left:-333px;">
                <span class="btn btn-md prev-button"  style=" padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(55, 69, 120);  color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;    font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="prevLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;left:-5px;" ><i class="material-icons rotate-180">exit_to_app</i></a><a id="prevLink" style="color: white; text-decoration: none;position: relative; top:-10px;" href="">Prev</a></span>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>

            <div class="col-sm-2" style="position:relative; right:-55px; ">
                <span class="btn btn-md next-button"  style="padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(128,128,128); color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;   font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="nextLink" style="color: white; text-decoration: none; position: relative; top:-10px;" >Next</a><a id="nextLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;right:-5px;" ><i class="material-icons">exit_to_app</i></a></span>
            </div>

        </div>
    </main>
</div><!--END Tiles row-->

<script th:inline="javascript">

    /*<![CDATA[*/


    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var host_name= /*[[${hostBean.host}]]*/ 'User Name';
    var host_port= /*[[${hostBean.port}]]*/ 'User Name';


    var host = host_name+":"+host_port;
    var markType = /*[[${baseTrademarkApplication.tradeMark.trademarkDesignType}]]*/ 'User Name';

    var  image_path = /*[[${markImagePath}]]*/ 'User Name';

    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';

    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';

    /*]]>*/
</script>



<script>

    var nextLinkURL ="";
    var prevLinkURL = "../../mark/designWithTextDisclaimer/?trademarkID="+appInternalID;

</script>


<script>


    // next link url to enable  for u.s individual href="http://localhost:8080/application/owner/info"
    $(document).ready(function() {
        setTimeout(function () {
            $('#content').fadeIn(500);
        }, 500);

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#panels').fadeIn(500);
        }, 500);


        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#contacts-ui').fadeIn(500);


        }, 500);

        $('.glyphicon').click(function () {
            $(this).toggleClass("glyphicon-triangle-right").toggleClass("glyphicon-triangle-bottom");
        });



        $('[data-toggle="tooltip"]').tooltip();

        $('#prevLink').attr("href",prevLinkURL);
        $('#prevLinkIcon').attr("href",prevLinkURL);




        //////////////////////////////////////////////////////////////////////
        // set mark image based on persisted values
        //////////////////////////////////////////////////////////////////////
        if(colorClaim == null){
            if(image_path != null){
                $('[data-toggle="popover"]').popover({
                    title : false,
                    html : true,
                    content : '<div class="media"><img src="'+image_path+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                });

            }
        }

        if(colorClaim == false){

            if(acceptBW == true){
                $('#inlineRadio2').click();
                $('#bwmark').click();

                $('[data-toggle="popover"]').popover({
                    title : false,
                    html : true,
                    content : '<div class="media"><img src="'+image_pathBW+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                });

                $('#colorMarkBWInline').attr("src", image_pathBW);
                $('#nextLink').attr("href", nextLinkURL);
                $('#nextLinkIcon').attr("href", nextLinkURL);
                $('.next-button').css("background-color", "rgb(55,69,120)");
            }
            else{
                if(image_path != null){

                    $('[data-toggle="popover"]').popover({
                        title : false,
                        html : true,
                        content : '<div class="media"><img src="'+image_path+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                    });

                    $('#colorMarkInline').attr("src", image_path);
                    $('#nextLink').attr("href", nextLinkURL);
                    $('#nextLinkIcon').attr("href", nextLinkURL);
                    $('.next-button').css("background-color", "rgb(55,69,120)");

                }
            }

        }
        if(colorClaim == true){
            $('#inlineRadio1').click();
            if(image_path != null){

                $('[data-toggle="popover"]').popover({
                    title : false,
                    html : true,
                    content : '<div class="media"><img src="'+image_path+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                });
                $('#colorMarkInline').attr("src", image_path);
                $('#nextLink').attr("href", nextLinkURL);
                $('#nextLinkIcon').attr("href", nextLinkURL);
                $('.next-button').css("background-color", "rgb(55,69,120)");

            }
        }


        // listener for mark image widget popover
        $( '#togglepop' ).click(function() {
            $( this ).toggleClass( 'focus' );
            $(this).html() === '<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Hide My Mark'
                ? $(this).html('<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Show My Mark')
                : $(this).html('<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Hide My Mark');
        });



    });
</script>

</body>
</html>