<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layoutSession :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>User Home Page</title>
</head>
<body>

<!-- End Navbar -->
<div class="content" style="display: none; background-color: white; min-height: 800px;" >
    <div class="container-fluid"  >

        <div class="col-sm-16" >
            <div class="form-container base-page" style="position: relative; top:20px;">

                <div class="row">
                    <div class="col-sm-6">
                        <div style="position: relative; top:50px; margin-left: 40px; margin-bottom: 5px; margin-top: 20px; min-height: 90px;">
                            <h1><b style="opacity: 1; mix-blend-mode: normal; color: rgb(0, 0, 0); font-size: 36px; font-weight: normal; font-style: normal; text-decoration: none; text-align: left; text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.16667px; width: 597px; height: 41px; transform: rotate(0deg) translate(37px, 138px) rotate(0deg);">Banner place holder</b></h1>
                        </div>
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-6">
                        <div style="position: relative; top:50px; margin-left: 40px; margin-bottom: 5px; margin-top: 20px; min-height: 90px;">
                            <h1><b style="opacity: 1; mix-blend-mode: normal; color: rgb(0, 0, 0); font-size: 36px; font-weight: normal; font-style: normal; text-decoration: none; text-align: left; text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.16667px; width: 597px; height: 41px; transform: rotate(0deg) translate(37px, 138px) rotate(0deg);">Attorney Information</b></h1>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="banner-message"  style="position: relative;top:80px; margin-left: 40px; margin-bottom: 50px;">
                            <span ><h6><b style="color: red;" th:text="${message}">Oopsss!!</b></h6></span>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>
</div>



</div>
<!-- end of main content-->






<script>
    $(document).ready(function() {

        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);


    });

</script>

</body>
</html>