<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/ApplicationFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title></title>
</head>Mark Details
<body>
<div class="row content" style="position: relative; display: none; ">
    <main class="col-xs-12 col-sm-8 col-lg-6" style="min-width: 860px;">
        <div class="row sticky" id="contacts-ui" style=" display:none; position: fixed; top:500px; right:222px;  max-height: 10px;">


            <div class="row" style="position: relative; top: -150px;max-height: 10px; " >
                <div class="col-sm-12" style="max-height: 10px;">
                    <div class="col-sm-9" style="max-height: 10px;" >

                    </div>

                    <div class="col-sm-3">
                        <div class="banner-message"  style="position: relative;top:-225px; ">



                            <div class="contacts-Table " style=" display:none; border: rgb(235,235,235); min-width: 280px; max-width: 280px; border-width: 1px; border: solid; padding: 15px; min-height: 200px; max-height: 200px;position: relative; top:-20px; ">
                                <div style="margin: 3px; position: relative; top:-5px;">
                                    <img th:src="@{/resources/images/placeholder-icon.jpg}" style="position: relative; left:-5px; max-width: 250px; max-height: 200px;"  id="markImage" />
                                </div>
                            </div>





                        </div>

                    </div>
                </div>
            </div>


        </div><!--end row sticky -->
        <!--START Content Div-->
        <div class="row" style="position: relative; top:-235px; left:-135px;">
            <div class="col-xs-12 text-left">

                <section class="col-xs-12 steps breadcrumb-steps"  style="position: relative;  left:-55px;">
                    <div class="col-xs-2 one done">
                        <div class="col-xs-4">
                            <span>1</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Your details</p>
                        </div>
                    </div>
                    <div class="col-xs-2 two active">
                        <div class="col-xs-4">
                            <span>2</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Trademark Details</p>
                        </div>
                    </div>
                    <div class="col-xs-2 three">
                        <div class="col-xs-4">
                            <span>3</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Goods and Services</p>
                        </div>
                    </div>
                    <div class="col-xs-2 four">
                        <div class="col-xs-4">
                            <span>4</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Basis</p>
                        </div>
                    </div>
                    <div class="col-xs-2 five">
                        <div class="col-xs-4">
                            <span>5</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Additional information</p>
                        </div>
                    </div>
                    <div class="col-xs-2 six">
                        <div class="col-xs-4">
                            <span>6</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Confirm and pay</p>
                        </div>
                    </div>
                </section>

                <h1>Trademark Details</h1>
                <p class="required"><span class="weight600">&#42; = Required</span></p>
                <!--START Application Type-->
                <div class="col-xs-12" style="position: relative; left:-55px;">
                    <div class="card-text">
                        <h2 class="card-title weight600" id="applicationtype">Mark Type</h2>
                    </div>
                </div>
                <p id="typemark"><span class="weight600">&#42;</span> What type of mark are you applying for?<!--<i data-toggle="tooltip" class="material-icons" title="Long copy here." style="position: relative; top:8px; right:-25px;">info_outline</i>--></p>
                <fieldset>
                    <legend>Select the type of mark you are applying for</legend>
                    <div>
                        <input class="form-check-input checkmark" type="checkbox" value="Trademark / Servicemark" role="checkbox" aria-checked="false" tabindex="0" aria-labelledby="tradeserv2" id="tradeserv">
                        <label class="form-check-label form-check" for="tradeserv" id="tradeserv2"><span class="radio notspecial">Trademark / Servicemark</span></label>
                    </div>
                    <div role="heading" aria-level="3">
                        <button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" data-target="#markoptions" aria-controls="markoptions" aria-expanded="false" id="optionsbtn"><span class="glyphicon glyphicon-triangle-right"></span>Uncommon Mark Options</button>
                    </div>
                    <div id="markoptions" class="collapse Accordion-panel" role="region" aria-labelledby="optionsbtn">
                        <div class="Accordion">
                            <input class="form-check-input checkmark" type="checkbox" value="Certification" aria-checked="false" tabindex="0" aria-labelledby="cert" id="certcheck">
                            <label class="form-check-label form-check" for="certcheck" id="cert"><span class="radio notspecial">Certification</span></label>
                            <input class="form-check-input checkmark" type="checkbox" value="Collective" aria-checked="false" tabindex="0" id="collectcheck" aria-labelledby="collect">
                            <label class="form-check-label form-check" for="collectcheck" id="collect2"><span class="radio notspecial" id="collect">Collective</span></label>
                            <input class="form-check-input checkmark" type="checkbox" value="Collective Membership" aria-checked="false" tabindex="0" aria-labelledby="collectm" id="collectmember">
                            <label class="form-check-label form-check" for="collectmember" id="collectmemb"><span class="radio notspecial" id="collectm">Collective Membership</span></label>
                        </div>
                    </div>
                </fieldset>

                <!--END Application Type-->
            </div><!--END RADIO container-->

        </div><!--END row-->

        <!--START Tiles-->
        <div class="row" id="panels" style="position: relative; top:-205px; left:-135px; ">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h3>Standard Character</h3>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="/application/MarkExamples/?anchorID=top" target="_blank" class="right">Examples</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body nocontent match" role="button" aria-label="select standard character mark">
                                <div class="col-xs-5">
                                    <img th:src="@{/resources/images/FontAwesome47-2.png}" alt="" class="img-responsive">
                                </div>
                                <div class="col-xs-7">
                                    <p class="right">Text only, with no particular stylization or font</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h3>Stylized</h3>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="/application/MarkExamples/?anchorID=stylized" target="_blank" class="right">Examples</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body nocontent" role="button" aria-label="select stylized mark">
                                <div class="col-xs-5">
                                   <img th:src="@{/resources/images/abc_lobster.gif}" alt="" class="img-responsive">
                                </div>
                                <div class="col-xs-7">
                                    <p class="right">Text in a particular style or font</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h3>Design Only</h3>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="/application/MarkExamples/?anchorID=designonly" target="_blank" class="right align-middle">Examples</a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                <div class="col-xs-12">
                                    <img th:src="@{/resources/images/RetinaIcon-2.png}" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-8">
                                        <h3>Design with Text</h3>
                                    </div>
                                    <div class="col-xs-4">
                                        <a href="/application/MarkExamples/?anchorID=designwithtext" target="_blank" class="right align-middle">Examples</a>
                                    </div>
                                </div>
                            </div>
                            <div  id="design-with-text-panel" class="panel-body nocontent" role="button" aria-label="select design with text mark" URI="/mark/designWithText/?trademarkID=" mark-type="Design%20with%20Text">

                                <div class="col-xs-12">
                                    <img th:src="@{/resources/images/RetinaIcon-3.png}" alt="" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--START Hide / Show Additional Mark Examples-->
                    <div class="row">
                        <div class="col-xs-12 text-left">
                            <div id="moremarkoptions" class="collapse Accordion-panel" role="region" aria-labelledby="moreoptionsbtn">
                                <div class="Accordion">
                                    <div class="col-sm-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <h3>Configuration 3D</h3>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="/application/MarkExamples/?anchorID=configuration3d" target="_blank" class="right align-middle">Examples</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/resources/images/RetinaIcon_1.svg}"alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-8" style="padding-right: 0;">
                                                        <h3>Configuration 3D with Text</h3>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="/application/MarkExamples/?anchorID=configuration3dtext" target="_blank" class="right align-middle">Examples</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/resources/images/RetinaIcon_2.svg}" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <h3>Sound</h3>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="/application/MarkExamples/?anchorID=sound" target="_blank" class="right align-middle">Examples</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/resources/images/PixleIcon_1.svg}" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <h3>Sound Composite</h3>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="/application/MarkExamples/?anchorID=soundcomposite" target="_blank" class="right align-middle">Examples</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/resources/images/PixleIcon_2.svg}" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <h3>Scent</h3>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="/application/MarkExamples/?anchorID=scent" target="_blank" class="right align-middle">Examples</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/resources/images/nose-c-52601-jpg.jpg}" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <h3>Tactile</h3>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="/application/MarkExamples/?anchorID=tactile" target="_blank" class="right align-middle">Examples</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/resources/images/yuo-04-e-11-d-jpg.jpg}" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <h3>Color Only</h3>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="/application/MarkExamples/?anchorID=coloronly" target="_blank" class="right align-middle">Examples</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/resources/images/col-7864-bc-jpg.jpg}" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <h3>Motion</h3>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="/application/MarkExamples/?anchorID=motion" target="_blank" class="right align-middle">Examples</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/resources/images/adf-d-8-e-123-jpg.jpg}"alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <h3>Motion with Text</h3>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="/application/MarkExamples/?anchorID=motionwithtext" target="_blank" class="right align-middle">Examples</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                <div class="col-xs-12">
                                                    <img th:src="@{/resources/images/adf-d-8-e-123-jpg_2.jpg}" alt="" class="img-responsive">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="row">
                                                    <div class="col-xs-8">
                                                        <h3>Other</h3>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <a href="/application/MarkExamples/?anchorID=other" target="_blank" class="right align-middle">Examples</a>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body nocontent" role="button" aria-label="select design only mark">
                                                <div class="col-xs-5">
                                                    <!--<img src="images/RetinaIcon-3.png" alt="" class="img-responsive">-->
                                                </div>
                                                <div class="col-xs-7">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="heading" aria-level="3" style="position: relative; right:-360px; max-height: 20px; max-width: 100px;" >
                                <button type="button" class="btn btn-primary Accordion-trigger" data-toggle="collapse" data-target="#moremarkoptions" aria-controls="markoptions" aria-expanded="false" id="moreoptionsbtn" style="width: 155px; padding: 5px; height: 55px; color: white; font-weight: bold;">See More Types</button>
                            </div>
                        </div>
                    </div>
                    <!--END Hide / Show Additional Mark Examples-->

                </div>

            </div><!--END row-->



        </div><!--END panels row-->

        <div class="row navigation-row" style=" max-height: 100px; position: relative; bottom: -111px; right: -111px; margin-bottom: 111px; ">

            <div class="col-sm-2" style="position: relative; left:-333px;">
                <span class="btn btn-md prev-button"  style=" padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(55, 69, 120);  color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;    font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="prevLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;left:-5px;" ><i class="material-icons rotate-180">exit_to_app</i></a><a id="prevLink" style="color: white; text-decoration: none;position: relative; top:-10px;" href="">Prev</a></span>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>
            <div class="col-sm-2"></div>

            <div class="col-sm-2" style="position:relative; right:-55px; ">
                <span class="btn btn-md next-button"  style="padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(128,128,128); color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;   font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="nextLink" style="color: white; text-decoration: none; position: relative; top:-10px;" >Next</a><a id="nextLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;right:-5px;" ><i class="material-icons">exit_to_app</i></a></span>
            </div>

        </div>
    </main>
</div><!--END Tiles row-->

<script th:inline="javascript">

    /*<![CDATA[*/


    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var host_name= /*[[${hostBean.host}]]*/ 'User Name';
    var host_port= /*[[${hostBean.port}]]*/ 'User Name';


    var host = host_name+":"+host_port;
    var markType = /*[[${baseTrademarkApplication.tradeMark.trademarkDesignType}]]*/ 'User Name';

    /*]]>*/
</script>



<script>

    var nextLinkURL ="";
    var prevLinkURL = "../../application/OwnerSetView/?trademarkID="+appInternalID;

</script>


<script>


    // next link url to enable  for u.s individual href="http://localhost:8080/application/owner/info"
    $(document).ready(function() {
        setTimeout(function () {
            $('#content').fadeIn(500);
        }, 500);

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#panels').fadeIn(500);
        }, 500);


        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#contacts-ui').fadeIn(500);


        }, 500);

        $('.glyphicon').click(function () {
            $(this).toggleClass("glyphicon-triangle-right").toggleClass("glyphicon-triangle-bottom");
        });

        $('[data-toggle="popover"]').popover({
            title : false,
            html : true,
            content : '<div class="media"><img src="../../resources/images/placeholder-icon.jpg" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
        });

        $( '#togglepop' ).click(function() {
            $( this ).toggleClass( 'focus' );
            $(this).html() === '<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Hide My Mark'
                ? $(this).html('<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Show My Mark')
                : $(this).html('<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Hide My Mark');
        });


        $('[data-toggle="tooltip"]').tooltip();

        $('#prevLink').attr("href",prevLinkURL);
        $('#prevLinkIcon').attr("href",prevLinkURL);

        if(markType == "Design with Text"){
            $('#design-with-text-panel').addClass("highlight");
            $('#design-with-text-panel').addClass("focus");

            nextLinkURL="/mark/designWithText/?trademarkID="+appInternalID;
            $('#nextLink').attr("href",nextLinkURL);
            $('#nextLinkIcon').attr("href",nextLinkURL);
            $('.next-button').css("background-color","rgb(55, 69, 120)" );

        }



        $('.panel-body').click(function () {
           nextLinkURL = $(this).attr("URI")+appInternalID;
           var designType = $(this).attr("mark-Type");
           $('#nextLink').attr("href",nextLinkURL);
           $('#nextLinkIcon').attr("href",nextLinkURL);
           $('.next-button').css("background-color","rgb(55, 69, 120)" );
           savemarkDesignType(designType,appInternalID);


        });






        // aJAX
        /////////////////////////////////////////////////////
        function savemarkDesignType( field_value,application_internal_id) {
            //alert(field_name_prefix);
            // send state, and token to server
            // token will be generated in the controller and added to the view
            // similar to how access token works ...a token is tied to a user
            // access token will be passed in through model
            //
            // var tokenValue = '${token}';  // token is the model attribute name
            // we are not using secured tokens for the prototype
            // we will secure it by adding ssl and https support
            //var field_value = $(this).val();
            //alert(field_value);
            $.ajax({
                //url: host+"/REST/apiGateway/application/update/"+field_name_prefix+"/"+field_value+"/"+applicaiton_internal_id,
                url: "../../REST/apiGateway/mark/designType/"+field_value+"/"+application_internal_id,
                type: 'GET',
                success: function(data){
                    // parse out status msg:
                    var s_code = data.substring(data.indexOf("status:")+7, data.indexOf("status:")+4+7);
                    var s_msg = data.substring(data.indexOf("msg:")+4, data.length-2);
                    if(s_code.trim() == "200"){
                        //if(data.contains("status: 200")){
                        // show confirmation check mark on form
                        //$('#toggle').delay(1000).click();
                        // add time stamp from server side
                        $(".autoSaveMessageArea span").fadeOut(500);
                        setTimeout(function() {
                            // after 1000 ms we add the class animated to the login/register card
                            $(".autoSaveMessageArea span").text(s_msg);
                            $(".autoSaveMessageArea span").fadeIn(1000);
                        }, 500);
                        // animation rendering control

                    }
                    else{
                        //$('.circle-loader').fadeOut(100);
                        //$('.x-mark').fadeIn(500);
                        //$(".validationMsgArea span").text(s_msg);
                        //$(".validationMsgArea span").css('color','red');
                    }
                },
                error: function(data) {
                    //$('.circle-loader').fadeOut(100);
                    //$('.x-mark').fadeIn(500);
                    console.log(data);
                    // set message to div area ...fields can not be left null
                    //$(".validationMsgArea span").text("You can not leave any fields empty.");
                    //$(".validationMsgArea span").css('color','red');
                }
            });
        } // end of function
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////////////////////////////////




    });
</script>

</body>
</html>