<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/LynnFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title></title>
</head>Mark Details
<body>
<div class="row content" style="position: relative; ">
    <main class="col-xs-12 col-sm-8 col-lg-6" style="min-width: 860px;">
        <div class="row sticky" id="contacts-ui" style=" display:none; position: fixed; top:500px; right:222px;  max-height: 10px;">



            <div class="row" style="position: relative; top: -150px;max-height: 10px; " >
                <div class="col-sm-12" style="max-height: 10px;">
                    <div class="col-sm-9" style="max-height: 10px;" >

                    </div>

                    <div class="col-sm-3">
                        <div class="banner-message"  style="position: relative;top:-225px; ">

                            <div style="min-width: 280px; max-width: 280px;">
                                <ul class="aside-fees">
                                    <!-- 			BASIC/COLLECTIVE MARK -->
                                    <li class="fee-item collapse" style="height: 0px;">
                                        <span class="fee-description">Basic fee</span>
                                        <span class="fee-value fee-basic">225 $</span>
                                    </li>

                                    <!-- 			EXTRA CLASS FEE -->
                                    <li class="fee-item collapse" style="height: 0px;">
                                        <span class="fee-description">Extra Class Fee</span>
                                        <span class="fee-value fee-extra-class">0 $</span>
                                    </li>

                                    <!-- 			TOTAL CLASSES -->
                                    <li class="fee-item collapse" style="height: 0px;">
                                        <span class="fee-description">Total classes</span>
                                        <span class="fee-value fee-total-classes">0</span>
                                    </li>

                                    <!-- 			TOTAL -->
                                    <li class="fee-item-total collapsed" data-toggle="collapse" data-target=".fee-item">
                                        <span class="fee-description-total">Total fee</span>
                                        <span class="fee-value fee-total">225 $</span>
                                    </li>
                                </ul>

                            </div>

                            <div class="contacts-Table " style="border: rgb(235,235,235); min-width: 280px; max-width: 280px; border-width: 1px; border: solid; padding: 15px; min-height: 200px; max-height: 200px;position: relative; top:-20px; ">
                                <div style="margin: 3px; position: relative; top:-5px;">
                                <img th:src="@{/resources/images/placeholder-icon.jpg}" style="position: relative; left:-5px; max-width: 250px; max-height: 200px;"  id="markImage" />
                                </div>
                            </div>

                            <div class="row navigation-row" style=" max-height: 100px; position: relative; min-width: 350px; max-width: 325px;">
                                <div class="col-sm-2">
                                    <span class="btn btn-md prev-button"  style=" padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(55, 69, 120);  color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;    font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="prevLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;left:-5px;" ><i class="material-icons rotate-180">exit_to_app</i></a><a id="prevLink" style="color: white; text-decoration: none;position: relative; top:-10px;" href="">Prev</a></span>
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-2">
                                </div>


                                <div class="col-sm-2" style="position:relative; left:-10px; ">
                                         <span class="btn btn-md next-button"  style="padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(128,128,128); color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;   font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="nextLink" style="color: white; text-decoration: none; position: relative; top:-10px;" >Next</a><a id="nextLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;right:-5px;" ><i class="material-icons">exit_to_app</i></a><span>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>


        </div><!--end row sticky -->
        <!--START Content Div-->
        <div class="row" style="position: relative; top:-235px; left:-135px;">
            <div class="col-xs-12 text-left">

                <section class="col-xs-12 steps breadcrumb-steps"  style="position: relative;  left:-55px;">
                    <div class="col-xs-2 one">
                        <div class="col-xs-4">
                            <span>1</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Your details</p>
                        </div>
                    </div>
                    <div class="col-xs-2 two active">
                        <div class="col-xs-4">
                            <span>2</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Trademark Details</p>
                        </div>
                    </div>
                    <div class="col-xs-2 three">
                        <div class="col-xs-4">
                            <span>3</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Goods and Services</p>
                        </div>
                    </div>
                    <div class="col-xs-2 four">
                        <div class="col-xs-4">
                            <span>4</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Basis</p>
                        </div>
                    </div>
                    <div class="col-xs-2 five">
                        <div class="col-xs-4">
                            <span>5</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Additional information</p>
                        </div>
                    </div>
                    <div class="col-xs-2 six">
                        <div class="col-xs-4">
                            <span>6</span>
                        </div>
                        <div class="col-xs-8 vertctr">
                            <p>Confirm and pay</p>
                        </div>
                    </div>
                </section>


                <!--END Application Type-->
            </div><!--END RADIO container-->

        </div><!--END row-->

        <!--START Tiles-->
        <div class="row" id="panels" style="position: relative; top:-222px; left:-135px; ">
            <h1>Trademark Details &#8211; Design with Text</h1>
            <p class="required"><span class="weight600">&#42; = Required</span></p>
            <!--START Trademark Examples-->
            <!--START Standard Character-->
            <div class="row">
                <div class="col-xs-12" style="position: relative; left:-55px;">
                    <div class="card-text">
                        <h2 class="card-title weight600">Mark Information</h2>
                    </div>

                    <div class="col-xs-12" id="uploadmark">
                        <p id="typemark"><span class="weight600">&#42;</span> Upload a file containing your mark.</p>

                        <!--Start Dropzone-->
                        <!--<p>Or drag and drop files below</p>-->
                        <div class="upload-drop-zone col-xs-12 col-md-10 col-lg-8" id="drop-zone" >
                            <p><span class="glyphicon glyphicon-upload"></span><br><br>
                                Drag and drop files or click here to browse.<br><br>
                                <span>Permitted file types include .doc, .docx, xlsx, csv, ppt, jpg, png, tiff, or pdf.</span></p>

                        </div>


                        <!-- Upload Finished -->
                        <div class="js-upload-finished col-xs-12 col-md-10 col-lg-8">
                            <p>Processed files</p>
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-success"></a>
                            </div>

                        </div>

                        <div class="row" style="position: relative; top:50px; max-width: 850px;">

                            <form action="/Mark/add" method="post" enctype="multipart/form-data" id="addNewMark" class="form-horizontal">
                                <fieldset>
                                    <legend class="sr-only"><span>File upload</span></legend>
                                    <div>
                                        <label for="file" class="sr-only">Upload file</label>
                                        <input  style="max-width: 555px; position: relative; right:-152px;" type="file" name="file" id="file" class="form-control" accept=".doc,.docx,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,image/png, image/jpeg,image/tiff,.xls,.xlxs,.csv,.ppt">
                                    </div>


                                    <input  style=" position:relative; left: -200px; width: 1px; height:1px;" name="AppInternalID" id="appInternalIDForm"   value="xxxxxxxx" />
                                </fieldset>

                                <button type="submit" id="addOwnerConfirm" class="btn btn-sm" >Upload files</button>
                            </form>
                        </div>
                    </div>

                </div><!--END col-->
            </div><!--END row-->

        </div><!--END panels row-->
    </main>
</div><!--END Tiles row-->

<script th:inline="javascript">

    /*<![CDATA[*/


    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var host_name= /*[[${hostBean.host}]]*/ 'User Name';
    var host_port= /*[[${hostBean.port}]]*/ 'User Name';
    var  image_path = /*[[${markImagePath}]]*/ 'User Name';
    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';

    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';



    var host = host_name+":"+host_port;


    /*]]>*/
</script>



<script>

    var nextLinkURL = "../../mark/designWithTextDetails/?trademarkID="+appInternalID;
    var prevLinkURL = "../../application/MarkDetails/?trademarkID="+appInternalID;


</script>


<script>
    $('#appInternalIDForm').val(appInternalID);

    if(image_path != null){
        $('#markImage').attr("src",image_path );
        $('#nextLink').attr("href",nextLinkURL);
        $('#nextLinkIcon').attr("href",nextLinkURL);


    }



    // next link url to enable  for u.s individual href="http://localhost:8080/application/owner/info"
    $(document).ready(function() {
        setTimeout(function () {
            $('#content').fadeIn(500);
        }, 500);

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#panels').fadeIn(500);
        }, 500);


        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#contacts-ui').fadeIn(500);


        }, 500);

        $('.glyphicon').click(function () {
            $(this).toggleClass("glyphicon-triangle-right").toggleClass("glyphicon-triangle-bottom");
        });


        $('[data-toggle="tooltip"]').tooltip();

        $('#prevLink').attr("href",prevLinkURL);
        $('#prevLinkIcon').attr("href",prevLinkURL);




        if(colorClaim == null){
            if(image_path != null){
                $('#markImage').attr("src",image_path );

            }
        }

        if(colorClaim == false){

            if(acceptBW == true){
                $('#markImage').attr("src",image_pathBW );
            }

        }

    });



        //display file_icon
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#fileimage')
                        .attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }


</script>

</body>
</html>