<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/LynnFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Owner Information</title>
</head>
<body>

<!-- End Navbar -->

<div class="content" style="display: none; background-color: white; min-height: 400px; min-width: 1200px; position: relative; bottom: -7%;" >
    <div class="container-fluid"  >
        <div class="row sticky" id="widget-UI" style=" display:none; position: fixed; top:500px; right:400px;  max-height: 10px; ">


            <div class="row" style="position: relative; top: -150px;max-height: 10px; " >
                <div class="col-sm-12" style="max-height: 10px;">
                    <div class="col-sm-9" style="max-height: 10px;" >

                    </div>

                    <div class="col-sm-3">
                        <div class="banner-message"  style="position: relative;top:-225px; ">

                            <div style="min-width: 280px; max-width: 280px;">
                                <ul class="aside-fees">
                                    <!-- 			BASIC/COLLECTIVE MARK -->
                                    <li class="fee-item collapse" style="height: 0px;">
                                        <span class="fee-description">Basic fee</span>
                                        <span class="fee-value fee-basic">225 $</span>
                                    </li>

                                    <!-- 			EXTRA CLASS FEE -->
                                    <li class="fee-item collapse" style="height: 0px;">
                                        <span class="fee-description">Extra Class Fee</span>
                                        <span class="fee-value fee-extra-class">0 $</span>
                                    </li>

                                    <!-- 			TOTAL CLASSES -->
                                    <li class="fee-item collapse" style="height: 0px;">
                                        <span class="fee-description">Total classes</span>
                                        <span class="fee-value fee-total-classes">0</span>
                                    </li>

                                    <!-- 			TOTAL -->
                                    <li class="fee-item-total collapsed" data-toggle="collapse" data-target=".fee-item">
                                        <span class="fee-description-total">Total fee</span>
                                        <span class="fee-value fee-total">225 $</span>
                                    </li>
                                </ul>

                            </div>

                            <div class="contacts-Table " style="border: rgb(235,235,235); min-width: 280px; max-width: 280px; border-width: 1px; border: solid; padding: 15px; min-height: 420px; max-height: 420px; ">
                                <table id="ManagedContacts" class="table-no-bordered table-hover" cellpadding="1" style="min-width: 280px; max-width: 280px; margin-right: 4px; margin-top: 10px; margin-bottom: 10px; margin-left: 4px; "></table>
                            </div>

                            <div class="row navigation-row" style=" max-height: 100px; position: relative; bottom:-60px; min-width: 350px; max-width: 325px;">
                                <div class="col-sm-2">
                                    <span class="btn btn-md prev-button"  style=" border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(55, 69, 120);  color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;    font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="prevLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;left:-5px;" ><i class="material-icons rotate-180">exit_to_app</i></a><a id="prevLink" style="color: white; text-decoration: none;position: relative; top:-10px;" href="">Prev</a></span>
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-2">
                                </div>


                                <div class="col-sm-2" style="position:relative; left:-10px; ">
                                         <span class="btn btn-md next-button"  style=" border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(55, 69, 120); color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;   font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="nextLink" style="color: white; text-decoration: none; position: relative; top:-10px;" >Next</a><a id="nextLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;right:-5px;" ><i class="material-icons">exit_to_app</i></a><span>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>


        </div><!--end row sticky -->


        <div class="row" style="position: relative; top:-75px;  max-width: 850px; max-height: 100px;margin-bottom: 30px;">

            <section class="col-xs-12 steps breadcrumb-steps"  style="position: relative;  right:-10px;">
                <div class="col-xs-2 one active">
                    <div class="col-xs-4">
                        <span>1</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Your details</p>
                    </div>
                </div>
                <div class="col-xs-2 two">
                    <div class="col-xs-4">
                        <span>2</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Trademark Details</p>
                    </div>
                </div>
                <div class="col-xs-2 three">
                    <div class="col-xs-4">
                        <span>3</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Goods and Services</p>
                    </div>
                </div>
                <div class="col-xs-2 four">
                    <div class="col-xs-4">
                        <span>4</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Basis</p>
                    </div>
                </div>
                <div class="col-xs-2 five">
                    <div class="col-xs-4">
                        <span>5</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Additional information</p>
                    </div>
                </div>
                <div class="col-xs-2 six">
                    <div class="col-xs-4">
                        <span>6</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Confirm and pay</p>
                    </div>
                </div>
            </section>



        </div>



        <!--end of main banner section -->

            <div class="row" style="position: relative; top:-100px;  max-width:850px;" >
                <div class="col-md-6">
                    <div style="position: relative; top:-10px; margin-left: 35px; margin-bottom: 5px; margin-top: 10px; min-height: 90px;">
                        <h1><b style="opacity: 1; mix-blend-mode: normal; color: rgb(0, 0, 0); font-size: 36px; font-weight: normal; font-style: normal; text-decoration: none; text-align: left; text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.16667px; width: 597px; height: 41px; transform: rotate(0deg) translate(37px, 138px) rotate(0deg);">Owner Information</b></h1>
                    </div>
                </div>

            </div>  <!-- end of main content row 1 -->



            <div class="row" id="contacts-ui" style=" display: none; position: relative; top:-100px; right:-90px;  max-width:850px;">

                <div class="row" style="">

                    <div class="col-sm-3">
                    <h5><b>Trademark Application Owner Details</b></h5>
                    </div>

                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3">
                    </div>

                    <div class="col-sm-3" style="position: relative; top: -10px; right:-30px; ">
                        <span id="addOwneronfirm" class=" btn-sm btn"  type="button"  style=" padding:5px; max-width: 170px; padding:5px;  color: white; background-color: rgb(52, 152, 219); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px;  position: relative;top:20px;"><i class="material-icons" style="position: relative; left: -10px;">person_add</i><b style="position: relative; top:-5px;"><a id="addOwnerLink" style="color: white; text-decoration: none;" >Add<br> Additional Owner</a></b></span>
                    </div>

                </div>

                <div class="accordion" id="accordionExample" style="position: relative; right:-10px; margin-top: 30px;">


<!--only one owner to display -->
                        <!--item 1 -->
                    <th:block th:each="owner : ${baseTrademarkApplication.owners}">
                        <div class="card" id="contact" style="max-width: 850px; background-color: white; ">
                            <div class="card-header" id="headingTwo"  style="background-color: white;">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="material-icons" style="position: relative; bottom: -5px;">contacts</i>

                                    </div>
                                    <div class="col-sm-1">
                                        <i class="material-icons collapsed" data-toggle="collapse" th:attr="data-target='#'+${owner.id}"   aria-expanded="false" aria-controls="collapseTwo" style="position: relative; bottom:-5px; left:-20px;">import_export</i>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row">
                                           <b style="position: relative; bottom:-5px;" th:text="${owner.ownerDisplayname}">Owner Name</b>
                                        </div>

                                    </div>

                                    <div class="col-sm-3" style="position: relative; left:-55px;">
                                       <b style="position: relative;  " th:text="${owner.email}"> Attorney@Email.com</b>
                                    </div>

                                    <div class="col-sm-3">
                                        <i class="material-icons">account_circle</i>   <b style="position: relative; top:-5px;  " th:text="${owner.getOwnersubType()}"> Attorney Firm, LLC </b>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="material-icons" style="position: relative; bottom: -3px;">remove_circle</i>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div th:attr="id=${owner.id}"  class="collapse in" aria-labelledby="headingTwo" data-parent="#accordionExample" style="max-width: 850px; margin-bottom: 10px;">
                            <div class="card-body">

                                <div class="row" style="position: relative; right:-111px; margin-top: 10px;">
                                        <span class="collapsed"  data-toggle="collapse" th:attr="data-target='#'+${owner.id}+'a'"  aria-expanded="false" aria-controls="collapseTwoAddress">
                                            <i class="material-icons">keyboard_arrow_right</i><b style="position: relative; top:-7px;"> Address Information</b>
                                        </span>

                                    <div th:attr="id=${owner.id}+'a'"  class="collapse" aria-labelledby="headingTwoAddress" data-parent="#accordionExample" style="max-width: 850px;">
                                        <div class="card-body contact-field-card-body">

                                            <span style="position: relative; right:-30px;" th:text="${owner.address}+' '+${owner.city}+', '+${owner.state}+' '+${owner.zipcode}"> 1115 Reserve Champion Drive, Rockville MD 20850</span>

                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="position: relative; right:-111px;">
                                            <span class="collapsed"  data-toggle="collapse" th:attr="data-target='#'+${owner.id}+'b'"  aria-expanded="false" aria-controls="collapseTwoAffiliation">
                                                <i class="material-icons">keyboard_arrow_right</i> <b style="position: relative; top:-7px;">Website URL</b>
                                            </span>

                                    <div th:attr="id=${owner.id}+'b'"  class="collapse" aria-labelledby="headingTwoAffiliation" data-parent="#accordionExample" style="max-width: 850px;">
                                        <div class="card-body contact-field-card-body" >

                                            <span style="position: relative; right:-30px;"  th:text="${owner.webSiteURL}">Washington Dc Bar Association. Maryland Bar Association.</span>

                                        </div>
                                    </div>
                                </div>

                                <th:block th:each="partner : ${owner.partners}">
                                    <div class="row" style="position: relative; right:-111px;">
                                                <span class="collapsed"  data-toggle="collapse" th:attr="data-target='#'+${owner.id}+${partner.getPartnerCollapseID()}+'c'"  aria-expanded="false" aria-controls="collapseTwoAffiliation">
                                                    <i class="material-icons">keyboard_arrow_right</i> <b style="position: relative; top:-7px;">Partner Info</b>
                                                </span>

                                        <div th:attr="id=${owner.id}+${partner.getPartnerCollapseID()}+'c'"  class="collapse" aria-labelledby="headingTwoAffiliation" data-parent="#accordionExample" style="max-width: 850px;">
                                            <div class="card-body contact-field-card-body" >
                                                <span>Partner name:</span>
                                                <span style="position: relative; right:-30px;"  th:text="${partner.partnerDisplayName}">Washington Dc Bar Association. Maryland Bar Association.</span><br>
                                                <span>Partner Type:</span>
                                                <span style="position: relative; right:-30px;"  th:text="${partner.partnerEntityType}">Washington Dc Bar Association. Maryland Bar Association.</span><br>
                                                <span>Partner State of Organization or Incorporation:</span>
                                                <span style="position: relative; right:-30px;"  th:text="${partner.getOrganizationState}">Washington Dc Bar Association. Maryland Bar Association.</span><br>
                                                <span>Partner Country:</span>
                                                <span style="position: relative; right:-30px;"  th:text="${partner.partnerCitizenship}">Washington Dc Bar Association. Maryland Bar Association.</span><br>

                                            </div>
                                        </div>
                                    </div>
                                </th:block>

                                <div class="row" style="position: relative; right:-137px; margin-top: 10px;">
                                    <b>Phone Number:</b> <input type="text" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;"  th:value="${owner.primaryPhonenumber}" >

                                </div>

                            </div> <!-- end of outter card body -->
                        </div> <!--end of collapse two -->

                        <!-- end of item 1 -->



                    </th:block>



                </div> <!~- end of accordian -->








            </div>



    </div>
</div>






</div>
<!-- end of main content-->







    <!--load data from model -->

    <!--load model attribute for Jquery consumption  -->
    <script th:inline="javascript">

        /*<![CDATA[*/


        var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';
        var host_name= /*[[${hostBean.host}]]*/ 'User Name';
        var host_port= /*[[${hostBean.port}]]*/ 'User Name';
        var host = host_name+":"+host_port;
        var contactNames = /*[[${myManagedContacts.ContactNames}]]*/ 'User Name';
        var selectedContactNames = /*[[${selectedOwners.ContactNames}]]*/ 'User Name';

        /*]]>*/
    </script>



    <script>

        var prevLinkURL = "../../application/OwnerStart/?trademarkID="+appInternalID;
        var nextLinkURL = "../../application/MarkDetails/?trademarkID="+appInternalID;
        var newOwnerLink = "../../owner/entity/?trademarkID="+appInternalID;




    </script>

    <!--load model attribute for Jquery consumption  -->
    <script th:inline="javascript">


    </script>

    <script>
        $(document).ready(function() {

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.content').fadeIn(500);
            }, 500);

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('#contacts-ui').fadeIn(500);
            }, 500);

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('#widget-UI').fadeIn(500);
            }, 500);

            ////////////////////////////////////////
            // set previous link
            /////////////////////////////////////////
            $('#prevLink').attr("href",prevLinkURL);
            $('#prevLinkIcon').attr("href",prevLinkURL);

            $('#nextLink').attr("href",nextLinkURL);
            $('#nextLinkIcon').attr("href",nextLinkURL);

            /////////////////////////////////////////////////
            // check each radio button in accordian..
            // if any is checked .. enable confirm and next buttons
            /////////////////////////////////////////////////
            $('#accordionExample input').each(function () {
                //alert("##############")
                if($(this).is(':checked')){
                    // alert("!!!!!!!!!!!!!!!!")
                    // confirm link only activated oin new primary set
                    $('#next-link-application').css("background-color", "rgb(55, 69, 120)");
                    $('#nextLink').attr("href", nextLinkURL);


                }

            });




            $('#accordionExample').on('click', 'input.primaryLawyer', function () {

                var field_value =  $(this).parent().next().next().next().children().html();


                if(field_value != "") {
                    // set email to confirm button property
                    $('#confirm-link-widget').attr("primary-attorney-email", field_value);

                }
                enableConfirmWidgetLink();
            });
            $('#confirm-link-widget').click( function () {
                // alert("!!!!!!!!!!!!!");
                //alert($(this).attr("primary-attorney-email"));
                var contact_email = $(this).attr("primary-attorney-email");
                setPrimaryAttorneyApplication(contact_email, appInternalID);
                // enable next link ..
                // enable next url ...
                $('#nextLink').attr("href", nextLinkURL);
                $('#next-link-application').css("background-color", "rgb(55, 69, 120)");



            });



            // set add owner link

            $('#addOwnerLink').prop("href", prevLinkURL);


            /////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////////////////////////////////////////


            /////////////////////////////////////////////////////////////////////////
            // add new owner
            /////////////////////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////
            // load correspoinding owner form into modal on open
            ////////////////////////////////////////////////////////////////
            $('#addNewOwnerModal').on('shown.bs.modal', function () {

                $.post(newOwnerLink, function(data){

                    $("#addNewOwnerModalBody").html(data).fadeIn();

                });

            });


            $('#addNewOwnerModal').on('hidden.bs.modal', function () {

                // clean up dynamically loaded html
                $("#addNewOwnerModalBody").html("").fadeIn();

                $("#ownerEntityForm").html("").fadeIn();

            });



            // all text notification should go away by itself

            /////////////////////////////////////////////////////////////////////////////

            var dataSet1 = [


            ];

            //////////////////////////////////////////////////////////////////////////////
            // initialize contacts table with empty values
            //////////////////////////////////////////////////////////////////////////////
            var contactsTable = $('#ManagedContacts').DataTable( {
                data: dataSet1,
                "pageLength": 5,
                "scrollY": "250px",
                "scrollX": "100%",
                "oLanguage": {

                    "sSearch": "<b style=\"position: relative; bottom: -3px; \" > <i style=\"position: relative; right:-197px; \"  class=\"material-icons\">search</i></b>"

                },
                "dom": '<"top"f<"clear">>rt<"bottom"p<"clear">>',
                columns: [
                    { title: ""  },
                    { title: "Contact Name" },
                    { title: "" }

                ]
            } );

            ////////////////////////////////////////////////////////////////////////////////////////////////
            // set overflow hidden for horizontal scroll bar created by y-scroll options on data tables
            // that keeps the data tables view port height constant
            /////////////////////////////////////////////////////////////////////////////////////////////////
            $('.dataTables_scrollBody').css('overflow',  'hidden');


            // load managed contacts from server
            for(var a =0; a <contactNames.length; a++) {
                ///////////////////////////////////////////////////////////////////////////
                // check each name against selected names ...if in selected lis ...
                // add row with check box selected and disabled
                ///////////////////////////////////////////////////////////////////////////
                var selectedContact = false;
                for(var b=0; b <selectedContactNames.length; b++ ){
                    if(contactNames[a] == selectedContactNames[b]){
                        selectedContact = true;
                    }

                }

                if(selectedContact == true){
                    var col1 = "<span class='small-tooltip'><a  style=\" min-width:500px; text-decoration: none;\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Contact is an Owner for this application.\">&nbsp;</a></span><i class='material-icons' style='position: relative; right:-10px;'>check_circle_outline</i>";
                    var col2 = "<b>"+contactNames[a]+"</b>";
                    var col3 = "";
                    contactsTable.row.add([col1, col2, col3]).draw();

                }
                else {
                    var col1 = "<span class='small-tooltip'><a  style=\" min-width:500px; text-decoration: none;\" data-toggle=\"tooltip\" data-placement=\"bottom\" title=\"Copy Contact Information to Owner Form.\">&nbsp;</a></span><i class='material-icons' style='position: relative; right:-10px;'>add_circle_outline</i>";
                    var col2 = "<b>"+contactNames[a]+"</b>";
                    var col3 = "";
                    contactsTable.row.add([col1, col2, col3]).draw();

                }



            }
            // sort and redraw to line up columns
            $('[data-toggle="tooltip"]').tooltip();
            // sort and redraw to line up columns




        });  // end of document ready ()
        /////////////////////////////////////////////////////
        // aJAX
        /////////////////////////////////////////////////////









    </script>

</body>
</html>