<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/LynnFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Owner Information</title>
</head>
<body>

<!-- End Navbar -->

<div class="content" style="display: none; background-color: white; min-height: 400px; min-width: 1200px; position: relative; bottom: -10%;" >
    <div class="container-fluid"  >


            <!--end of main banner section -->

            <div class="row" style="position: relative; ">
                <div class="col-md-6">
                    <div style="position: relative; top:-10px; margin-left: 35px; margin-bottom: 5px; margin-top: 10px; min-height: 90px;">
                        <h1><b style="opacity: 1; mix-blend-mode: normal; color: rgb(0, 0, 0); font-size: 36px; font-weight: normal; font-style: normal; text-decoration: none; text-align: left; text-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1.16667px; width: 597px; height: 41px; transform: rotate(0deg) translate(37px, 138px) rotate(0deg);">Owner Information</b></h1>
                    </div>
                </div>

            </div>  <!-- end of main content row 1 -->



            <div class="row" id="contacts-ui" style=" display: none; position: relative; right:-120px;">

                <div class="row" style="">

                    <div class="col-sm-3">
                    <h5><b>Trademark Application Owner Details</b></h5>
                    </div>
                    <div class="col-sm-3">
                    </div>
                    <div class="col-sm-3" style="position: relative; right:-60px;">
                        <span id="addOwnerConfirm" class=" btn-sm btn"  type="button"  style=" position:relative; bottom:-10px; min-width: 200px; padding:5px;  color: white; background-color: rgb(52, 152, 219); border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-right-radius: 5px; border-top-left-radius: 5px; "><i class="material-icons" style="position: relative; left: -10px;">person_add</i><b style="position: relative; top:-5px;"><a id="addOwnerLink" style="color: white; text-decoration: none;" >Add Additional Owner</a></b></span>
                    </div>
                </div>

                <div class="accordion" id="accordionExample" style="position: relative; right:-10px; margin-top: 30px;">


<!--only one owner to display -->
                        <!--item 1 -->
                    <th:block th:each="owner : ${baseTrademarkApplication.owners}">
                        <div class="card" id="contact" style="max-width: 850px; background-color: white; ">
                            <div class="card-header" id="headingTwo"  style="background-color: white;">
                                <div class="row">
                                    <div class="col-sm-1">
                                        <i class="material-icons" style="position: relative; bottom: -5px;">contacts</i>

                                    </div>
                                    <div class="col-sm-1">
                                        <i class="material-icons collapsed" data-toggle="collapse" th:attr="data-target='#'+${owner.id}"   aria-expanded="false" aria-controls="collapseTwo" style="position: relative; bottom:-5px; left:-20px;">import_export</i>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="row">
                                           <b style="position: relative; bottom:-5px;" th:text="${owner.ownerDisplayname}">Owner Name</b>
                                        </div>

                                    </div>

                                    <div class="col-sm-3" style="position: relative; left:-30px;">
                                        <i class="material-icons" style="position: relative; left:-5px;">contact_mail</i> <b style="position: relative; top:-5px; " th:text="${owner.email}"> Attorney@Email.com</b>
                                    </div>

                                    <div class="col-sm-3">
                                        <i class="material-icons">account_circle</i>   <b style="position: relative; top:-5px;  " th:text="${owner.getOwnersubType()}"> Attorney Firm, LLC </b>
                                    </div>
                                    <div class="col-sm-1">
                                        <i class="material-icons" style="position: relative; bottom: -3px;">remove_circle</i>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div th:attr="id=${owner.id}"  class="collapse in" aria-labelledby="headingTwo" data-parent="#accordionExample" style="max-width: 850px; margin-bottom: 10px;">
                            <div class="card-body">

                                <div class="row" style="position: relative; right:-110px;">
                                        <span class="collapsed"  data-toggle="collapse" th:attr="data-target='#'+${owner.id}+'a'"  aria-expanded="false" aria-controls="collapseTwoAddress">
                                            <i class="material-icons">keyboard_arrow_right</i><b style="position: relative; top:-7px;"> Address Information</b>
                                        </span>

                                    <div th:attr="id=${owner.id}+'a'"  class="collapse" aria-labelledby="headingTwoAddress" data-parent="#accordionExample" style="max-width: 850px;">
                                        <div class="card-body">

                                            <span style="position: relative; right:-30px;" th:text="${owner.address}+' '+${owner.city}+', '+${owner.state}+' '+${owner.zipcode}"> 1115 Reserve Champion Drive, Rockville MD 20850</span>

                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="position: relative; right:-110px;">
                                            <span class="collapsed"  data-toggle="collapse" th:attr="data-target='#'+${owner.id}+'b'"  aria-expanded="false" aria-controls="collapseTwoAffiliation">
                                                <i class="material-icons">keyboard_arrow_right</i> <b style="position: relative; top:-7px;">Website URL</b>
                                            </span>

                                    <div th:attr="id=${owner.id}+'b'"  class="collapse" aria-labelledby="headingTwoAffiliation" data-parent="#accordionExample" style="max-width: 850px;">
                                        <div class="card-body">

                                            <span style="position: relative; right:-30px;"  th:text="${owner.webSiteURL}">Washington Dc Bar Association. Maryland Bar Association.</span>

                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="position: relative; right:-137px; margin-top: 10px;">
                                    <b>Phone Number:</b> <input type="text" style="border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;"  th:value="${owner.primaryPhonenumber}" >

                                </div>

                            </div> <!-- end of outter card body -->
                        </div> <!--end of collapse two -->

                        <!-- end of item 1 -->



                    </th:block>



                </div> <!~- end of accordian -->








            </div>



    </div>
</div>






</div>
<!-- end of main content-->







    <!--load data from model -->

    <!--load model attribute for Jquery consumption  -->
    <script th:inline="javascript">

        /*<![CDATA[*/


        var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';
        var host_name= /*[[${hostBean.host}]]*/ 'User Name';
        var host_port= /*[[${hostBean.port}]]*/ 'User Name';
        var host = host_name+":"+host_port;


        /*]]>*/
    </script>



    <script>

        var prevLinkURL = "../../application/OwnerStart/?trademarkID="+appInternalID;
        var nextLinkURL = "#";
        var newOwnerLink = "../../owner/entity/?trademarkID="+appInternalID;

    </script>

    <!--load model attribute for Jquery consumption  -->
    <script th:inline="javascript">


    </script>

    <script>
        $(document).ready(function() {

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('.content').fadeIn(500);
            }, 500);

            setTimeout(function() {
                // after 1000 ms we add the class animated to the login/register card
                $('#contacts-ui').fadeIn(500);
            }, 500);

            ////////////////////////////////////////
            // set previous link
            /////////////////////////////////////////
            $('#prevLink').attr("href",prevLinkURL);
            $('#prevLinkIcon').attr("href",prevLinkURL);

            /////////////////////////////////////////////////
            // check each radio button in accordian..
            // if any is checked .. enable confirm and next buttons
            /////////////////////////////////////////////////
            $('#accordionExample input').each(function () {
                //alert("##############")
                if($(this).is(':checked')){
                    // alert("!!!!!!!!!!!!!!!!")
                    // confirm link only activated oin new primary set
                    $('#next-link-application').css("background-color", "rgb(55, 69, 120)");
                    $('#nextLink').attr("href", nextLinkURL);


                }

            });




            $('#accordionExample').on('click', 'input.primaryLawyer', function () {

                var field_value =  $(this).parent().next().next().next().children().html();


                if(field_value != "") {
                    // set email to confirm button property
                    $('#confirm-link-widget').attr("primary-attorney-email", field_value);

                }
                enableConfirmWidgetLink();
            });
            $('#confirm-link-widget').click( function () {
                // alert("!!!!!!!!!!!!!");
                //alert($(this).attr("primary-attorney-email"));
                var contact_email = $(this).attr("primary-attorney-email");
                setPrimaryAttorneyApplication(contact_email, appInternalID);
                // enable next link ..
                // enable next url ...
                $('#nextLink').attr("href", nextLinkURL);
                $('#next-link-application').css("background-color", "rgb(55, 69, 120)");



            });



            // set add owner link

            $('#addOwnerLink').prop("href", prevLinkURL);


            /////////////////////////////////////////////////////////////////////////
            /////////////////////////////////////////////////////////////////////////


            /////////////////////////////////////////////////////////////////////////
            // add new owner
            /////////////////////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////////////
            // load correspoinding owner form into modal on open
            ////////////////////////////////////////////////////////////////
            $('#addNewOwnerModal').on('shown.bs.modal', function () {

                $.post(newOwnerLink, function(data){

                    $("#addNewOwnerModalBody").html(data).fadeIn();

                });

            });


            $('#addNewOwnerModal').on('hidden.bs.modal', function () {

                // clean up dynamically loaded html
                $("#addNewOwnerModalBody").html("").fadeIn();

                $("#ownerEntityForm").html("").fadeIn();

            });









            // do clean up on modal close

            // reset all fields

            // all text notification should go away by itself
















        });  // end of document ready ()
        /////////////////////////////////////////////////////
        // aJAX
        /////////////////////////////////////////////////////









    </script>

</body>
</html>