<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/LynnFragment :: layout (~{::body},'user')}" >
<head >
    <meta charset="UTF-8">
    <title>Attorney Information</title>
</head>
<body>


<style>
    .tooltip-inner {
        max-width: 550px;
        white-space: pre-line;
    }

</style>
<!-- End Navbar -->
<div class="content" style="display: none; background-color: white; top:600px; " >
    <div class="container-fluid"  >


        <div class="row sticky" id="contacts-ui" style=" display:none; position: fixed; top:500px; right:400px;  max-height: 10px;">


            <div class="row" style="position: relative; top: -150px;max-height: 10px; " >
                <div class="col-sm-12" style="max-height: 10px;">
                    <div class="col-sm-9" style="max-height: 10px;" >

                    </div>

                    <div class="col-sm-3">
                        <div class="banner-message"  style="position: relative;top:-225px; ">

                            <div style="min-width: 280px; max-width: 280px;">
                                <ul class="aside-fees">
                                    <!-- 			BASIC/COLLECTIVE MARK -->
                                    <li class="fee-item collapse" style="height: 0px;">
                                        <span class="fee-description">Basic fee</span>
                                        <span class="fee-value fee-basic">225 $</span>
                                    </li>

                                    <!-- 			EXTRA CLASS FEE -->
                                    <li class="fee-item collapse" style="height: 0px;">
                                        <span class="fee-description">Extra Class Fee</span>
                                        <span class="fee-value fee-extra-class">0 $</span>
                                    </li>

                                    <!-- 			TOTAL CLASSES -->
                                    <li class="fee-item collapse" style="height: 0px;">
                                        <span class="fee-description">Total classes</span>
                                        <span class="fee-value fee-total-classes">0</span>
                                    </li>

                                    <!-- 			TOTAL -->
                                    <li class="fee-item-total collapsed" data-toggle="collapse" data-target=".fee-item">
                                        <span class="fee-description-total">Total fee</span>
                                        <span class="fee-value fee-total">225 $</span>
                                    </li>
                                </ul>

                            </div>

                            <div class="contacts-Table " style="border: rgb(235,235,235); min-width: 280px; max-width: 280px; border-width: 1px; border: solid; padding: 15px; min-height: 420px; max-height: 420px; ">
                                <table id="ManagedContacts" class="table-no-bordered table-hover" cellpadding="1" style="min-width: 280px; max-width: 280px; margin-right: 4px; margin-top: 10px; margin-bottom: 10px; margin-left: 4px; "></table>
                            </div>

                            <div class="row navigation-row" style=" max-height: 100px; position: relative; bottom:-60px; min-width: 350px; max-width: 325px;">
                                <div class="col-sm-2">
                                    <span class="btn btn-md prev-button"  style=" padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(55, 69, 120);  color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;    font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="prevLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;left:-5px;" ><i class="material-icons rotate-180">exit_to_app</i></a><a id="prevLink" style="color: white; text-decoration: none;position: relative; top:-10px;" href="">Prev</a></span>
                                </div>
                                <div class="col-sm-2">
                                </div>
                                <div class="col-sm-2">
                                </div>


                                <div class="col-sm-2" style="position:relative; left:-10px; ">
                                         <span class="btn btn-md next-button"  style="padding: 5px; border-bottom-left-radius: 5px; border-bottom-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; background-color: rgb(128,128,128); color: rgb(255, 255, 255); font-weight: bold; padding: 6px 10px; text-align: center;   font-size: 14px; font-style: normal; width: 120px; height: 30px;"><a id="nextLink" style="color: white; text-decoration: none; position: relative; top:-10px;" >Next</a><a id="nextLinkIcon" style="color: white; text-decoration: none; position: relative; top:-3px;right:-5px;" ><i class="material-icons">exit_to_app</i></a><span>
                                </div>
                            </div>



                        </div>

                    </div>
                </div>
            </div>


        </div><!--end row sticky -->
        <div class="row" style="position: relative; top:-75px;  max-width: 850px; max-height: 100px;margin-bottom: 30px;">

            <section class="col-xs-12 steps breadcrumb-steps"  style="position: relative;  right:-10px;">
                <div class="col-xs-2 one active">
                    <div class="col-xs-4">
                        <span>1</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Your details</p>
                    </div>
                </div>
                <div class="col-xs-2 two">
                    <div class="col-xs-4">
                        <span>2</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Trademark Details</p>
                    </div>
                </div>
                <div class="col-xs-2 three">
                    <div class="col-xs-4">
                        <span>3</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Goods and Services</p>
                    </div>
                </div>
                <div class="col-xs-2 four">
                    <div class="col-xs-4">
                        <span>4</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Basis</p>
                    </div>
                </div>
                <div class="col-xs-2 five">
                    <div class="col-xs-4">
                        <span>5</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Additional information</p>
                    </div>
                </div>
                <div class="col-xs-2 six">
                    <div class="col-xs-4">
                        <span>6</span>
                    </div>
                    <div class="col-xs-8 vertctr">
                        <p>Confirm and pay</p>
                    </div>
                </div>
            </section>


        </div>



        <div class="container-fluid" id="pageLoadArea" style="position: relative; left:-555px; max-width: 850px;  margin-bottom: 20px;margin-right:10px;" >


        </div>


    </div>

    <div class="row" style="position: relative;  right:-220px;">
        <div class="col-sm-6">
            <div class="form-group FieldMsgArea" style="display:none; position: relative; left:30%;">
                <b><span></span></b>
            </div>
        </div>

    </div>



    <!--load model attribute for Jquery consumption  -->
<script th:inline="javascript">

    /*<![CDATA[*/


    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';
    var attorneyOpt = /*[[${baseTrademarkApplication.isAttorneyFiling()}]]*/ 'User Name';

    var ownerOpt = /*[[${baseTrademarkApplication.isOwnerSet()}]]*/ 'User Name';
    var host_name= /*[[${hostBean.host}]]*/ 'User Name';
    var host_port= /*[[${hostBean.port}]]*/ 'User Name';



    var contactNames = /*[[${myManagedContacts.ContactNames}]]*/ 'User Name';
    var contactEmails = /*[[${myManagedContacts.ContactEmails}]]*/ 'User Name';
    var contactTypes = /*[[${myManagedContacts.contactEntitySubType}]]*/ 'User Name';




    var host = host_name+":"+host_port;
    //alert(tableRows);

    /*]]>*/
</script>


<script>

    var prevLinkURL = "../../application/AttorneySet/?trademarkID="+appInternalID;

    var prevLinkURLAttorneyFalse = "../../application/start/?trademarkID="+appInternalID;


    var newOwnerLink = "../../owner/entity/?trademarkID="+appInternalID;

    var ownerSetViewLink = "../../application/OwnerSetView/?trademarkID="+appInternalID;

</script>






<script>


    // next link url to enable  for u.s individual href="http://localhost:8080/application/owner/info"
    $(document).ready(function() {

        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);


        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('#contacts-ui').fadeIn(500);


            $.post(newOwnerLink, function(data){
                $("#pageLoadArea").html(data).fadeIn();
            });
        }, 500);


         $('[data-toggle="tooltip"]').tooltip();






        //////////////////////////////////////////
        // show drop downs
        //////////////////////////////////////////


        ////////////////////////////////////////////////////
        // enable next button on select drop down completion
        ////////////////////////////////////////////////////



        // check which prev-link to check
        if(attorneyOpt == false){
            $('#prevLink').attr("href",prevLinkURLAttorneyFalse);
            $('#prevLinkIcon').attr("href",prevLinkURLAttorneyFalse);
        }
        else {
            $('#prevLink').attr("href",prevLinkURL);
            $('#prevLinkIcon').attr("href",prevLinkURL);
        }

        if(ownerOpt == true){

            $('#nextLink').attr("href",ownerSetViewLink);
            $('#nextLinkIcon').attr("href",ownerSetViewLink);
            $('.next-button').css("background-color", "rgb(55,69,120)");

        }




        //$('#addNewOwnerLink').attr("href",newOwnerLink);


        // load datables for owner contacts
        ///////////////////////////////////////////////////////////

        /////////////////////////////////////////////////////////////////////////////

        var dataSet1 = [


        ];

        //////////////////////////////////////////////////////////////////////////////
        // initialize contacts table with empty values
        //////////////////////////////////////////////////////////////////////////////
        var contactsTable = $('#ManagedContacts').DataTable( {
            data: dataSet1,
            "pageLength": 5,
            "scrollY": "250px",
            "scrollX": "100%",
            "oLanguage": {

                "sSearch": "<b style=\"position: relative; bottom: -3px; \" > <i style=\"position: relative; right:-197px; \"  class=\"material-icons\">search</i></b>"

            },
            "dom": '<"top"f<"clear">>rt<"bottom"p<"clear">>',
            columns: [
                { title: "Action"  },
                { title: "Contact Name" },
                { title: "" }

            ]
        } );

        ////////////////////////////////////////////////////////////////////////////////////////////////
        // set overflow hidden for horizontal scroll bar created by y-scroll options on data tables
        // that keeps the data tables view port height constant
        /////////////////////////////////////////////////////////////////////////////////////////////////
        $('.dataTables_scrollBody').css('overflow',  'hidden');


        // load managed contacts from server
        for(var a =0; a <contactNames.length; a++) {
            ///////////////////////////////////////////////////////////////////////////
            // check each name against selected names ...if in selected lis ...
            // add row with check box selected and disabled
            ///////////////////////////////////////////////////////////////////////////
            var col1 = "<i class='material-icons'>add_circle_outline</i>";
            var col2 = "<b>"+contactNames[a]+"</b>";
            var col3 = "";
            contactsTable.row.add([col1, col2, col3]).draw();

        }
        // sort and redraw to line up columns


        // widget actions

        $('#ManagedContacts').on('click', 'i.material-icons', function () {


                var rawCell=$(this).parent().next().html();
                var contactDisplayName = getContactName(rawCell);
                setformWithManagedContact(contactDisplayName);



        });









        }); // end of document ready()


    function setformWithManagedContact(displayName) {

        //////////////////////////////////////////////////////////////////////////////////////
        // we need REST controller of finding a contact by its email
        // this needs to be implemented on the PTOUser object
        //////////////////////////////////////////////////////////////////////////////////////

        $.ajax({
            //url: host+"/REST/apiGateway/application/update/"+field_name_prefix+"/"+field_value+"/"+applicaiton_internal_id,
            url: "../../REST/apiGateway/user/managedContact/get/"+displayName,

            type: 'GET',
            success: function(data){



                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:")+7, data.indexOf("status:")+4+7);

                var s_msg = data.substring(data.indexOf("msg:")+4, data.length-2);




                if(s_code.trim() == "200"){
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    //$(".autoSaveMessageArea span").fadeOut(500);

                    //alert(s_msg);

                    var firstName = getFieldValueFromResponse(s_msg,"firstName");
                    if(firstName != "null"){
                        $('#first-name').val(firstName);

                    }
                    var middleName = getFieldValueFromResponse(s_msg,"middleName");
                    if(middleName != "null"){
                        $('#middleName').val(middleName);

                    }
                    var lastName = getFieldValueFromResponse(s_msg,"lastName");
                    if(lastName != "null"){
                        $('#last-name').val(lastName);

                    }
                    var suffix = getFieldValueFromResponse(s_msg,"suffix");
                    if(suffix != "null"){
                        $('#suffix').val(suffix);

                    }
                    var country = getFieldValueFromResponse(s_msg,"country");
                    if(country != "null"){
                        $('#OwnerAddressCountry').val(country);

                    }

                    var address1 = getFieldValueFromResponse(s_msg,"address");
                    if(address1 != "null"){
                        $('#ownerAddress1').val(address1);
                    }

                    var city = getFieldValueFromResponse(s_msg,"city");
                    if(city != "null"){
                        $('#ownerCity').val(city);
                    }
                    var state = getFieldValueFromResponse(s_msg,"state");
                    if(state != "null"){
                        $('#ownerState').val(state);
                    }
                    var zipcode = getFieldValueFromResponse(s_msg,"zipcode");
                    if(zipcode != "null"){
                        $('#ownerZipcode').val(zipcode);
                    }
                    var email = getFieldValueFromResponse(s_msg,"email");
                    if(email != "null"){
                        $('#ownerEmail').val(email);
                    }
                    var phone = getFieldValueFromResponse(s_msg,"phone");
                    if(phone != "null"){
                        $('#phone').val(phone);
                    }



                    //alert(firstName);


                    setTimeout(function() {
                        // after 1000 ms we add the class animated to the login/register card
                      //  $(".autoSaveMessageArea span").text(s_msg);
                       // $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);



                }
                else{
                    //$('.circle-loader').fadeOut(100);
                    //$('.x-mark').fadeIn(500);
                    //$(".validationMsgArea span").text(s_msg);
                    //$(".validationMsgArea span").css('color','red');
                }

            },
            error: function(data) {

                //$('.circle-loader').fadeOut(100);
                //$('.x-mark').fadeIn(500);

                console.log(data);
                // set message to div area ...fields can not be left null
                //$(".validationMsgArea span").text("You can not leave any fields empty.");
                //$(".validationMsgArea span").css('color','red');
            }

        });

    } // end of function
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////



    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // helper functions
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    function enableNextWidgetLink() {
        $('#nextLink').prop("href",ownerSetViewLink);
        $('#nextLinkIcon').prop("href", ownerSetViewLink);
        $('.next-button').css("background-color", "rgb(55, 69, 120)");

    }
    function disableNextWidgetLink() {
        $('#nextLink').prop("href", "");
        $('#nextLinkIcon').prop("href", "");
        $('.next-button').css("background-color", "rgb(128, 128, 128)");

    }

    function getContactName(cell) {
        var contact_name = cell.substring(3, cell.length-4);
       return contact_name;
    }


    function getFieldValueFromResponse(response, fieldName){

        // find starting index of fieldName
        // find the next colon
        var indexStart = response.indexOf(fieldName+":")+fieldName.length;
        response = response.substring(indexStart+1);
        var indexEnd = response.indexOf("}");
        response = response.substring(0, indexEnd);

        // find the next right closing bracket
        return response;

    }



</script>

</body>
</html>