<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efilePetitionsFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Goods and Services Review</title>
</head>
<body>
<div class="row content" style="display: none;">
    <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
        <!--START Content Div-->
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Petition to Revive Abandoned Application</h1>
                        <h2 class="leadtext weight600">Failure to Respond Timely to Office Action</h2>
                        <div class="card-text noexpand">
                            <h2 class="card-title weight600" id="appdata">Application Data</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="petitions1">
                        <form action="" method="post" >
                            <div class="row">
                                <div class="col-xs-12">
                                    <fieldset aria-describedby="appdata">
                                        <div class="panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-lg-4">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="row underlinerow">
                                                                        <div class="col-xs-9">
                                                                            <h3 class="weight600">Mark information</h3>
                                                                        </div>
                                                                        <div class="col-xs-3">
                                                                            <a href="#" class="disabled">Edit</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Serial number</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p><span th:text="${baseTrademarkApplication.getTrademarkName()}">87697840</span></p>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Mark literal</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p><span  th:text="${baseTrademarkApplication.getTradeMark().getMarkLiteral()}">PK Prep</span></p>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Mark image</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <img th:src="${baseTrademarkApplication.getTradeMark().getMarkImageDisplayPath()}" class="img-thumbnail" alt="your mark image">                                                         			</div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Goods/Services</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p><a href="#" class="disabled">View goods/services</a></p>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Filing type</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p><span class="uppercase">teas rf</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-lg-4">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="row underlinerow">
                                                                        <div class="col-xs-9">
                                                                            <h3 class="weight600">Owner</h3>
                                                                        </div>
                                                                        <div class="col-xs-3">
                                                                            <a href="#" class="disabled">Edit</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Owner of record</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p><span th:text="${baseTrademarkApplication.getPrimaryOwner().getOwnerDisplayname()}"></span></p>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Email address</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p class="email"><span th:text="${baseTrademarkApplication.getPrimaryOwner().getEmail()}">pittsburgh&#64;penguins.com</span></p>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Entity type</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p><span th:text="${baseTrademarkApplication.getPrimaryOwner().getOwnersubType()}">Limited Partnership</span></p>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Owner address</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p><span th:text="${baseTrademarkApplication.getPrimaryOwner().getAddress1()}+''+${baseTrademarkApplication.getPrimaryOwner().getCity()}+', '+${baseTrademarkApplication.getPrimaryOwner().getState()}+' '+${baseTrademarkApplication.getPrimaryOwner().getZipcode()}" ></span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-lg-4">
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="row underlinerow">
                                                                        <div class="col-xs-9">
                                                                            <h3 class="weight600">Attorney</h3>
                                                                        </div>
                                                                        <div class="col-xs-3">
                                                                            <a href="#" class="disabled">Edit</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Attorney of record</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p><span th:text="${baseTrademarkApplication.getPrimaryLawyer().getFirstName()}+' '+${baseTrademarkApplication.getPrimaryLawyer().getLastName()}">Clark W. Lackert</span></p>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Attorney firm</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p><span th:text="${baseTrademarkApplication.getPrimaryLawyer().getLawFirmName()}"></span></p>
                                                                </div>

                                                                <th:block  th:each="docket : ${baseTrademarkApplication.getPrimaryLawyer().getDocketNumberList()}">
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <h4>Docket/reference number</h4>
                                                                    </div>
                                                                    <div class="col-xs-6 col-lg-12">
                                                                        <p><span th:text="${docket}">259802.20006</span></p>
                                                                    </div>
                                                                </th:block>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset aria-label="acknowledgement">
                                        <p class="weight600">In order to revive the application please read and acknowledge the following statement:</p>
                                        <div class="form-group form-group-md">
                                            <input class="form-check-input checkmark" type="checkbox" value="acceptrevives1" tabindex="0" aria-labelledby="acceptrevive" id="useracceptrevive" name="user-accept-checkbox">
                                            <label class="form-check-label form-check" for="useracceptrevive" id="acceptrevive"><span class="radio notspecial">In submitting this petition, the signatory confirms that he/she has firsthand knowledge that the delay in filing a response to the office action on or before the deadline was unintentional.</span></label>
                                        </div>
                                        <p id="action">Did you receive the <a href="images/revise_s1.pdf" target="_blank">office action<span class="sr-only">Opens in new window</span><span class="glyphicon glyphicon-new-window" aria-hidden="true"></span></a>?</p>
                                        <div role="radiogroup" aria-describedby="action" class="form-group form-group-md">
                                            <label for="inlineRadio072" class="radio-inline radiocontainer"><input type="radio" name="actionradio" id="inlineRadio072" value="yesreceived" tabindex="0"><span class="checkmark"></span>Yes</label>
                                            <label for="inlineRadio073" class="radio-inline radiocontainer"><input type="radio" name="actionradio" id="inlineRadio073" value="noreceived" tabindex="0"><span class="checkmark"></span>No</label>
                                        </div>
                                    </fieldset>
                                    <div id="reviveappformradios" style="display: none;" >
                                        <fieldset aria-label="file a response" id="responsefile" style="display: none;">
                                            <p id="filenow">Do you want to file a response to the office action now to avoid delays and expedite the processing of your application?</p>
                                            <div role="radiogroup" class="form-group form-group-md" aria-describedby="filenow">
                                                <label for="inlineRadio074" class="radio-inline radiocontainer"><input type="radio" name="noactionradio" id="inlineRadio074" value="yesfilenow" tabindex="0"><span class="checkmark"></span>Yes</label>
                                                <label for="inlineRadio075" class="radio-inline radiocontainer"><input type="radio" name="noactionradio" id="inlineRadio075" value="noreissue" tabindex="0"><span class="checkmark"></span>No</label>
                                            </div>
                                        </fieldset>
                                        <div id="reviveappform" style="display: none;">
                                            <!--1-->
                                            <fieldset aria-label="yes, received office action. Select petition signature method.">
                                                <div class="card-text noexpand">
                                                    <h2 class="card-title weight600">Petition&#8217;s Signature</h2>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group form-group-md col-xs-12">
                                                        <label for="petitionsign" class="weight600">How are you signing the petition?</label>
                                                        <select class="form-control signmethod" id="petitionsign" onchange="showTheTime()">
                                                            <option value="Select">Select Signature Method</option>
                                                            <option value="direct">Sign directly</option>
                                                            <option value="handwritten" disabled>Print and upload handwritten signature</option>
                                                            <option value="send" disabled>Send to second party for signature</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-12 form-group form-group-md direct" style="display: none;">
                                                        <div class="row hidethis">
                                                            <section aria-label="sign">
                                                                <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                    <p class="sr-only">Enclose the signature in forward slashes</p>
                                                                    <label for="signature">Signature</label>
                                                                    <input type="text" class="form-control" placeholder="/Signature/" id="signature" required>
                                                                </div>
                                                                <script type="application/javascript" src="js/timestamp.js"></script>
                                                                <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                    <label for="datesigned">Date signed: <span id="tz" class="sr-only"> </span></label>
                                                                    <textarea rows="1" class="form-control disabled datesigned" id="datesigned" disabled> </textarea>
                                                                </div><!--placeholder="20:36:14 May 30, 2019 E.T."-->
                                                                <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                    <label for="signatoryname">Signatory&#8217;s name</label>
                                                                    <input type="text" class="form-control" id="signatoryname" required>
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-sm-9 col-lg-6">
                                                                    <label for="signatoryphone">Signatory&#8217;s phone number</label>
                                                                    <input type="tel" class="form-control" id="signatoryphone">
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                    <label for="signatoryposition">Signatory&#8217;s position</label>
                                                                    <input type="text" class="form-control" id="signatoryposition" required>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset><!--//1-->
                                            <!--2-->
                                            <fieldset aria-label="yes, received office action. Respond to office action." id="edit">
                                                <div class="card-text noexpand">
                                                    <h2 class="card-title weight600">Respond to Office Action</h2>
                                                </div>
                                                <p id="respondeditor">Use the text field below to respond to all issues raised in the Office Action.</p>
                                                <input type="text" class="form-control" id="response" required>




                                                <br clear="all">
                                            </fieldset><!--//2-->
                                            <!--3-->
                                            <fieldset aria-label="yes, received office action. Select response signature method." id="resp">
                                                <div class="card-text noexpand">
                                                    <h2 class="card-title weight600">Response Signature</h2>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group form-group-md col-xs-12">
                                                        <label for="responsepetitionsign" class="weight600">How are you signing the petition?</label>
                                                        <select class="form-control signmethod" id="responsepetitionsign" >
                                                            <option value="Select">Select Signature Method</option>
                                                            <option value="direct">Sign directly</option>
                                                            <option value="handwritten" disabled>Print and upload handwritten signature</option>
                                                            <option value="send" disabled>Send to second party for signature</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-12 form-group form-group-md direct">
                                                        <div class="row hidethis">
                                                            <section aria-label="sign">
                                                                <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                    <p class="sr-only">Enclose the signature in forward slashes</p>
                                                                    <label for="responsesignature">Signature</label>
                                                                    <input type="text" class="form-control" placeholder="/Signature/" id="responsesignature" required>
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                    <label for="responsedatesigned">Date signed: <span id="tz2" class="sr-only"> </span></label>
                                                                    <textarea rows="1" class="form-control datesigned disabled" id="responsedatesigned" disabled> </textarea>
                                                                </div><!--placeholder="20:36:14 May 30, 2019 E.T."-->
                                                                <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                    <label for="responsesignatoryname">Signatory&#8217;s name</label>
                                                                    <input type="text" class="form-control" id="responsesignatoryname" required>
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-sm-9 col-lg-6">
                                                                    <label for="responsesignatoryphone">Signatory&#8217;s phone number</label>
                                                                    <input type="tel" class="form-control" id="responsesignatoryphone">
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                    <label for="responsesignatoryposition">Signatory&#8217;s position</label>
                                                                    <input type="text" class="form-control" id="responsesignatoryposition" required>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset><!--//3-->
                                        </div>
                                    </div>
                                    <!--//yes, received office action-->
                                </div>
                            </div>
                        </form>
                    </div><!--END col-->
                </div><!--END row-->
            </div>
        </div><!--END row-->
        <div class="inlinebuttons btn-group btn-group-justified" role="navigation" aria-label="view previous or next page" id="prevnxt">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default fill prev" value="previous"></button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary fill next" value="next" id="doneButton">Done
                    <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
            </div>
        </div>
    </main>
</div><!--END div content-->





<script>

    var prevLinkURL = "../../../accounts/dashboard";



$(document).ready(function() {

    setTimeout(function () {
     // after 1000 ms we add the class animated to the login/register card
        $('.content').fadeIn(500);
    }, 500);


    $('#doneButton').click(function () {
        location.href=prevLinkURL;
    });

});
</script>

</body>
</html>