<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efilePetitionsFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Goods and Services Review</title>
</head>
<body>
<div class="row content"  style="display: none;">
    <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7" id="mainContent" tabindex="-1">
        <!--START Content Div-->
        <div class="row" id="incontestable"><!--postregsection8-->
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Declaration of Incontestability of a Mark under Section 15</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <div role="heading" aria-level="2">
                                <button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" data-target="#applicationdata" aria-controls="applicationdata" aria-expanded="true" id="appdatabtn"><span class="glyphicon glyphicon-triangle-right visuallyremoved"></span><span class="glyphicon glyphicon-triangle-bottom"></span> Application Data</button>
                            </div>
                        </div>
                        <div id="applicationdata" class="collapse Accordion-panel in" role="region" aria-labelledby="appdatabtn">
                            <fieldset aria-describedby="appdata">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="row underlinerow">
                                                                <div class="col-xs-9">
                                                                    <h3 class="weight600">Mark information</h3>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <a href="#" class="disabled" disabled>Edit</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <h4>Serial number</h4>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <p><span th:text="${baseTrademarkApplication.getTrademarkName()}">87697840</span></p>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <h4>Mark literal</h4>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <p><span  th:text="${baseTrademarkApplication.getTradeMark().getMarkLiteral()}">PK Prep</span></p>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <h4>Mark image</h4>
                                                        </div>
                                                        <th:block th:if="${baseTrademarkApplication.isStandardTextMark() == true}">
                                                            <div class="col-xs-6 col-lg-12"><span style="max-width: 55px; max-height: 33px; margin:0 auto;font-family: Palatino, Garamond, Bookman, Avant Garde; font-size:.9em;text-align:center;margin-bottom:0;" th:text="${baseTrademarkApplication.getTradeMark().getTrademarkStandardCharacterText()}"></span></div>

                                                        </th:block>
                                                        <th:block th:if="${baseTrademarkApplication.isStandardTextMark() == false}">
                                                            <div class="col-xs-6 col-lg-12">
                                                                <img th:src="${baseTrademarkApplication.getTradeMark().getMarkImageDisplayPath()}" class="img-thumbnail" alt="your mark image">
                                                            </div>
                                                        </th:block>



                                                        <div class="col-xs-6 col-lg-12">
                                                            <h4>Goods/Services</h4>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <p><a href="#" class="disabled" >View goods/services</a></p>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <h4>Filing type</h4>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <p><span class="uppercase">teas rf</span></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-lg-4">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <div class="row underlinerow">
                                                                <div class="col-xs-9">
                                                                    <h3 class="weight600">Owner</h3>
                                                                </div>
                                                                <div class="col-xs-3">
                                                                    <a href="#" class="disabled" disabled>Edit</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <h4>Owner of record</h4>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <p><span th:text="${baseTrademarkApplication.getPrimaryOwner().getOwnerDisplayname()}"></span></p>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <h4>Email address</h4>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <p class="email"><span th:text="${baseTrademarkApplication.getPrimaryOwner().getEmail()}">pittsburgh&#64;penguins.com</span></p>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <h4>Entity type</h4>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <p><span th:text="${baseTrademarkApplication.getPrimaryOwner().getOwnersubType()}">Limited Partnership</span></p>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <h4>Owner address</h4>
                                                        </div>
                                                        <div class="col-xs-6 col-lg-12">
                                                            <p><span th:text="${baseTrademarkApplication.getPrimaryOwner().getAddress1()}+''+${baseTrademarkApplication.getPrimaryOwner().getCity()}+', '+${baseTrademarkApplication.getPrimaryOwner().getState()}+' '+${baseTrademarkApplication.getPrimaryOwner().getZipcode()}" ></span></p>
                                                        </div>
                                                    </div>
                                                </div>


                                                <th:block th:if="${baseTrademarkApplication.isAttorneyFiling() == true}">

                                                    <div class="col-xs-12 col-lg-4">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="row underlinerow">
                                                                    <div class="col-xs-9">
                                                                        <h3 class="weight600">Attorney</h3>
                                                                    </div>
                                                                    <div class="col-xs-3">
                                                                        <a href="#" class="disabled" disabled>Edit</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-6 col-lg-12">
                                                                <h4>Attorney of record</h4>
                                                            </div>
                                                            <div class="col-xs-6 col-lg-12">
                                                                <p><span th:text="${baseTrademarkApplication.getPrimaryLawyer().getFirstName()}+' '+${baseTrademarkApplication.getPrimaryLawyer().getLastName()}">Clark W. Lackert</span></p>
                                                            </div>
                                                            <div class="col-xs-6 col-lg-12">
                                                                <h4>Attorney firm</h4>
                                                            </div>
                                                            <div class="col-xs-6 col-lg-12">
                                                                <p><span th:text="${baseTrademarkApplication.getPrimaryLawyer().getLawFirmName()}"></span></p>
                                                            </div>

                                                            <th:block  th:each="docket : ${baseTrademarkApplication.getPrimaryLawyer().getDocketNumberList()}">
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <h4>Docket/reference number</h4>
                                                                </div>
                                                                <div class="col-xs-6 col-lg-12">
                                                                    <p><span th:text="${docket}">259802.20006</span></p>
                                                                </div>
                                                            </th:block>

                                                        </div>
                                                    </div>


                                                </th:block>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-xs-12 form-group form-group-md">
                            <label for="benefits">Provide the benefits claimed for the mark.</label>
                            <textarea id="benefits" class="form-control"></textarea>
                        </div>
                        <div class="col-xs-12 form-group form-group-md">
                            <div role="heading" aria-level="3">
                                <button type="button" class="btn btn-link Accordion-trigger ablock" data-toggle="collapse" data-target="#selectclasssgsoptions" aria-controls="selectclasssgsoptions" aria-expanded="false" id="optionsbtn"><span class="glyphicon glyphicon-triangle-right"></span><span class="glyphicon glyphicon-triangle-bottom visuallyremoved"></span> Select which classes and/or goods/services have been in continuous use for at least 5 years where the Declaration of Incontestability (Section 15) applies.</button>
                            </div>
                            <div id="selectclasssgsoptions" class="collapse Accordion-panel" role="region" aria-labelledby="optionsbtn">
                                <div class="Accordion form-group form-group-md">
                                    <p>Filing a declaration of incontestability for your trademark registration provides an extra layer of protection against challenges. Once a registration becomes incontestable, another party cannot challenge the ownership of the mark or argue that the mark should not have been registered. This limits the types of challenges that may be made against a registration, reducing the likelihood of the loss of that registration.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row basis">
                                <div class="col-xs-12">
                                    <input class="form-check-input checkmark  selectallclasses" type="checkbox" value="selectall" tabindex="0" aria-labelledby="selall" id="select">
                                    <label class="form-check-label form-check form-check-left" for="select" id="selall"><span class="radio notspecial">Select all</span></label>
                                </div>
                            </div>

                            <th:block th:each="Good_Service_class : ${baseTrademarkApplication.getGoodAndServicesCategories()}">
                                <fieldset aria-label="class18">
                                    <div class="card-text noexpand blue">
                                        <input class="form-check-input checkmark selectallgs" type="checkbox" value="class18" tabindex="0" th:attr="cc-id=${Good_Service_class.getClassCategoryNumber()}">
                                        <label class="form-check-label form-check form-check-left" ><span class="radio notspecial weight600" th:text="${Good_Service_class.getClassNumberDisplay()}">Class 18</span></label>
                                    </div>
                                    <th:block th:each="Good_Service: ${Good_Service_class.getGoodAndServices()}">

                                        <div class="row basis">
                                            <div class="col-xs-12">


                                                <th:block th:if="${Good_Service.isActiveGS() == true}">
                                                    <input class="form-check-input checkmark  gs-in-use-section15" type="checkbox" value="18gs" tabindex="0" aria-labelledby="class18barsoap"  th:attr="gs-id=${Good_Service.getInternalID()}">
                                                    <label class="form-check-label form-check form-check-left"  ><span class="radio notspecial" th:text="${Good_Service.getClassDescription()}">Bar Soap</span></label>
                                                </th:block>
                                                <th:block th:if="${Good_Service.isActiveGS() == false}">

                                                    <input class="form-check-input checkmark  gs-in-use-section15" type="checkbox" value="18gs" tabindex="0" aria-labelledby="class18barsoap" disabled  th:attr="gs-id=${Good_Service.getInternalID()}">
                                                    <label class="form-check-label form-check form-check-left"  ><span class="radio notspecial special strike" th:text="${Good_Service.getClassDescription()}">Bar Soap</span></label>
                                                </th:block>


                                            </div>
                                        </div>
                                    </th:block>


                                </fieldset>
                            </th:block>


                        </div><!--END col-->
                    </div><!--END row-->
                    <div class="row">
                        <fieldset aria-label="acknowledgement">
                            <div class="col-xs-12 form-group form-group-md">
                                <h2 class="card-title weight600">Acknowledge the following statement for all selected goods/services in the filing.</h2>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <input class="form-check-input checkmark" type="checkbox" value="ackknowledge" tabindex="0" aria-labelledby="ackknowledge" id="ackknowledgement">
                                        <label class="form-check-label form-check-left form-check" for="ackknowledgement" id="ackknowledge"><span class="radio notspecial">The owner or holder/owner has continuously used the mark in commerce for five (5) consecutive years after the date of registration, or the date of publication under Section 12(c), and is still using the mark in commerce on or in connection with <span class="uppercase">all</span> goods/<span class="uppercase">all</span> services for this class; also, there has been no final decision adverse to the owner&#8217;s/holder&#8217;s claim of ownership of such mark for those goods/services, or to indicate membership in the collective membership organization, or to the owner&#8217;s/holder&#8217;s right to register the same or to keep the same on the register; and, there is no proceeding involving said rights pending and not disposed of in either the U.S. Patent and Trademark Office or in a court.</span></label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                <div class="inlinebuttons btn-group btn-group-justified" role="navigation" aria-label="view previous or next page" id="prevnxt">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default fill prev" id="" value="previous">Previous</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary fill next" id="" value="next">Next
                            <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
                    </div>
                </div>
            </div>
        </div>
    </main>


</div><!--END div content-->



<script th:inline="javascript">

    /*<![CDATA[*/
    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var  image_path = /*[[${markImagePath}]]*/ 'User Name';

    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';


    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';

    var OfficeActionID = /*[[${OfficeActionID}]]*/ 'User Name';

    var colorClaimSet = /*[[${colorClaimSet}]]*/ 'User Name';

    var markType = /*[[${baseTrademarkApplication.tradeMark.trademarkDesignType}]]*/ 'User Name';
    var markText = /*[[${baseTrademarkApplication.tradeMark.trademarkStandardCharacterText}]]*/ 'User Name';

    /*]]>*/
</script>



<script>

    var prevLinkURL = "../../../../renew/response/"+OfficeActionID+"/?trademarkID="+appInternalID


    var  nextLinkURL = "../../../../officeAction/optional/"+OfficeActionID+"/?trademarkID="+appInternalID;



    $(document).ready(function() {

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);


        $(document).on('change','#incontestable input.selectallclasses', function() {
            var input  = $('#incontestable input.selectallclasses').parent().parent().parent().children('fieldset').find('input.checkmark');
            var input  = $('#incontestable input.selectallclasses').parent().parent().parent().children('fieldset').find('input.checkmark');
            if ($(this).is( ":checked" )) {
                $(input).prop('checked', true);
                $('input:disabled').prop('checked', false);

                addFilingBasisInfoToApplication("section15-select-all", "yes", OfficeActionID, appInternalID);
            }
            else {
                $(input).prop('checked', false);

                addFilingBasisInfoToApplication("section15-select-all", "no", OfficeActionID, appInternalID);
            }


        });

        $(document).on('change','#incontestable input.selectallgs', function() {

            var ccID = $(this).attr("cc-id");
            var input  = $(this).parent().parent().find('input.checkmark');
            if ($(this).is( ":checked" )) {
                $(input).prop('checked', true);
                $('input:disabled').prop('checked', false);

                addFilingBasisInfoToClassCategory("section15-select-class", "yes", ccID, appInternalID);
            }
            else {
                $(input).prop('checked', false);

                addFilingBasisInfoToClassCategory("section15-select-class", "no", ccID, appInternalID);
            }


         $('.gs-in-use-section15').click(function () {

             var gsID = $(this).attr("gs-id");
             if ($(this).is( ":checked" )) {
                 addFilingBasisInfoToGoodAndService("section15-select-gs", "yes", gsID, appInternalID);
             }
             else {
                 addFilingBasisInfoToGoodAndService("section15-select-gs", "no", gsID, appInternalID);
             }
         });


        });














        //

        //////////////////////////////////////////////////////////////////////
        // set mark image based on persisted values
        //////////////////////////////////////////////////////////////////////

        if (markType == "Standard Character") {

            if (markText != null && markText != "") {

                $('#togglepop').attr('data-content', '<div class="media"><span id="showmarktxt" style="min-width:77px;width:80px;margin:0 auto;font-family: Palatino, Garamond, Bookman, Avant Garde; font-size:.9em;text-align:center;margin-bottom:0;" class="media-object" alt="my trademark">' + markText + '</span></div>');
            } else {
                $('#togglepop').attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
            }

        } else {

            if (colorClaimSet == false) {

                if (image_path != null) {

                    $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_path + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');

                }
                // set color claim to true be default when its not set yet
                else {
                    $('#togglepop').attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
                }

            } else {

                if (colorClaim == false) {

                    if (acceptBW == true) {
                        // $('#inlineRadio2').click();
                        // $('#bwmark').click();

                        $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_pathBW + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                    } else {
                        if (image_path != null) {

                            $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_path + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                        }

                    }

                }
                if (colorClaim == true) {
                    // $('#inlineRadio1').click();
                    if (image_path != null) {

                        $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_path + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                    }
                }


            }


        }


        // paging

        $('.next').click(function () {
            location.href = nextLinkURL;
        });

        $('.prev').click(function () {
            location.href = prevLinkURL;
        });






        // ajax auto save
    });

    function addFilingBasisInfoToGoodAndService(fbFieldName, fbFieldValue, gsID, appInternalID) {

        //var field_value = $(this).val();
        //alert(field_value);


        $.ajax({
            url: "../../../REST/apiGateway/GS/fb/update/"+fbFieldName+"/"+fbFieldValue+"/"+gsID+"/"+appInternalID,
            type: 'GET',
            success: function(data){

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:")+7, data.indexOf("status:")+4+7);

                var s_msg = data.substring(data.indexOf("msg:")+4, data.length-2);

                if(s_code.trim() == "200"){
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function() {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                }

            },
            error: function(data) {

                console.log(data);

            }

        });



        ////////////////////////////////////////////////////////////////////////////////
        // end of contact information 'State' auto save ////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////


    }


    function addFilingBasisInfoToClassCategory(ccFieldName, ccFieldValue, ccNumber, appInternalID) {

        //var field_value = $(this).val();
        //alert(field_value);


        $.ajax({
            url: "../../../REST/apiGateway/OfficeAction/section15/class/update/" + ccFieldName + "/" + ccFieldValue + "/" + ccNumber + "/" + appInternalID,
            type: 'GET',
            success: function (data) {

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:") + 7, data.indexOf("status:") + 4 + 7);

                var s_msg = data.substring(data.indexOf("msg:") + 4, data.length - 2);

                if (s_code.trim() == "200") {
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                }


            },
            error: function (data) {

                console.log(data);

            }

        });

    }


    function addFilingBasisInfoToApplication(ccFieldName, ccFieldValue, oaID, appInternalID) {

        //var field_value = $(this).val();
        //alert(field_value);


        $.ajax({
            url: "../../../REST/apiGateway/OfficeAction/section15/application/update/" + ccFieldName + "/" + ccFieldValue + "/" + oaID + "/" + appInternalID,
            type: 'GET',
            success: function (data) {

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:") + 7, data.indexOf("status:") + 4 + 7);

                var s_msg = data.substring(data.indexOf("msg:") + 4, data.length - 2);

                if (s_code.trim() == "200") {
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                }


            },
            error: function (data) {

                console.log(data);

            }

        });

    }

    function parsePathFromResponse(response){
        var index = response.indexOf("image-url:");
        index = index+10;
        response = response.substring(index);


        var index2 = response.indexOf("}");
        response = response.substring(0, index2);
        return response;
    }

    function parseNameFromResponse(response){

        var index = response.indexOf("image-name:");
        index = index+11;
        response = response.substring(index);


        var index2 = response.indexOf("}");
        response = response.substring(0, index2);
        return response;
    }






</script>

</body>
</html>