<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efilePetitionsFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Goods and Services Review</title>
</head>
<body>
<div class="row content"  style="display: none;">
    <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7" id="mainContent" tabindex="-1">
        <!--START Content Div-->
        <div class="row" id="sectioneight"><!--postregsection8-->
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Declaration of Use of Mark in Commerce Under Section 8</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <div role="heading" aria-level="2">
                                <button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" data-target="#applicationdata" aria-controls="applicationdata" aria-expanded="true" id="appdatabtn"><span class="glyphicon glyphicon-triangle-right visuallyremoved"></span><span class="glyphicon glyphicon-triangle-bottom"></span> Application Data</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-lg-8">
                        <p id="lead">This is a sworn statement that you are continuing to use the mark in commerce for each good or service listed in the registration. If you are not using the mark for specific goods and services, you must delete those items from the registration. The only exception is if a special circumstances exists that excuses your non-use of the mark.</p>
                    </div>
                </div>
                <form action="upload" enctype="multipart/form-data" method="post">

                    <th:block th:each="Good_Service_class : ${baseTrademarkApplication.getGoodAndServicesCategories()}">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="card-text noexpand blue">
                                    <h2 class="card-title weight600" th:text="${Good_Service_class.getClassNumberDisplay()}">Class 18</h2>

                                </div>
                                <fieldset aria-label="class18">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div>
                                                <input class="form-check-input checkmark user-accept-checkbox" type="checkbox" value="" tabindex="0"  th:attr="id=${Good_Service_class.getMarkInUseAllGSinClassID()},aria-labelledby=${Good_Service_class.getMarkInUseAllGSinClassLabelID()},cc-id=${Good_Service_class.getClassCategoryNumber()}" name="user-accept-checkbox">
                                                <label class="form-check-label form-check-left form-check"   th:attr="id=${Good_Service_class.getMarkInUseAllGSinClassLabelID()}, for=${Good_Service_class.getMarkInUseAllGSinClassID()}" ><span class="radio notspecial">This class has all goods/services in use.</span></label>
                                            </div>
                                            <section aria-label="class image and description">
                                                <div role="radiogroup" class="form-group form-group-md">
                                                    <label  class="radio-inline radiocontainer block"><input type="radio" class="yesone  provide-spec-all-class" name="numberspecimen"   th:attr="cc-id=${Good_Service_class.getClassCategoryNumber()},name=${Good_Service_class.getClassCategoryInnterLevelName()}" value="yes" tabindex="0"><span class="checkmark"></span>Provide a specimen and a description at the <span class="weight600">class level</span></label>
                                                    <label  class="radio-inline radiocontainer block"><input type="radio" class="yesoneeachpost" name="numberspecimen  provide-spec-each-gs"   th:attr="cc-id=${Good_Service_class.getClassCategoryNumber()},name=${Good_Service_class.getClassCategoryInnterLevelName()}" value="no" tabindex="0"><span class="checkmark"></span>Provide a specimen and a description for <span class="weight600">each individual good/service</span></label>
                                                </div><!--END radiogroup-->
                                                <div class="row form-group form-group-md yesonespecimen" role="alert"  style="display: none;"><!--toggle 'yes' radio-->
                                                    <div class="col-xs-12 form-group form-group-md upload">
                                                        <p id="upimage">Provide an image of your specimen:</p>
                                                        <div>
                                                            <div class="form-group form-group-md hidethis">
                                                                <label class="small upload-drop-zone" for="specimenfile" id="upimg">
                                                                    <div class="fileDisplayArea">
                                                                        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> <br>Upload file. Allowed file types .jpg, .tiff, .png</div>
                                                                </label>
                                                                <input type="file" id="specimenfile" name="specimenfileupload" class="form-control" accept=".jpg,.tiff,.png" aria-labelledby="upimg upimage">
                                                            </div>
                                                            <div class="row">
                                                                <div class="js-upload-finished col-xs-12">
                                                                    <div class="list-group">
                                                                        <div class="list-group-item list-group-item-success fileholder col-xs-12" role="alert"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="col-xs-12 form-group form-group-md">
                                                                        <button type="submit" class="btn-sm btn-success add ctr" aria-label="submit selected file">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- Drop Zone -->
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <label for="specdescript">Provide a description of your specimen:</label>
                                                        <textarea id="specdescript" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </section>

                                            <th:block th:each="Good_Service: ${Good_Service_class.getGoodAndServices()}">
                                                <div class="row"  >
                                                    <div class="col-xs-12">
                                                        <section aria-label="basisone" id="basisone" class="basis">
                                                            <div class="card-text noexpand">

                                                                <h2 class="card-title weight600"><span th:text="${Good_Service.getClassDescription()}">Bar Soap </span><span class="sr-only" role="alert"></span><button type="button" class="close btn" aria-label="remove this good / service" th:attr="gs-id=${Good_Service_class.getClassCategoryNumber()}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></h2>
                                                            </div>
                                                            <div role="radiogroup" class="form-group form-group-md">
                                                                <label  class="radio-inline radiocontainer block"><input type="radio"  value="yesbar" tabindex="0" class="gs-in-use"  th:attr="name=${Good_Service.getInternalID()},id=${Good_Service.getInUseRadioIDYes()}" ><span class="checkmark"></span>This good/service is in use.</label>
                                                                <label  class="radio-inline radiocontainer block"><input type="radio"  value="nobar" tabindex="0" class="gs-excused" th:attr="name=${Good_Service.getInternalID()},id=${Good_Service.getExcusebleNoneUseForGSID()}" ><span class="checkmark"></span>This good/service is an excusable non-use.</label>
                                                            </div><!--END radiogroup-->
                                                            <div class="row form-group form-group-md yesspecimen" role="alert" style="display: none;"><!--toggle 'yes' radio-->
                                                                <div class="col-xs-12 form-group form-group-md upload">
                                                                    <p id="upimagethree">Provide an image of your specimen:</p>
                                                                    <div class="form-group form-group-md hidethis">
                                                                        <label class="small upload-drop-zone" for="specimenthreefile" id="upimgthree"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> <br>Upload file. Allowed file types .jpg, .tiff, .png></label>
                                                                        <input type="file" id="specimenthreefile" name="specimenthreefileupload" class="form-control" accept=".jpg,.tiff,.png" aria-labelledby="upimgthree upimagethree">
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="js-upload-finished col-xs-12">
                                                                            <div class="list-group">
                                                                                <div class="list-group-item list-group-item-success fileholder col-xs-12" role="alert"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            <div class="col-xs-12 form-group form-group-md">
                                                                                <button type="submit" class="btn-sm btn-success add ctr" aria-label="submit selected file">Submit</button>
                                                                            </div>
                                                                        </div>
                                                                    </div><!-- Drop Zone -->
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <label for="specdescriptfour">Provide a description of your specimen:</label>
                                                                    <textarea id="specdescriptfour" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                            <div class="row form-group form-group-md nonuse" role="alert" style="display: none;"><!--toggle 'yes' radio-->
                                                                <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                                    <label for="connection-date" class="matchlabelheighttwo">Date of last use<span class="sr-only">enter the date in the following format: m m d d y y y y</span></label>
                                                                    <input type="text" class="form-control datepicker" id="connection-date" name="connectiondate" value="" placeholder="mm/dd/yyyy">
                                                                </div>
                                                                <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                                    <label for="firstconnection-date" class="matchlabelheighttwo">Approximate date when use is expected to resume<span class="sr-only">enter the date in the following format: m m d d y y y y</span></label>
                                                                    <input type="text" class="form-control datepicker" id="firstconnection-date" name="firstconnectiondate" value="" placeholder="mm/dd/yyyy">
                                                                </div>
                                                                <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                                    <label for="reason">Reason for nonuse:</label>
                                                                    <textarea id="reason" class="form-control"></textarea>
                                                                </div>
                                                                <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                                    <label for="steps">Steps being taken to resume use</label>
                                                                    <textarea id="steps" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </th:block>


                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </th:block>


                </form>
            </div><!--END col-->
        </div><!--END row-->
        <div class="inlinebuttons btn-group btn-group-justified" role="navigation" aria-label="view previous or next page" id="prevnxt">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default fill prev" id="" value="previous">Previous</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary fill next" id="" value="next">Next
                    <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
            </div>
        </div>
    </main>


</div><!--END div content-->



<script th:inline="javascript">

    /*<![CDATA[*/
    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var  image_path = /*[[${markImagePath}]]*/ 'User Name';

    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';


    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';

    var OfficeActionID = /*[[${OfficeActionID}]]*/ 'User Name';

    var colorClaimSet = /*[[${colorClaimSet}]]*/ 'User Name';

    var markType = /*[[${baseTrademarkApplication.tradeMark.trademarkDesignType}]]*/ 'User Name';
    var markText = /*[[${baseTrademarkApplication.tradeMark.trademarkStandardCharacterText}]]*/ 'User Name';

    /*]]>*/
</script>



<script>

    var prevLinkURL = "../../../../accounts/dashboard";


    var nextLinkURL = ""+OfficeActionID+"/?trademarkID="+appInternalID;



    $(document).ready(function() {

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);


        //////////////////////////////////////////////////////////////////////
        // set mark image based on persisted values
        //////////////////////////////////////////////////////////////////////

        if (markType == "Standard Character") {

            if (markText != null && markText != "") {

                $('#togglepop').attr('data-content', '<div class="media"><span id="showmarktxt" style="min-width:77px;width:80px;margin:0 auto;font-family: Palatino, Garamond, Bookman, Avant Garde; font-size:.9em;text-align:center;margin-bottom:0;" class="media-object" alt="my trademark">' + markText + '</span></div>');
            } else {
                $('#togglepop').attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
            }

        } else {

            if (colorClaimSet == false) {

                if (image_path != null) {

                    $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_path + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');

                }
                // set color claim to true be default when its not set yet
                else {
                    $('#togglepop').attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
                }

            } else {

                if (colorClaim == false) {

                    if (acceptBW == true) {
                        // $('#inlineRadio2').click();
                        // $('#bwmark').click();

                        $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_pathBW + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                    } else {
                        if (image_path != null) {

                            $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_path + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                        }

                    }

                }
                if (colorClaim == true) {
                    // $('#inlineRadio1').click();
                    if (image_path != null) {

                        $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_path + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                    }
                }


            }


        }


        // paging

        $('.next').click(function () {
            location.href = nextLinkURL;
        });

        $('.prev').click(function () {
            location.href = prevLinkURL;
        });






        // ajax auto save
    });

    function saveNOAresponse(FieldName, FieldValue, OA_id, cc_id ,appInternalID) {

        //var field_value = $(this).val();
        //alert(field_value);


        $.ajax({
            url: "../../../../REST/apiGateway/OfficeAction/noa/response/update/" + FieldName + "/" + FieldValue + "/" + OA_id + "/" + cc_id +"/"+appInternalID,
            type: 'GET',
            success: function (data) {

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:") + 7, data.indexOf("status:") + 4 + 7);

                var s_msg = data.substring(data.indexOf("msg:") + 4, data.length - 2);



                if (s_code.trim() == "200") {
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                    $('.next').attr("disabled", true);

                }
                else {

                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                    $('.next').attr("disabled", false);

                }


            },
            error: function (data) {

                console.log(data);

            }

        });
    }



</script>

</body>
</html>