<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"/>

<head >
    <meta charset="UTF-8">
    <title>Owner Information - Sole Proprietorship</title>
</head>
<body>



<!-- End Navbar -->
<div class="content" style="display: none; background-color: white; min-height: 1500px; max-width: 800px; position: relative; top:-220px; bottom: -10%; left:-10px;" >
    <div class="container-fluid" >

        <div class="col-sm-12" >
            <div class="form-container base-page" style="position: relative; ">

                <!--START Owner Information Form-->

                <div class="card-text">
                    <h2 class="card-title weight600" id="ownerinfo">Owner Information<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"></h2>
                </div>
                <form method="post" id="addNewOwnerForm" action="/owner/add" th:object="${addNewOwnerContactFormDTO}" aria-labelledby="ownerinfo">

                    <fieldset>

                        <div class="col-xs-12 col-sm-12 col-lg-12">
                            <button type="button" class="btn-sm btn-success fill" id="autofill">Fill from Managed Contacts</button>
                        </div>
                        <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-4">
                            <label for="ownername"><span class="weight600">&#42;</span>Owner Name</label>
                            <input type="text" class="form-control" id="ownername" th:field="*{firstName}">
                        </div>
                        <div class="form-group form-group-md col-xs-12 col-sm-6 col-lg-4">
                            <label for="additionalname">Additional Name</label>
                            <select class="form-control" id="additionalname" th:field="*{ownerType}">
                                <option value="Select">Select</option>
                                <option value="DBA">Doing Business As (DBA)</option>
                                <option value="TA">Trading As (TA)</option>
                                <option value="AKA">Also Known As (AKA)</option>
                                <option value="Formerly">Formerly</option>
                            </select>
                        </div>
                        <div class="form-group form-group-md col-xs-12 col-sm-6 col-lg-4">
                            <label for="stateoforg"><span class="weight600">&#42;</span>State of Organization</label>
                            <select class="form-control" id="stateoforg">
                                <option value="Select">Select</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="FL">Florida</option>
                                <option value="GA">Georgia</option>
                            </select>
                        </div>
                    </fieldset>

                    <!--START Sole Proprietor Information Form-->
                    <div class="card-text">
                        <h2 class="card-title weight600" id="proprietorinfo">Sole Proprietor Information<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"></h2><!--Make this tooltip into an alert at form validation-->
                    </div>

                    <fieldset>
                        <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-4">
                            <label for="firstname"><span class="weight600">&#42;</span>First Name</label>
                            <input type="text" class="form-control" id="firstname">
                        </div>
                        <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-3">
                            <label for="middlename">Middle Name</label>
                            <input type="text" class="form-control" id="middlename" th:field="*{middleName}">
                        </div>
                        <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                            <label for="lastname"><span class="weight600">&#42;</span>Last Name</label>
                            <input type="text" class="form-control" id="lastname" th:field="*{lastName}">
                        </div>
                        <div class="form-group form-group-md col-xs-6">
                            <label for="suffix">Suffix</label>
                            <select class="form-control" id="suffix" th:field="*{suffix}">
                                <option value="Select">Select</option>
                                <option value="Sr.">Sr.</option>
                                <option value="I">I</option>
                                <option value="II">II</option>
                                <option value="III">III</option>
                                <option value="IV">IV</option>
                                <option value="V">V</option>
                                <option value="VI">VI</option>
                                <option value="Jr.">Jr.</option>
                                <option value="VII">VII</option>
                                <option value="VIII">VIII</option>
                            </select>
                        </div>
                        <div class="form-group form-group-md col-xs-6">
                            <label for="countryofcitizenship">Country of Citizenship</label>
                            <select class="form-control" id="countryofcitizenship" th:field="*{ownerCitizenShip}">
                                <option value="United States">United States</option>
                                <option value="Canada">Canada</option>
                            </select>
                        </div>
                    </fieldset>

                    <!--START Owner Address Information Form-->
                    <div class="card-text">
                        <h2 class="card-title weight600" id="addressinfo">Owner Address Information</h2>
                    </div>

                    <fieldset>
                        <div class="form-group form-group-md col-md-12 col-lg-7">
                            <label for="territory">Country/US Territory</label>
                            <select class="form-control" id="territory">
                                <option value="United States">United States</option>
                                <option value="Afghanistan">Afghanistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Belgium">Belgium</option>
                                <option value="Brazil">Brazil</option>
                                <option value="Cambodia">Cambodia</option>
                                <option value="Cameroon">Cameroon</option>
                                <option value="Denmark">Denmark</option>
                                <option value="Dominican Republic">Dominican Republic</option>
                            </select>
                        </div>
                        <div class="form-group form-group-md col-md-12 col-lg-8">
                            <label for="addressline1"><span class="weight600">&#42;</span>Address Line 1</label>
                            <input type="text" class="form-control" id="addressline1" th:field="*{ownerAddress1}">
                        </div>
                        <div class="form-group form-group-md col-md-12 col-lg-8">
                            <label for="addressline2">Address Line 2</label>
                            <input type="text" class="form-control" id="addressline2" th:field="*{ownerAddress2}">
                        </div>
                        <div class="form-group form-group-md col-md-12 col-lg-8">
                            <label for="addressline3">Address Line 3</label>
                            <input type="text" class="form-control" id="addressline3" th:field="*{ownerAddress3}">
                        </div>
                        <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                            <label for="city"><span class="weight600">&#42;</span>City</label>
                            <input type="text" class="form-control" id="city" th:field="*{ownerCity}">
                        </div>
                        <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-3">
                            <label for="state"><span class="weight600">&#42;</span>State</label>
                            <select class="form-control" id="state" th:field="*{ownerState}">
                                <option value="Select">Select</option>
                                <option value="Virginia">Virginia</option>
                                <option value="Maryland">Maryland</option>
                                <option value="North Carolina">North Carolina</option>
                            </select>
                        </div>
                        <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-4">
                            <label for="zipcode"><span class="weight600">&#42;</span>Zip Code</label>
                            <input type="text" class="form-control" id="zipcode" placeholder="XXXXX" th:field="*{ownerZipcode}">
                        </div>
                    </fieldset>

                    <!--START Additional Information Form-->
                    <div class="card-text">
                        <h2 class="card-title weight600" id="additionalinfo">Additional Information</h2>
                    </div>

                    <fieldset>
                        <div class="form-group form-group-md col-xs-12 col-md-6">
                            <label for="email"><span class="weight600">&#42;</span>Email Address</label>
                            <input type="text" class="form-control" id="email" th:field="*{ownerEmail}">
                        </div>
                        <div class="form-group form-group-md col-xs-12 col-md-6">
                            <label for="webaddress">Website Address</label>
                            <input type="text" class="form-control" id="webaddress" th:field="*{ownerWebSite}">
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-4">
                                    <label for="phonenumbertype">Phone Type</label>
                                    <select class="form-control" id="phonenumbertype">
                                        <option value="Type">Type</option>
                                        <option value="Cell">Cell</option>
                                        <option value="Home">Home</option>
                                        <option value="Work">Work</option>
                                        <option value="Fax">Fax</option>
                                    </select>
                                </div>
                                <div class="form-group form-group-md col-xs-12 col-md-6 col-lg-6">
                                    <label for="phonenumber">Phone Number</label>
                                    <input type="text" class="form-control" id="phonenumber" th:field="*{ownerPhone}">
                                </div>
                                <div class="form-group form-group-md col-xs-12 col-md-2 col-lg-2">
                                    <label for="extension">Ext.</label>
                                    <input type="text" class="form-control" id="extension">
                                </div>
                            </div>
                        </div>

                        <div class="row" style="display:none; max-height: 1px;">
                            <input id="appInternalIDForm" type="text" th:field="*{appInternalID}"   class="form-control"   style=" width:1px;border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;">
                        </div>
                    </fieldset>
                </form><!--END Additional Information Form-->

                <div class="col-xs-12">
                    <button type="submit"form="addNewOwnerForm" class="btn btn-sm btn-primary add ctr" id="confirmattorney">Confirm</button>
                </div>


            </div>


        </div>
    </div>


    <!--load model attribute for Jquery consumption  -->
    <script th:inline="javascript">

        /*<![CDATA[*/


        var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';
        var host_name= /*[[${hostBean.host}]]*/ 'User Name';
        var host_port= /*[[${hostBean.port}]]*/ 'User Name';
        var host = host_name+":"+host_port;
        //alert(tableRows);

        /*]]>*/
    </script>





</div>



</div>
<!-- end of main content-->






<script>
    $(document).ready(function() {

        ///////////////////////////////////////////////////////////////////////////////
        // initial page load
        ///////////////////////////////////////////////////////////////////////////////
        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);

        ///////////////////////////////////////////////////////////////////////////////
        // initialize hover text on Owner Name Information
        ///////////////////////////////////////////////////////////////////////////////
        $('[data-toggle="tooltip"]').tooltip();

        // update app id on hidden field

        $('#appInternalIDForm').val(appInternalID);

        $('#autofill').click(function () {
            $('.contacts-Table').fadeIn(500);

        });





    });

</script>


</body>
</html>