<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efileApplicationMarkFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title></title>
</head>Mark Details
<body>
<div class="row content" style="position: relative; display: none; ">
    <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7" >

        <!--START Content Div-->
        <div class="row" style="position: relative;">
            <div class="col-xs-12 ">

                <div class="row">
                    <section class="col-xs-12 steps breadcrumb-steps" aria-label="progress tracker">
                        <div class="row displaycell">
                            <div class="col-xs-2 one done">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>1</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb1">
                                        <p class="first">Your details</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 two done">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>2</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb2">
                                        <p>Trademark details</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 three done">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>3</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb3">
                                        <p>Goods and services</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 four done">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>4</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb4">
                                        <p>Basis</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 five active">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>5</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb5">
                                        <p>Additional info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 six">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>6</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb6">
                                        <p>Confirm and pay</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>


                <!--END Application Type-->
            </div><!--END RADIO container-->

        </div><!--END row-->


        <div class="row" style="position: relative;  ">
            <div class="row" style="position: relative; right:-15px;">
                <div class="col-xs-12">
                    <h1>Additional Information</h1>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="card-text noexpand">
                        <h2 class="card-title weight600">Miscellaneous Statement</h2>
                    </div>
                    <form action="" method="post" >
                        <fieldset>
                            <div class="row">
                                <div class="col-xs-12" >
                                    <p style="margin-left: 11px; margin-right: 11px;">Use this section to provide information about your mark that is not covered previously in the application (this is not common).</p>
                                    <!--Start Dropzone-->
                                    <div class="col-xs-12 form-group form-group-md" style="margin-left: 3px; margin-right: 3px;">
                                        <label for="ta2" class="weight600">Provide the additional information.</label>
                                        <textarea id="ta2" rows="3" class="form-control"></textarea>
                                        <div class="form-group form-group-md">
                                            <p class="weight600" role="heading" aria-level="3">Optional upload.</p>
                                            <label class="small upload-drop-zone" for="file"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> <br>Upload a File</label>
                                            <input type="file" id="file" name="file" class="form-control">
                                        </div><!-- Drop Zone -->
                                    </div>
                                </div>
                                <div class="form-group form-group-md col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <section aria-label="Rare/Uncommon Situations">
                                                <div class="card-text noexpand">
                                                    <h2 class="card-title weight600">Rare/Uncommon Situations</h2>
                                                </div>
                                                <div class="form-group form-group-md" style="margin-left: 11px; margin-right:11px;">
                                                    <p class="weight600">The following situations are rare and are not relevant for most applicants. If none of these apply to you, click next.</p>
                                                    <div class="row">
                                                        <div class="wide">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-5">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="typeofregister" tabindex="0" aria-labelledby="typeregister" id="typeregi">
                                                                    <label class="form-check-label form-check" for="typeregi" id="typereg"><span class="radio notspecial" id="typeregister">Type of Register</span></label>
                                                                </div>
                                                                <div class="col-xs-12 col-md-7">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="2f" tabindex="0" aria-labelledby="distinctiveness" id="distinct">
                                                                    <label class="form-check-label form-check" for="distinct" id="claimdistinct"><span class="radio notspecial" id="distinctiveness">2(f) Claim of Acquired Distinctiveness</span></label>
                                                                </div>
                                                                <div class="col-xs-12 col-md-5">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="anotherform" tabindex="0" aria-labelledby="useanother" id="useanotherform">
                                                                    <label class="form-check-label form-check" for="useanotherform" id="another"><span class="radio notspecial" id="useanother">Use in Another Form</span></label>
                                                                </div>
                                                                <div class="col-xs-12 col-md-7">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="concurrentuse" tabindex="0" aria-labelledby="conuse" id="concurruse">
                                                                    <label class="form-check-label form-check" for="concurruse" id="concurrent"><span class="radio notspecial" id="conuse">Concurrent Use</span></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!--end checkbox row-->
                                                </div>
                                            </section>
                                        </div>
                                    </div><!--END rare uncommon-->
                                    <div class="row" id="tr">
                                        <div class="col-sm-12">
                                            <section aria-label="Type of Register">
                                                <div class="card-text">
                                                    <div role="heading" aria-level="2">
                                                        <button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" data-target="#register" aria-controls="register" aria-expanded="false" id="registerbtn"><span class="glyphicon glyphicon-triangle-right"></span><span id="toggleglyph" class="glyphicon glyphicon-triangle-bottom visuallyremoved"></span> Type of Register</button>
                                                    </div>
                                                </div>
                                                <div id="register" class="collapse Accordion-panel" role="region" aria-labelledby="registerbtn" style="margin-left: 11px; margin-right:11px;">
                                                    <div class="Accordion">
                                                        <p>The Principal Register is the primary register for all trademarks. When a mark has been registered on the Principal Register, the mark is entitled to certain rights provided by federal law. The Supplemental Register is a listing of non-mark designations (such as descriptive words) that are &#8220;capable&#8221; of eventually becoming a &#8220;mark.&#8221;</p>
                                                    </div>
                                                </div>
                                                <p class="weight600" style="margin-left: 11px; margin-right:11px;">You are seeking registration on the <a href="#">Principal Register</a>. <a role="button" class="Accordion-trigger link" data-toggle="collapse" data-target="#register2" aria-controls="register2" aria-expanded="false" id="register2btn">Edit</a></p>
                                                <div id="register2" class="collapse Accordion-panel" role="region" aria-labelledby="register2btn" style="margin-left: 11px; margin-right:11px;">
                                                    <div class="Accordion">
                                                        <div role="radiogroup" aria-labelledby="disclaim" class="form-group form-group-md">
                                                            <label for="inlineRadio031" class="radio-inline radiocontainer">Principal<input type="radio" name="principalregister" id="inlineRadio031" value="principal" tabindex="0"><span class="checkmark"></span></label>
                                                            <label for="inlineRadio032" class="radio-inline radiocontainer">Supplemental<input type="radio" name="principalregister" id="inlineRadio032" value="supplemental" tabindex="0"><span class="checkmark"></span></label>
                                                        </div><!--END radiogroup-->
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div><!--END register-->
                                    <div class="row" id="cad">
                                        <div class="col-sm-12">
                                            <section aria-label="distinctiveness">
                                                <div class="card-text">
                                                    <div role="heading" aria-level="2">
                                                        <button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" data-target="#distinctiveness" aria-controls="distinctiveness" aria-expanded="false" id="distinctivenessbtn"><span class="glyphicon glyphicon-triangle-right"></span><span id="toggleglyph" class="glyphicon glyphicon-triangle-bottom visuallyremoved"></span> 2(f) Claim of Acquired Distinctiveness</button>
                                                    </div>
                                                </div>
                                                <div id="distinctiveness" class="collapse Accordion-panel" role="region" aria-labelledby="distinctivenessbtn" style="margin-left: 11px; margin-right:11px;">
                                                    <div class="Accordion">
                                                        <p>A mark that is widely used by others is not distinctive. A trademark on the Principal Register must be distinctive enough to unambiguously identify the mark owner as the source of the goods or services provided under the mark. If a mark is not inherently distinctive because the wording is descriptive, geographically descriptive, or a surname, the mark owner must show that the mark has acquired distinctiveness through evidence, ownership of a same/similar mark on the Principal Register, or five years&#8217; use.</p>
                                                    </div>
                                                </div>
                                                <div style="margin-left: 11px; margin-right:11px;">
                                                    <p id="disclm" >Are you claiming that your mark is inherently distinctive?</p>                                                            <div role="radiogroup" aria-labelledby="disclm" class="form-group form-group-md">
                                                    <label for="inlineRadio033" class="radio-inline radiocontainer">Yes<input type="radio" name="distinctradio" id="inlineRadio033" value="yes" tabindex="0"><span class="checkmark"></span></label>
                                                    <label for="inlineRadio034" class="radio-inline radiocontainer">No<input type="radio" name="distinctradio" id="inlineRadio034" value="no" tabindex="0"><span class="checkmark"></span></label>
                                                </div><!--END radiogroup-->
                                                    <div id="yesdistict" class="form-group" ><!--toggle 'yes' radio-->
                                                        <div class="form-group form-group-md">
                                                            <p>Is this for the whole mark, or part of the mark?</p>
                                                            <div role="radiogroup" aria-labelledby="disclm" class="form-group form-group-md">
                                                                <label for="inlineRadio035" class="radio-inline radiocontainer">Whole<input type="radio" name="wholepartradio" id="inlineRadio035" value="whole" tabindex="0"><span class="checkmark"></span></label>
                                                                <label for="inlineRadio036" class="radio-inline radiocontainer">In part<input type="radio" name="wholepartradio" id="inlineRadio036" value="inpart" tabindex="0"><span class="checkmark"></span></label>
                                                            </div><!--END radiogroup-->
                                                            <div id="yespart" class="form-group"><!--toggle 'yes' radio-->
                                                                <div class="form-group form-group-md">
                                                                    <label for="partmark" class="weight600">Which part of the mark?</label>
                                                                    <textarea id="partmark" rows="1" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                            <div id="yeswhole" class="form-group"><!--toggle 'yes' radio-->
                                                                <div class="form-group form-group-md">
                                                                    <p>What is your claim based on?</p>
                                                                    <div class="wide">
                                                                        <div class="row">
                                                                            <div class="col-xs-4 col-md-3 col-lg-3 form-group form-group-md">
                                                                                <label for="inlineRadio037" class="radio-inline radiocontainer">Evidence<input type="radio" name="wholepartradio" id="inlineRadio037" value="evidence" tabindex="0"><span class="checkmark"></span></label>
                                                                            </div>
                                                                            <div class="col-xs-8 col-md-4 col-lg-4 form-group form-group-md">
                                                                                <label for="inlineRadio038" class="radio-inline radiocontainer">Prior Registrations<input type="radio" name="wholepartradio" id="inlineRadio038" value="prioregistrations" tabindex="0"><span class="checkmark"></span></label>
                                                                            </div>
                                                                            <div class="col-xs-12 col-md-5 col-lg-5 form-group form-group-md">
                                                                                <label for="inlineRadio039" class="radio-inline radiocontainer">Five or more years of use<input type="radio" name="wholepartradio" id="inlineRadio039" value="fivepluyears" tabindex="0"><span class="checkmark"></span></label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div id="yesevidence" class="form-group"><!--toggle 'yes' radio-->
                                                                <p class="weight600" role="heading" aria-level="3">Upload evidence.</p>
                                                                <label class="small upload-drop-zone" for="filetwo"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> <br>Upload a File</label>
                                                                <input type="filetwo" id="filevidence" name="file-evidence" class="form-control">
                                                            </div><!-- Drop Zone -->
                                                            <div class="row" id="yespriors">
                                                                <div class="col-xs-12 col-md-6 col-lg-8 form-group holdsaprior"><!--toggle 'yes' radio-->
                                                                    <label for="prioregnumbers" class="weight600">Enter prior registration numbers.</label>
                                                                    <input type="text" class="form-control" id="prioregnumbers">
                                                                </div>
                                                                <div class="appendaprior"></div>
                                                                <div class="col-xs-12 col-lg-4 btn-group" role="group" id="pluspriors" aria-label="Add or delete additional prior registration numbers">
                                                                    <div class="row">
                                                                        <div class="col-xs-12">
                                                                            <button type="button" class="btn-sm btn-success add ctr" id="addprior">Add number</button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div><!--END distinctiveness-->
                                    <div class="row" id="uaf">
                                        <div class="col-sm-12">
                                            <section aria-label="Use in Another Form">
                                                <div class="card-text noexpand">
                                                    <h2 class="card-title weight600">Use in Another Form</h2>
                                                </div>
                                                <div style="margin-left: 11px; margin-right:11px;">
                                                    <p class="weight600" id="otherform">Is the mark (or part of the mark) currently in use in another form?</p>                                                            <div role="radiogroup" aria-labelledby="otherform" class="form-group form-group-md">
                                                    <label for="inlineRadio040" class="radio-inline radiocontainer">Yes<input type="radio" name="formradio" id="inlineRadio040" value="yes" tabindex="0"><span class="checkmark"></span></label>
                                                    <label for="inlineRadio041" class="radio-inline radiocontainer">No<input type="radio" name="formradio" id="inlineRadio041" value="no" tabindex="0"><span class="checkmark"></span></label>
                                                </div><!--END radiogroup-->
                                                    <div id="yesotherform" class="form-group" ><!--toggle 'yes' radio-->
                                                        <div class="form-group form-group-md">
                                                            <p class="weight600">Is this for the whole mark, or part of the mark?</p>
                                                            <div role="radiogroup" aria-labelledby="disclm" class="form-group form-group-md">
                                                                <label for="inlineRadio042" class="radio-inline radiocontainer">Whole<input type="radio" name="wholepartradio" id="inlineRadio042" value="whole" tabindex="0"><span class="checkmark"></span></label>
                                                                <label for="inlineRadio043" class="radio-inline radiocontainer">In part<input type="radio" name="wholepartradio" id="inlineRadio043" value="inpart" tabindex="0"><span class="checkmark"></span></label>
                                                            </div><!--END radiogroup-->
                                                            <div id="yespartother" class="form-group"><!--toggle 'yes' radio-->
                                                                <div class="form-group form-group-md">
                                                                    <label for="partmark" class="weight600">Which part of the mark?</label>
                                                                    <textarea id="partmark" rows="1" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                            <div id="yeswholeother" class="form-group"><!--toggle 'yes' radio-->
                                                                <div class="form-group form-group-md">
                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-6 form-group form-group-md matchlabelheightdiv">
                                                                            <label for="otherformfirst" class="matchlabelheight">Provide date of first use in another form:</label>
                                                                            <input type="date" class="form-control" id="otherformfirst" name="otherformfirst" value="">
                                                                        </div>
                                                                        <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                                            <label for="otherformcommerce" id="getit">Provide date of first use in commerce in another form:</label>
                                                                            <input type="date" class="form-control" id="otherformcommerce" name="otherformcommerce" value="">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div><!--END use in another form-->
                                    <div class="row" id="cc">
                                        <div class="col-sm-12">
                                            <section aria-label="Concurrent Use">
                                                <div class="card-text noexpand">
                                                    <h2 class="card-title weight600">Concurrent Use</h2>
                                                </div>
                                                <p class="weight600" style="margin-left: 11px; margin-right:11px;">The following situations are rare and are not relevant for most applicants. If none of these apply to you, click next.</p>
                                                <div class="row" style="margin-left: 11px; margin-right:11px;">
                                                    <div class="wide">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <input class="form-check-input checkmark" type="checkbox" value="court" tabindex="0" aria-labelledby="courtdecree" id="courtd">
                                                                <label class="form-check-label form-check long" for="courtd" id="courtdec"><span class="radio notspecial small match" id="courtdecree">Court Decree</span></label>
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <input class="form-check-input checkmark" type="checkbox" value="ttab" tabindex="0" aria-labelledby="priorttab" id="ttabmade">
                                                                <label class="form-check-label form-check long" for="ttabmade" id="ttabdecision"><span class="radio notspecial small" id="priorttab">Prior decision made by the Trademark Trial and Apeal Board (TTAB)</span></label>
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <input class="form-check-input checkmark" type="checkbox" value="conflicting" tabindex="0" aria-labelledby="conflictingreg" id="conflict">
                                                                <label class="form-check-label form-check long" for="conflict" id="conflictowner"><span class="radio notspecial small" id="conflictingreg">Written Consent signed by owner of conflicting registrations</span></label>
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <input class="form-check-input checkmark" type="checkbox" value="earlier" tabindex="0" aria-labelledby="early" id="earlieruse">
                                                                <label class="form-check-label form-check long" for="earlieruse" id="firstcommerce"><span class="radio notspecial small match" id="early">Earlier date of first use in commerce</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!--end checkbox row-->
                                                <div class="row" id="hideshowconcurrentuses">
                                                    <!--Start Dropzone-->
                                                    <div class="col-xs-12 form-group form-group-md">
                                                        <div class="col-xs-12 form-group form-group-md">
                                                            <p class="weight600" role="heading" aria-level="3">Upload supporting documents.</p>
                                                            <label class="small upload-drop-zone" for="filethree"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> <br>Upload a File</label>
                                                            <input type="file" id="filethree" name="file" class="form-control">
                                                        </div><!-- Drop Zone -->
                                                        <div class="col-xs-12 form-group form-group-md">
                                                            <label for="additional2" class="weight600">Provide any additional information.</label>
                                                            <textarea id="additional2" rows="3" class="form-control"></textarea>
                                                        </div>
                                                        <div class="col-xs-12 form-group form-group-md">
                                                            <label for="geographic" class="weight600">Geographic Area where you are using the mark in commerce:</label>
                                                            <textarea id="geographic" rows="3" class="form-control"></textarea>
                                                        </div>
                                                        <div class="col-xs-12 form-group form-group-md">
                                                            <label for="mode" class="weight600">Mode of Use:</label>
                                                            <textarea id="mode" rows="3" class="form-control"></textarea>
                                                        </div>
                                                        <div class="col-xs-12 form-group form-group-md holdsaconcregapp">
                                                            <div class="row">
                                                                <div class="col-xs-12 col-md-7 form-group form-group-md">
                                                                    <label for="concurrentfiles">Registration Issued/Applications Files by Concurrent User</label>
                                                                    <textarea id="concurrentfiles" rows="1" class="form-control"></textarea>
                                                                </div>
                                                                <div class="col-xs-12">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="noconcurrentfiles" tabindex="0" aria-labelledby="noconcurrentfile" id="noconcurrentfiles">
                                                                    <label class="form-check-label form-check long" for="noconcurrentfiles" id="nofiles"><span class="radio notspecial small" id="noconcurrentfile">Concurrent User does not have a Registration/Application with USPTO</span></label>
                                                                </div>
                                                                <div class="col-xs-12 col-md-7 form-group form-group-md">
                                                                    <label for="concurrentname">Concurrent User&#8217;s Name</label>
                                                                    <textarea id="concurrentname" rows="1" class="form-control"></textarea>
                                                                </div>
                                                                <div class="col-xs-12 form-group form-group-md">
                                                                    <p class="weight600" role="heading" aria-level="3">Concurrent User&#8217;s Address:</p>
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-5">
                                                                    <label for="concurrent-country">Country / US Territory</label>
                                                                    <select class="form-control" id="concurrent-country">
                                                                        <option value="Select">Select</option>
                                                                        <option value="1">UNITED STATES OF AMERICA</option>
                                                                        <option value="B2">AFGHANISTAN</option>
                                                                        <option value="B3">ALBANIA</option>
                                                                        <option value="C9">BELGIUM</option>
                                                                        <option value="D5">BRAZIL</option>
                                                                        <option value="E3">CAMBODIA</option>
                                                                        <option value="E4">CAMEROON</option>
                                                                        <option value="G7">DENMARK</option>
                                                                        <option value="G8">DOMINICAN REPUBLIC</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-7">
                                                                    <label for="concurrent-address1">Address Line 1</label>
                                                                    <input type="text" class="form-control" id="attorney-address1">
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-xl-6">
                                                                    <label for="concurrent-address2">Address Line 2</label>
                                                                    <input type="text" class="form-control" id="concurrent-address2">
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-xl-6">
                                                                    <label for="concurrent-address3">Address Line 3</label>
                                                                    <input type="text" class="form-control" id="concurrent-address3">
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-md-12 col-lg-5">
                                                                    <label for="concurrent-city">City</label>
                                                                    <input type="text" class="form-control" id="concurrent-city">
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-md-4 col-lg-3">
                                                                    <label for="concurrent-state">State</label>
                                                                    <select class="form-control" id="concurrent-state">
                                                                        <option value="Select">Select</option>
                                                                        <option value="MD">Maryland</option>
                                                                        <option value="NC">North Carolina</option>
                                                                        <option value="4">Virginia</option>
                                                                    </select>
                                                                </div>
                                                                <div class="form-group form-group-md col-xs-12 col-md-8 col-lg-4">
                                                                    <label for="concurrent-zipcode">Zip Code</label>
                                                                    <input type="text" class="form-control" id="concurrent-zipcode" placeholder="">
                                                                </div>
                                                                <div class="col-xs-12 form-group form-group-md">
                                                                    <label for="gs">Goods/Services:</label>
                                                                    <textarea id="gs" rows="3" class="form-control"></textarea>
                                                                </div>
                                                                <div class="col-xs-12 form-group form-group-md">
                                                                    <label for="area">Geographic Area of concurrent user:</label>
                                                                    <textarea id="area" rows="3" class="form-control"></textarea>
                                                                </div>
                                                                <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                                    <label for="concurrentmode">Concurrent User Mode of Use:</label>
                                                                    <textarea id="concurrentmode" rows="1" class="form-control"></textarea>
                                                                </div>
                                                                <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                                    <label for="timeuse">Time Periods of Use</label>
                                                                    <textarea id="timeuse" rows="1" class="form-control"></textarea>
                                                                </div>
                                                            </div>
                                                        </div><!--END holdsaconcregapp-->


                                                        <div class="appendaconcregapp"></div>
                                                        <div class="col-xs-12" role="group" aria-label="Add or delete additional application/registration">
                                                            <div class="col-xs-12">
                                                                <button type="button" class="btn-sm btn-success add ctr" id="addconcregapp">Add Additional Registration/Application</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div><!--END concurrent use-->
                                </div><!--END formgroup-->
                            </div>
                        </fieldset>
                    </form>
                </div><!--END col-->
            </div><!--END row-->
            <!--START Trademark Examples-->
            <!--START Standard Character-->

        </div>

        <div class="inlinebuttons btn-group btn-group-justified  owner-paging-buttons" role="nav" aria-label="view previous or next page" id="prevnxt">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default fill prev" id="prevButton" value="previous">Previous</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary fill next" id="nextButton" value="next" disabled>Next
                    <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
            </div>
        </div>


    </main>
</div><!--END Tiles row-->

<script th:inline="javascript">

    /*<![CDATA[*/


    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var host_name= /*[[${hostBean.host}]]*/ 'User Name';
    var host_port= /*[[${hostBean.port}]]*/ 'User Name';
    var  image_path = /*[[${markImagePath}]]*/ 'User Name';

    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';

    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';
    var inUse =  /*[[${baseTrademarkApplication.markInUseForAllGS}]]*/ 'User Name';



    var host = host_name+":"+host_port;


    /*]]>*/
</script>



<script>

    var nextLinkURL = "";
    var prevLinkURL = "../../application/filingBasisUpload/?trademarkID="+appInternalID;
    if(inUse){
        prevLinkURL = "../../application/inUseFilingBasisUpload/?trademarkID="+appInternalID;
    }
    var breadCrumb1Link = "../../application/start/?trademarkID="+appInternalID;


</script>


<script>



    // next link url to enable  for u.s individual href="http://localhost:8080/application/owner/info"
    $(document).ready(function() {


        setTimeout(function () {
            $('.content').fadeIn(500);
        }, 500);

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#panels').fadeIn(500);
        }, 500);


        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#contacts-ui').fadeIn(500);


        }, 500)

        $('#appInternalIDForm').val(appInternalID);
        //////////////////////////////////////////////////////////////////////
        // set mark image based on persisted values
        //////////////////////////////////////////////////////////////////////
        if(colorClaim == null){
            if(image_path != null){
                $('[data-toggle="popover"]').popover({
                    title : false,
                    html : true,
                    content : '<div class="media"><img src="'+image_path+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                });

            }
            // set color claim to true be default when its not set yet

            $('#inlineRadio1').click();
        }

        if(colorClaim == false){

            if(acceptBW == true){
                $('#inlineRadio2').click();
                $('#bwmark').click();

                $('[data-toggle="popover"]').popover({
                    title : false,
                    html : true,
                    content : '<div class="media"><img src="'+image_pathBW+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                });

                $('#colorMarkBWInline').attr("src", image_pathBW);

            }
            else{
                if(image_path != null){

                    $('[data-toggle="popover"]').popover({
                        title : false,
                        html : true,
                        content : '<div class="media"><img src="'+image_path+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                    });

                    $('#colorMarkInline').attr("src", image_path);


                }
            }

        }
        if(colorClaim == true){
            $('#inlineRadio1').click();
            if(image_path != null){

                $('[data-toggle="popover"]').popover({
                    title : false,
                    html : true,
                    content : '<div class="media"><img src="'+image_path+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                });
                $('#colorMarkInline').attr("src", image_path);


            }
        }






        $( '#togglepop' ).click(function() {
            $( this ).toggleClass( 'focus' );
            $(this).html() === '<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Hide My Mark'
                ? $(this).html('<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Show My Mark')
                : $(this).html('<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Hide My Mark');
        });



        //////////////////////////////////////////////////////////////////////
        // added for integration
        // right triang\le accodian toggle
        //////////////////////////////////////////////////////////////////////
        $('.glyphicon').click(function () {
            $(this).toggleClass("glyphicon-triangle-right").toggleClass("glyphicon-triangle-bottom");
        });
        //////////////////////////////////////////////////////////////////////
        // activate tool tip
        //////////////////////////////////////////////////////////////////////
        $('[data-toggle="tooltip"]').tooltip();



        ////////////////////////////////////////
        // set link click events
        /////////////////////////////////////////

        $('#prevButton').click(function () {
            location.href=prevLinkURL;
        });

        $('#nextButton').click(function () {
            location.href=nextLinkURL;
        });



        $('#breadcrumb1').click(function () {
            location.href=breadCrumb1Link;
        });

        if($('#mark-literal').val()!= ""){
            $('#nextButton').attr("disabled",false);

        }


        //////////////////////////////////////////////////////////////////////
        // toggle between color or bw local
        //////////////////////////////////////////////////////////////////////
        $('#inlineRadio2').click(function () {

            $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_pathBW+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');



        });
        //////////////////////////////////////////////////////////////////////
        // toggle between color or bw local
        //////////////////////////////////////////////////////////////////////
        $('#inlineRadio1').click(function () {
            $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


        });






















    }); // end of document ready




    function saveMarkTextdetails(field_name_prefix, field_value, appInternalID) {





        //alert(field_name_prefix);
        // send state, and token to server
        // token will be generated in the controller and added to the view
        // similar to how access token works ...a token is tied to a user
        // access token will be passed in through model
        //
        // var tokenValue = '${token}';  // token is the model attribute name
        // we are not using secured tokens for the prototype
        // we will secure it by adding ssl and https support

        //var field_value = $(this).val();
        //alert(field_value);

        $.ajax({
            url: "../../REST/apiGateway/mark/update/"+field_name_prefix+"/"+field_value+"/"+appInternalID,
            type: 'GET',
            success: function(data){

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:")+7, data.indexOf("status:")+4+7);

                var s_msg = data.substring(data.indexOf("msg:")+4, data.length-2);

                if(s_code.trim() == "200"){
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function() {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                }


            },
            error: function(data) {

                console.log(data);

            }

        });



        ////////////////////////////////////////////////////////////////////////////////
        // end of contact information 'State' auto save ////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////


    }



</script>

</body>
</html>