input.form-control-sm[type="search"] {

  position: relative;
  top:10%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
select.form-control-sm{
  position: relative;
  top:10%;
  right:-20px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

ul.pagination:first-child a  {

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

#example_wrapper{
  position: relative;
  margin-right: 15px;
}

thead:first-child  tr[role=row]{
  background-color: black;
  color: whitesmoke;
  width:100%;
  position: relative;
  left:-25px;

}
// end of styling for data tables


// styling for tab menu items on dashboard

.tablinks{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}


div > label > select.custom-select {
  position: relative;
  right:-30px;
}



