input.form-control-sm[type="search"] {

  position: relative;
  top:10%;
  left:-5%;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
select.form-control-sm{
  position: relative;
  top:10%;
  right:-20px;
  min-width: 100px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

.dataTables-length {
  min-width: 250px;

}

ul.pagination:first-child a  {

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

ul.pagination > li {
  position: relative;
  left: -10px;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

}

thead:first-child  tr[role=row]{
  background-color: white;
  color: black;
  width:100%;
  position: relative;
  left:-25px;

}
// end of styling for data tables


// styling for tab menu items on dashboard
.paginate-button{
  position:relative ;
  left:-20px;

}



div > label > select.custom-select {
  position: relative;
  right:-30px;
}


div#contacts_filter > label > input{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  min-width: 200px;
  padding : 5px;


}

div#filings-applications-table_filter > label > input {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding : 5px;

}


div#filings-applications-table_filter {
  position: relative;
  left:-3%;
  top: -10px;

}
div#contacts_filter  {
  position: relative;
  left:-60%;
  right:-10px;
}

// highlight effect for new added rows

tr.highlight {
  background-color: rgb(235, 235, 235) !important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


#attorney-email :focus{
  transition-delay: 4s;
  transition-duration: 3s;
}


table#selected-attorneys {
  border-collapse: collapse;
}


/*
#actions {
  transition: transform .5s;
}

#actions:hover{
  transition: transform .5s;
  transform: scale(1.2);
  z-index: 999;
}


#filings {
  transition: transform .5s;
}

#filings:hover{
  transition: transform .5s;
  transform: scale(1.1);
  z-index: 999;
}

*/

