
.col-form-label{
  position:relative;
  right:-10px;
 }


.row {

 margin-left:15px;
}

.rounded-borders{
  border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px;
}



