/* CSS Document */
body {
  font-size: 2.2rem;
}
.row.content {
  margin-bottom: 200px;
}


footer {
  color:#fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer p {
  font-size:.7em;
  line-height:82.564px;
}
#secondarynav {
  background-color: #004c97;
  min-height: 2.4em;
}
#primarynav, .navbar-header {
  height: 49px;
  padding: 0 .5rem 0 0;;
}
.navbar-brand, #myNavbar ul li a {
  line-height: 24px;
  height: 49px;
}
.navbar-inverse {
  border-radius:0;
}
#thisNavbar {
  background: url(images/logo_top.png);
  background-repeat: no-repeat;
  background-size: 78px 27px;
  background-position: 15px 10px;
}
/*OUTDENTED HEADLINE*/
.card-title {
  margin-bottom:4px;
}
.card-text {
  margin-bottom:24px;
  border-bottom: 3px solid #004C97;
  //width: 102.4%!important;
  background-color: rgb(256, 256, 256) ;
}
.material-icons {
  top:4px!important;
}
/*FORMS*/
.form-group {
  margin-top: 1em;
}
label {
  font-weight: 400;
}
.visuallyhidden {
  visibility:hidden!important;
}
