 /*
 * Copyright 2016 the original author or authors.
 *
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
@icon-font-path:    "../../webjars/bootstrap/fonts/";


 a {
   text-decoration: none !important;
 }
body {

  //background: url('../images/tradeMarks.jpg') fixed repeat-y;
  background-color: rgb(246, 246, 246);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-size: cover;
  overflow: auto;
  overflow-x: hidden;
  zoom: 75%;
}
menu-outer{top: auto; bottom: 100%}



 tr{
  position: relative;
  left:-30px;
}





.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.xd-container {
  margin-top: 40px;
  margin-bottom: 100px;
  padding-left: 5px;
  padding-right: 5px;
}

h1 {
  margin-bottom: 15px
}

.index-page--subtitle {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 30px;
}

.form-horizontal button.btn-inverse {
  margin-left: 32px;
}



.error-page {
  margin-top: 100px;
  text-align: center;
}

.error-page .error-title {
  font-size: 24px;
  line-height: 24px;
  margin: 30px 0 0;
}

table td {
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 5px;
}

table td .progress {
  margin-bottom: 0;
}

table td.action-column {
  width: 1px;
}

.xd-containers {
  font-size: 15px;
}

.cluster-view > table td {
  vertical-align: top;
}

.cluster-view .label, .cluster-view .column-block {
  display: block;
}

.cluster-view .input-group-addon {
  width: 0%;
}

.cluster-view {
  margin-bottom: 0;
}


.deployment-status-na {
}


.myspinner {
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  -webkit-transform-origin: 49% 50%;
  -webkit-animation-name: spinner;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}


 //////////////////////////////
 // add attorney modal styling
 //////////////////////////////

 #addNewAttorneyModal {
   position: absolute;
   left: 25%;
   right:10%;

 }


 #addNewOwnerModal {
   position: absolute;
   left: 30%;
   right:15%;

 }
 .rotate-180 {
   -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   -o-transform: rotate(180deg);
   transform: rotate(180deg);
 }


@import "lynn.less";
@import "forms.less";
@import "cards.less";
@import "dashboard.less";
@import "datatables.less";
@import "styles.less";
@import "upload.less";
