<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efilePetitionsFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Goods and Services Review</title>
</head>
<body>
<div class="row content"  style="display: none;">

    <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7" id="mainContent" tabindex="-1">
        <!--START Content Div-->
        <div class="row" id="soucontent">
            <div class="col-xs-12">
                <form action="" method="post">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Statement of Use</h1>
                        </div>
                    </div>

                    <th:block th:each="Good_Service_class : ${baseTrademarkApplication.getGoodAndServicesCategories()}">
                        <div>


                            <th:block th:if="${Good_Service_class.isActiveClass() == true}">
                                <!-- Modal -->
                                <div class="modal fade classmodal" tabindex="0" role="dialog" aria-labelledby="soumodallabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="soumodallabel">Delete Class Permanently?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p role="alert"><span class="sr-only"></span>This statement of use does not cover this specific class. This entire class is to be permanently deleted from this application.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-xs-12 form-group form-group-md">
                                                        <div class="row">
                                                            <div class="btn-group btn-group-justified">
                                                                <div class="col-xs-6 btn-group">
                                                                    <button type="button" class="btn btn-sm btn-success cancel" data-dismiss="modal">Cancel</button>
                                                                </div>
                                                                <div class="col-xs-6 btn-group">
                                                                    <button type="button" class="btn btn-sm btn-success disable-cc" data-dismiss="modal" th:attr="cc-id=${Good_Service_class.getClassCategoryNumber()}">Yes, delete this class</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade gsmodal" tabindex="0" role="dialog" aria-labelledby="soumodaltwolabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="soumodaltwolabel">Delete some goods/services in this class</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Please delete goods/services that are not in use.</p>
                                                <p>The mark is in use in commerce on or in connection with the following goods/services:</p>
                                                <div class="form-group form-group-md">
                                                    <div class="inusegs form-control" role="textbox" contenteditable="true" aria-multiline="true">

                                                        <th:block th:each="Good_Service: ${Good_Service_class.getGoodAndServices()}">




                                                            <th:block th:if="${Good_Service.isActiveGS() == true}">
                                                            <span class="label label-info subtle" contenteditable="false">
                                                            <span class="closepans" th:text="${Good_Service.getClassDescription()}"></span>
                                                            <button type="button" class="close closegspanels" aria-label="delete" th:attr="gs-id=${Good_Service.getInternalID()}"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span></button>
                                                        </span>

                                                            </th:block>

                                                            <th:block th:if="${Good_Service.isActiveGS() == false}">

                                                            <span class="label label-info subtle" contenteditable="false" style="background: rgb(236, 241, 243); color: rgb(153, 153, 153);">
                                                            <span class="closepans" style="display: table-cell; vertical-align: middle;" th:text="${Good_Service.getClassDescription()}"></span>
                                                            <button type="button" class="close closegspanels refresh" aria-label="undo delete this good / service" style="display: table-cell; vertical-align: middle;" th:attr="gs-id=${Good_Service.getInternalID()}"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></button>
                                                        </span>

                                                            </th:block>







                                                        </th:block>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-xs-12 form-group form-group-md">
                                                        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Done</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row formodal" style="display: none;">
                                    <div class="resetclass">
                                        <button type="button" th:attr="cc-id=${Good_Service_class.getClassCategoryNumber()}" class="btn btn-sm close resetclassbtn  enable-cc" aria-label="undo this class deletion"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                    </div>
                                </div><!--END add/remove class button row-->

                                <div class="row">
                                    <div class="col-xs-12 statementou">
                                        <div class="card-text noexpand blue">
                                            <div class="col-md-12 col-lg-7">
                                                <div class="displaytable">
                                                    <h2 class="card-title weight600 displaycell"><span th:text="${Good_Service_class.getClassNumberDisplay()}">Class 18</span>

                                                        <th:block th:each="Good_Service: ${Good_Service_class.getGoodAndServices()}">
                                                            <th:block th:if="${Good_Service.isActiveGS() == true}">
                                                                <span class="listed" role="alert">
                                                                    <span class="sr-only"></span>
                                                                    <span th:text="${Good_Service.getClassDescription()}">Athletic apparel, namely, shirts, pants, jackets, footwear, hats and caps, athletic uniforms;</span>;
                                                                </span>
                                                            </th:block>
                                                            <th:block th:if="${Good_Service.isActiveGS() == false}">
                                                                <span class="listed strike" role="alert">
                                                                    <span class="sr-only">removed</span>
                                                                    <span th:text="${Good_Service.getClassDescription()}">Athletic apparel, namely, shirts, pants, jackets, footwear, hats and caps, athletic uniforms;</span>;
                                                                </span>

                                                            </th:block>
                                                        </th:block>

                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-5">
                                                <label for="gs_one" class="sr-only">edit class</label>
                                                <select class="form-control gsactions" id="gs_one">
                                                    <option value="edit">Edit</option>
                                                    <option value="delete">Delete this class permanently</option>
                                                    <option value="limit">Delete some goods/services in this class</option>
                                                    <option value="divide" disabled>Divide some or all of the goods/services in this class</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <fieldset aria-label="use statement">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <h2 class="weight600">Use Statement</h2>
                                                            <div class="form-group form-group-md">
                                                                <input class="form-check-input checkmark in-use-cc" type="checkbox" value="" tabindex="0"   name="user-accept-checkbox" th:attr="cc-id=${Good_Service_class.getClassCategoryNumber()}, id=${Good_Service_class.getInUseCheckboxID()},aria-labelledby=${Good_Service_class.getInUseCheckboxLabelID()} ">
                                                                <label class="form-check-label form-check-left form-check"  th:attr="for=${Good_Service_class.getInUseCheckboxID()}, id=${Good_Service_class.getInUseCheckboxLabelID()}" ><span class="radio notspecial">The mark is in use in commerce on or in connection with all goods/services in this class.</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                            <label for="connection-date_one" class="matchlabelheighttwo">When did you first use the mark in connection with the goods/services? <a href="#" data-toggle="tooltip" title="Enter the date on which the mark was first used with the goods or services." class="glyphicon glyphicon-info-sign test" data-placement="right"></a> <span class="label label-info subtle">Reduced Fee</span><span class="sr-only">enter the date in the following format: m m / d d / y y y y</span></label>
                                                            <input type="text" placeholder="mm/dd/yyy" class="form-control datepicker" id="connection-date_one" name="connectiondate" value="">
                                                        </div>
                                                        <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                            <label for="firstconnection-date_one" class="matchlabelheighttwo">When did you first use the mark in Commerce? <a href="#" data-toggle="tooltip" title="Enter the date on which the mark was first used in commerce, such as commerce between states or between the United States and another country." class="glyphicon glyphicon-info-sign test" data-placement="right"></a> <span class="label label-info subtle">Reduced Fee</span><span class="sr-only">enter the date in the following format: m m / d d / y y y y</span></label>
                                                            <input type="text" placeholder="mm/dd/yyy" class="form-control datepicker" id="firstconnection-date_one" name="firstconnectiondate" value="">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset aria-label="upload specimen">
                                                    <div class="row">
                                                        <div class="col-xs-12 form-group form-group-md upload">
                                                            <h2 class="weight600">Attach Specimen</h2>
                                                            <p id="upimagetwo">Please provide a specimen for this individual good/service.</p>
                                                            <div class="form-group form-group-md hidethis">
                                                                <label class="small upload-drop-zone" for="specimensixfile" id="upimgtwo"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> <br>Upload file. Allowed file types .jpg, .tiff, .png</label>
                                                                <input type="file" id="specimensixfile" name="specimensixfileupload" class="form-control" accept=".jpg,.tiff,.png" aria-labelledby="upimgtwo upimagetwo">
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 js-upload-finished">
                                                                    <div class="list-group">
                                                                        <div class="list-group-item list-group-item-success fileholder col-xs-12" role="alert"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="col-xs-12 form-group form-group-md">
                                                                        <button type="submit" class="btn-sm btn-success add ctr" aria-label="submit selected file">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </div><!-- Drop Zone -->
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <label for="specdescriptone">Provide a description of your specimen:</label>
                                                            <textarea id="specdescriptone" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset aria-label="enter other information">
                                                    <div class="row">
                                                        <div class="col-xs-12 form-group form-group-md">
                                                            <h2 class="card-title weight600">Other Situations</h2>
                                                            <div class="row">
                                                                <div class="col-xs-12 form-group form-group-md">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="minorchange_one" tabindex="0" aria-labelledby="minor_one" id="nonmaterial_one">
                                                                    <label class="form-check-label form-check-left form-check" for="nonmaterial_one" id="minor_one"><span class="radio notspecial">Make minor/non-material changes to my mark to conform to my specimen</span></label>
                                                                </div>
                                                                <div class="col-xs-12 form-group form-group-md">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="information_one" tabindex="0" aria-labelledby="addinfo_one" id="info_one">
                                                                    <label class="form-check-label form-check-left form-check" for="info_one" id="addinfo_one"><span class="radio notspecial">Include additional information not previously requested or specified</span></label>
                                                                </div>
                                                                <div class="col-xs-12 form-group form-group-md">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="optionalinsurance_one" tabindex="0" aria-labelledby="optional_one" id="insurance_one">
                                                                    <label class="form-check-label form-check-left form-check" for="insurance_one" id="optional_one"><span class="radio notspecial">File an optional insurance extension</span></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </th:block>

                            <th:block th:if="${Good_Service_class.isActiveClass() == false}">

                                <!-- Modal -->
                                <div class="modal fade classmodal" tabindex="0" role="dialog" aria-labelledby="soumodallabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="soumodallabel">Delete Class Permanently?</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p role="alert"><span class="sr-only"></span>This statement of use does not cover this specific class. This entire class is to be permanently deleted from this application.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-xs-12 form-group form-group-md">
                                                        <div class="row">
                                                            <div class="btn-group btn-group-justified">
                                                                <div class="col-xs-6 btn-group">
                                                                    <button type="button" class="btn btn-sm btn-success cancel" data-dismiss="modal">Cancel</button>
                                                                </div>
                                                                <div class="col-xs-6 btn-group">
                                                                    <button type="button" class="btn btn-sm btn-success disable-cc" data-dismiss="modal" th:attr="cc-id=${Good_Service_class.getClassCategoryNumber()}">Yes, delete this class</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade gsmodal" tabindex="0" role="dialog" aria-labelledby="soumodaltwolabel">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="soumodaltwolabel">Delete some goods/services in this class</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Please delete goods/services that are not in use.</p>
                                                <p>The mark is in use in commerce on or in connection with the following goods/services:</p>
                                                <div class="form-group form-group-md">
                                                    <div class="inusegs form-control" role="textbox" contenteditable="true" aria-multiline="true">

                                                        <th:block th:each="Good_Service: ${Good_Service_class.getGoodAndServices()}">




                                                            <th:block th:if="${Good_Service.isActiveGS() == true}">
                                                            <span class="label label-info subtle" contenteditable="false">
                                                            <span class="closepans" th:text="${Good_Service.getClassDescription()}"></span>
                                                            <button type="button" class="close closegspanels" aria-label="delete" th:attr="gs-id=${Good_Service.getInternalID()}"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span></button>
                                                        </span>

                                                            </th:block>

                                                            <th:block th:if="${Good_Service.isActiveGS() == false}">

                                                            <span class="label label-info subtle" contenteditable="false" style="background: rgb(236, 241, 243); color: rgb(153, 153, 153);">
                                                            <span class="closepans" style="display: table-cell; vertical-align: middle;" th:text="${Good_Service.getClassDescription()}"></span>
                                                            <button type="button" class="close closegspanels refresh" aria-label="undo delete this good / service" style="display: table-cell; vertical-align: middle;" th:attr="gs-id=${Good_Service.getInternalID()}"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></button>
                                                        </span>

                                                            </th:block>







                                                        </th:block>


                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="row">
                                                    <div class="col-xs-12 form-group form-group-md">
                                                        <button type="button" class="btn btn-sm btn-success" data-dismiss="modal">Done</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row formodal" style="display: block;">
                                    <div class="resetclass">
                                        <button type="button" th:attr="cc-id=${Good_Service_class.getClassCategoryNumber()}" class="btn btn-sm close resetclassbtn enable-cc" aria-label="undo this class deletion"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                    </div>
                                </div><!--END add/remove class button row-->

                                <div class="row">
                                    <div class="col-xs-12 statementou" style="opacity: 0.4;">
                                        <div class="card-text noexpand blue">
                                            <div class="col-md-12 col-lg-7">
                                                <div class="displaytable">
                                                    <h2 class="card-title weight600 displaycell"><span th:text="${Good_Service_class.getClassNumberDisplay()}">Class 18</span>

                                                        <th:block th:each="Good_Service: ${Good_Service_class.getGoodAndServices()}">
                                                            <th:block th:if="${Good_Service.isActiveGS() == true}">
                                                                <span class="listed" role="alert">
                                                                    <span class="sr-only"></span>
                                                                    <span th:text="${Good_Service.getClassDescription()}">Athletic apparel, namely, shirts, pants, jackets, footwear, hats and caps, athletic uniforms;</span>;
                                                                </span>
                                                            </th:block>
                                                            <th:block th:if="${Good_Service.isActiveGS() == false}">
                                                                <span class="listed strike" role="alert">
                                                                    <span class="sr-only">removed</span>
                                                                    <span th:text="${Good_Service.getClassDescription()}">Athletic apparel, namely, shirts, pants, jackets, footwear, hats and caps, athletic uniforms;</span>;
                                                                </span>

                                                            </th:block>
                                                        </th:block>

                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-5">
                                                <label for="gs_one" class="sr-only">edit class</label>
                                                <select class="form-control gsactions" id="gs_one">
                                                    <option value="edit">Edit</option>
                                                    <option value="delete">Delete this class permanently</option>
                                                    <option value="limit">Delete some goods/services in this class</option>
                                                    <option value="divide" disabled>Divide some or all of the goods/services in this class</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <fieldset aria-label="use statement">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <h2 class="weight600">Use Statement</h2>
                                                            <div class="form-group form-group-md">
                                                                <input class="form-check-input checkmark  in-use-cc" type="checkbox" value="" tabindex="0" aria-labelledby="userAccept-label_one"  name="user-accept-checkbox" th:attr="cc-id=${Good_Service_class.getClassCategoryNumber()}">
                                                                <label class="form-check-label form-check-left form-check"  id="userAccept-label_one"><span class="radio notspecial">The mark is in use in commerce on or in connection with all goods/services in this class.</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                            <label for="connection-date_one" class="matchlabelheighttwo">When did you first use the mark in connection with the goods/services? <a href="#" data-toggle="tooltip" title="Enter the date on which the mark was first used with the goods or services." class="glyphicon glyphicon-info-sign test" data-placement="right"></a> <span class="label label-info subtle">Reduced Fee</span><span class="sr-only">enter the date in the following format: m m / d d / y y y y</span></label>
                                                            <input type="text" placeholder="mm/dd/yyy" class="form-control datepicker" id="connection-date_one" name="connectiondate" value="">
                                                        </div>
                                                        <div class="col-xs-12 col-md-6 form-group form-group-md">
                                                            <label for="firstconnection-date_one" class="matchlabelheighttwo">When did you first use the mark in Commerce? <a href="#" data-toggle="tooltip" title="Enter the date on which the mark was first used in commerce, such as commerce between states or between the United States and another country." class="glyphicon glyphicon-info-sign test" data-placement="right"></a> <span class="label label-info subtle">Reduced Fee</span><span class="sr-only">enter the date in the following format: m m / d d / y y y y</span></label>
                                                            <input type="text" placeholder="mm/dd/yyy" class="form-control datepicker" id="firstconnection-date_one" name="firstconnectiondate" value="">
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset aria-label="upload specimen">
                                                    <div class="row">
                                                        <div class="col-xs-12 form-group form-group-md upload">
                                                            <h2 class="weight600">Attach Specimen</h2>
                                                            <p id="upimagetwo">Please provide a specimen for this individual good/service.</p>
                                                            <div class="form-group form-group-md hidethis">
                                                                <label class="small upload-drop-zone" for="specimensixfile" id="upimgtwo"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> <br>Upload file. Allowed file types .jpg, .tiff, .png</label>
                                                                <input type="file" id="specimensixfile" name="specimensixfileupload" class="form-control" accept=".jpg,.tiff,.png" aria-labelledby="upimgtwo upimagetwo">
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12 js-upload-finished">
                                                                    <div class="list-group">
                                                                        <div class="list-group-item list-group-item-success fileholder col-xs-12" role="alert"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-xs-12">
                                                                    <div class="col-xs-12 form-group form-group-md">
                                                                        <button type="submit" class="btn-sm btn-success add ctr" aria-label="submit selected file">Submit</button>
                                                                    </div>
                                                                </div>
                                                            </div><!-- Drop Zone -->
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <label for="specdescriptone">Provide a description of your specimen:</label>
                                                            <textarea id="specdescriptone" class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <fieldset aria-label="enter other information">
                                                    <div class="row">
                                                        <div class="col-xs-12 form-group form-group-md">
                                                            <h2 class="card-title weight600">Other Situations</h2>
                                                            <div class="row">
                                                                <div class="col-xs-12 form-group form-group-md">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="minorchange_one" tabindex="0" aria-labelledby="minor_one" id="nonmaterial_one">
                                                                    <label class="form-check-label form-check-left form-check" for="nonmaterial_one" id="minor_one"><span class="radio notspecial">Make minor/non-material changes to my mark to conform to my specimen</span></label>
                                                                </div>
                                                                <div class="col-xs-12 form-group form-group-md">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="information_one" tabindex="0" aria-labelledby="addinfo_one" id="info_one">
                                                                    <label class="form-check-label form-check-left form-check" for="info_one" id="addinfo_one"><span class="radio notspecial">Include additional information not previously requested or specified</span></label>
                                                                </div>
                                                                <div class="col-xs-12 form-group form-group-md">
                                                                    <input class="form-check-input checkmark" type="checkbox" value="optionalinsurance_one" tabindex="0" aria-labelledby="optional_one" id="insurance_one">
                                                                    <label class="form-check-label form-check-left form-check" for="insurance_one" id="optional_one"><span class="radio notspecial">File an optional insurance extension</span></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </th:block>

                        </div>
                    </th:block>









                </form>
            </div><!--END col-->
        </div><!--END row-->
        <div class="inlinebuttons btn-group btn-group-justified" role="navigation" aria-label="view previous or next page" id="prevnxt">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default fill prev" id="" value="previous">Previous</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary fill next" id="" value="next" disabled>Next
                    <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
            </div>
        </div>
    </main><!--END main-->

</div><!--END div content-->



<script th:inline="javascript">

    /*<![CDATA[*/
    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var  image_path = /*[[${markImagePath}]]*/ 'User Name';

    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';


    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';

    var OfficeActionID = /*[[${OfficeActionID}]]*/ 'User Name';

    var colorClaimSet = /*[[${colorClaimSet}]]*/ 'User Name';

    var markType = /*[[${baseTrademarkApplication.tradeMark.trademarkDesignType}]]*/ 'User Name';
    var markText = /*[[${baseTrademarkApplication.tradeMark.trademarkStandardCharacterText}]]*/ 'User Name';

    /*]]>*/
</script>

    

<script>

    var prevLinkURL = "../../../../accounts/dashboard";


    var nextLinkURL = "../../../../officeAction/noa/signature/"+OfficeActionID+"/?trademarkID="+appInternalID;



    $(document).ready(function() {

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);


        //////////////////////////////////////////////////////////////////////
        // set mark image based on persisted values
        //////////////////////////////////////////////////////////////////////

        if (markType == "Standard Character") {

            if (markText != null && markText != "") {

                $('#togglepop').attr('data-content', '<div class="media"><span id="showmarktxt" style="min-width:77px;width:80px;margin:0 auto;font-family: Palatino, Garamond, Bookman, Avant Garde; font-size:.9em;text-align:center;margin-bottom:0;" class="media-object" alt="my trademark">' + markText + '</span></div>');
            } else {
                $('#togglepop').attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
            }

        } else {

            if (colorClaimSet == false) {

                if (image_path != null) {

                    $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_path + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');

                }
                // set color claim to true be default when its not set yet
                else {
                    $('#togglepop').attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
                }

            } else {

                if (colorClaim == false) {

                    if (acceptBW == true) {
                        // $('#inlineRadio2').click();
                        // $('#bwmark').click();

                        $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_pathBW + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                    } else {
                        if (image_path != null) {

                            $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_path + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                        }

                    }

                }
                if (colorClaim == true) {
                    // $('#inlineRadio1').click();
                    if (image_path != null) {

                        $('#togglepop').attr('data-content', '<div class="media"><img src=' + image_path + ' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                    }
                }


            }


        }


        // paging

        $('.next').click(function () {
            location.href = nextLinkURL;
        });

        $('.prev').click(function () {
            location.href = prevLinkURL;
        });




        $('.in-use-cc').click(function () {

            var ccID = $(this).attr("cc-id");

            if (this.checked == true) {

                // save class in use cc yes

                // ajax return function will check code to unlock next button
                saveNOAresponse("all-in-use", "yes",  OfficeActionID, ccID, appInternalID );

            } else {
                // save class in use cc no

                saveNOAresponse("all-in-use", "no",  OfficeActionID, ccID, appInternalID );
            }

        });


        $('.disable-cc').click(function () {
            var ccID = $(this).attr("cc-id");

            saveNOAresponse("activate-cc-noa", "no",  OfficeActionID, ccID, appInternalID );
        });

        $('.enable-cc').click(function () {
            var ccID = $(this).attr("cc-id");

            saveNOAresponse("activate-cc-noa", "yes",  OfficeActionID, ccID, appInternalID );
        });

        $('.closegspanels').click(function () {


            var gsID = $(this).attr("gs-id");
            if($(this).hasClass("refresh")){

                alert("enable gs");

                saveNOAresponseGS("activate-gs-noa", "yes", OfficeActionID, gsID, appInternalID);


            }
            else {
                alert("disable gs");

                saveNOAresponseGS("activate-gs-noa", "no", OfficeActionID, gsID, appInternalID);
            }
        });






        // ajax auto save
    });

    function saveNOAresponse(FieldName, FieldValue, OA_id, cc_id ,appInternalID) {

        //var field_value = $(this).val();
        //alert(field_value);


        $.ajax({
            url: "../../../../REST/apiGateway/OfficeAction/noa/response/update/cc/" + FieldName + "/" + FieldValue + "/" + OA_id + "/" + cc_id +"/"+appInternalID,
            type: 'GET',
            success: function (data) {

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:") + 7, data.indexOf("status:") + 4 + 7);

                var s_msg = data.substring(data.indexOf("msg:") + 4, data.length - 2);



                if (s_code.trim() == "200") {
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                    $('.next').attr("disabled", true);

                }
                else {

                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                    $('.next').attr("disabled", false);

                }


            },
            error: function (data) {

                console.log(data);

            }

        });
    }





    function saveNOAresponseGS(FieldName, FieldValue, OA_id, gs_id ,appInternalID) {

        //var field_value = $(this).val();
        //alert(field_value);


        $.ajax({
            url: "../../../../REST/apiGateway/OfficeAction/noa/response/update/gs/" + FieldName + "/" + FieldValue + "/" + OA_id + "/" + gs_id +"/"+appInternalID,
            type: 'GET',
            success: function (data) {

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:") + 7, data.indexOf("status:") + 4 + 7);

                var s_msg = data.substring(data.indexOf("msg:") + 4, data.length - 2);



                if (s_code.trim() == "200") {
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                    $('.next').attr("disabled", true);

                }
                else {

                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                    $('.next').attr("disabled", false);

                }


            },
            error: function (data) {

                console.log(data);

            }

        });
    }



</script>

</body>
</html>