<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efilePetitionsFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Goods and Services Review</title>
</head>
<body>
<div class="row content" id="responseamend" style="display: none;">

    <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7" id="editattorney">

        <div class="row" style="position: relative;">
            <div class="col-xs-12 ">

                <div class="row">
                    <section class="col-xs-12 steps breadcrumb-steps" aria-label="progress tracker">
                        <div class="row displaycell">

                            <th:block th:each="crumb, iter: ${action.getOAbreadCrumbs()}">


                                <th:block th:if="${crumb.isActiveBreadCrumb() == true}">
                                    <div class="col-xs-2 active">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span th:text="${iter.index}+1">1</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p class="first" th:text="${crumb.getDescription()}"></p>
                                            </div>
                                        </div>
                                    </div>

                                </th:block>

                                <th:block th:if="${crumb.isActiveBreadCrumb() == false}">
                                    <div class="col-xs-2">
                                        <div class="row">
                                            <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                                <span th:text="${iter.index}+1">1</span>
                                            </div>
                                            <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                                <p class="first" th:text="${crumb.getDescription()}"></p>
                                            </div>
                                        </div>
                                    </div>

                                </th:block>



                            </th:block>



                        </div>
                    </section>
                </div>


                <!--END Application Type-->
            </div><!--END RADIO container-->

        </div><!--END row-->
        <!--START Content Div-->
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Respond to Office Action</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-12 alert alert-warning closepans" role="alert" aria-live="assertive" id="alertmin">
                            <p id="mintext"></p>
                            <button type="button" class="close closegspanels" aria-label="close alert" id="alertbtn"><span aria-hidden="true" class="glyphicon glyphicon-remove-circle"></span></button>
                            <br clear="all">
                        </div>
                    </div>
                    <div class="col-xs-12" id="declarationsignature">
                        <form action="" method="post">
                            <fieldset>
                                <div class="row">
                                    <div class="form-group form-group-md col-xs-12">
                                        <div class="row">
                                            <section class="col-xs-12" aria-label="declarations" id="declarationschecks">
                                                <div class="card-text noexpand">
                                                    <h2 class="card-title weight600">Declarations</h2>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 form-group form-group-md indentctr">
                                                        <p><span class="weight600">&#42; = Required</span></p>
                                                        <p id="selection">You <span class="weight600">must</span> click <span class="weight600"><em>one</em></span> of the three buttons, <span class="weight600"><em>below</em></span>, to confirm that you are authorized pursuant to the rules governing representation of others before the USPTO to sign this form. <span class="weight600">&#42;</span></p>
                                                        <div class="row">
                                                            <div class="col-xs-12 form-group form-group-md">
                                                                <div role="radiogroup" aria-describedby="selection" class="form-group form-group-md">
                                                                    <div class="radio">
                                                                        <label for="unrepre" class="radio-inline radiocontainer">
                                                                            <ul><span class="weight600">Unrepresented Owner/Holder</span>: I hereby confirm that
                                                                                <li><span class="weight600">No</span> authorized attorney or Canadian attorney/agent <a href="#">represents</a> me in this matter, and that I am either: (1) the owner/holder; or (2) a person(s) with legal authority to bind the owner/holder; and</li>
                                                                                <li>If an authorized U.S. attorney or canadian attorney/agent previously represented me in this matter, either I have filed a signed revocation of power of attorney with the USPTO or the USPTO has granted the request of my prior representation to withdraw. <br><span class="weight600 uppercase">advisory</span>: you may click this first button <em>only</em> if you are the owner/holder or legally authorized to bind the owner/holder, e.g., an officer of the owner/holder corporation or association, or a general partner of the owner/holder partnership.</li>
                                                                            </ul>

                                                                            <th:block th:if="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).isUnrepresentedOwner() == true}">
                                                                                <input type="radio" name="roadeclarations" id="unrepre" value="unrepresented" tabindex="0" checked><span class="checkmark"></span>

                                                                            </th:block>

                                                                            <th:block th:if="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).isUnrepresentedOwner() == false}">
                                                                                <input type="radio" name="roadeclarations" id="unrepre" value="unrepresented" tabindex="0"><span class="checkmark"></span>

                                                                            </th:block>
                                                                        </label>

                                                                    </div>
                                                                    <div class="radio">
                                                                        <label for="usattorney" class="radio-inline radiocontainer">
                                                                            <ul><span class="weight600">Authorized U.S. Attorney</span>: I hereby confirm that
                                                                                <li>I am an attorney who is a member in good standing of the bar of the highest court of a U.S. state, which includes the District of Columbia, Puerto Rico, and other federal territories and possessions;</li>
                                                                                <li>I am currently the owner&#8217;s/holder&#8217;s attorney or an <a href="#">associate</a> thereof;</li>
                                                                                <li>To the best of my knowledge, if prior to my appointment another U.S. attorney or a Canadian attorney/agent <span class="weight600">not currently associated with my company/firm</span> previously <a href="#">represented</a> the owner/holder in this matter: <a href="#">(1)</a> the owner/holder has filed or is concurrently filing a signed revocation of or substitute power of attorney with the USPTO; <a href="#">(2)</a> the USPTO has granted the request of the prior representative to withdraw; <a href="#">(3)</a> the owner/holder has filed a power of attorney appointing me in this matter; or <a href="#">(4)</a> the owner&#8217;s/holder&#8217;s appointed U.S. attorney or Canadian attorney/agent has filed a power of attorney appointing me as an associate attorney in this matter.</li>
                                                                            </ul>
                                                                            <th:block th:if="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).isAuthorizedUSattorney() == true}">
                                                                                <input type="radio" name="roadeclarations" id="unrepre" value="unrepresented" tabindex="0" checked><span class="checkmark"></span>

                                                                            </th:block>

                                                                            <th:block th:if="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).isAuthorizedUSattorney() == false}">
                                                                                <input type="radio" name="roadeclarations" id="usattorney" value="us" tabindex="0"><span class="checkmark"></span>

                                                                            </th:block>
                                                                        </label>

                                                                    </div>
                                                                    <div class="radio">
                                                                        <label for="canada" class="radio-inline radiocontainer">
                                                                            <ul><span class="weight600">Authorized Canadian Attorney/Agent</span>: I hereby confirm that
                                                                                <li>I am a Canadian attorney/agent, or an associate thereof, who represents an owner/holder located in Canada;</li>
                                                                                <li>I am either registered with the USPTO and in good standing as a patent agent under 37 C.F.R. &#167;11.6(c) or I have been granted reciprocal recognition under 37 C.F.R. &#167;11.14(c) by the USPTO&#8217;s Office of Enrollment and Discipline; and;</li>
                                                                                <li>To the best of my knowledge, if prior to my appointment another Canadian attorney/agent or a U.S. attorney <span class="weight600">not currently associated with my company/firm</span> previously <a href="#">represented</a> the owner/holder in this matter: <a href="#">(1)</a> the owner/holder has filed or is concurrently filing a signed revocation of or substitute power of attorney with the USPTO; <a href="#">(2)</a> the USPTO has granted the request of the prior representative to withdraw; <a href="#">(3)</a> the owner/holder has filed a power of attorney appointing me in this matter; or <a href="#">(4)</a> the owner&#8217;s/holder&#8217;s appointed Canadian attorney/agent or U.S. attorney has filed a power of attorney appointing me as an associate attorney in this matter.</li>
                                                                            </ul>
                                                                            <th:block th:if="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).isAuthorizedCAattorney() == true}">
                                                                                <input type="radio" name="roadeclarations" id="canada" value="canadian" tabindex="0" checked><span class="checkmark"></span>

                                                                            </th:block>

                                                                            <th:block th:if="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).isAuthorizedCAattorney() == false}">
                                                                                <input type="radio" name="roadeclarations" id="canada" value="canadian" tabindex="0"><span class="checkmark"></span>

                                                                            </th:block>

                                                                        </label>
                                                                    </div>
                                                                </div><!--END radiogroup-->
                                                            </div>
                                                        </div><!--end radio row-->
                                                    </div>
                                                </div>
                                            </section><!--//declarations-->
                                            <section class="col-xs-12" aria-label="signature method">
                                                <div class="card-text noexpand">
                                                    <h2 class="card-title weight600">Sign</h2>
                                                </div>
                                                <div class="col-xs-12">
                                                    <div class="row">
                                                        <div class="col-xs-12 form-group form-group-md">
                                                            <label for="ta2">How are you signing the response?</label>

                                                            <th:block th:if="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).isAutorizationComplete() == true}">
                                                                <select class="form-control signmethod countinputs" id="ta2" >
                                                                    <option value="Select">Select Signature Method</option>
                                                                    <option value="direct">Sign directly</option>
                                                                    <option value="handwritten" disabled>Print and upload handwritten signature</option>
                                                                    <option value="send" disabled>Send to second party for signature</option>
                                                                    <option value="unsigned" disabled>Submit unsigned</option>
                                                                </select>

                                                            </th:block>
                                                            <th:block th:if="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).isAutorizationComplete() == false}">
                                                                <select class="form-control signmethod countinputs" id="ta2" disabled>
                                                                    <option value="Select">Select Signature Method</option>
                                                                    <option value="direct">Sign directly</option>
                                                                    <option value="handwritten" disabled>Print and upload handwritten signature</option>
                                                                    <option value="send" disabled>Send to second party for signature</option>
                                                                    <option value="unsigned" disabled>Submit unsigned</option>
                                                                </select>

                                                            </th:block>

                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div><!--//signature method-->

                                        <th:block th:if="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).isOfficeActionSignDirect() == true}">
                                            <div class="row hidethis"  id="singature-section" style="">
                                                <section class="col-xs-12" aria-label="sign">
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div class="col-xs-12 form-group form-group-md">
                                                                <div class="row">
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="signature">Signature <span class="weight600">&#42;</span> <a href="#" data-toggle="tooltip" title="" class="glyphicon glyphicon-info-sign test" data-placement="right" data-original-title="To electronically sign the application enter any combination of alpha numeric characters between two forward slash symbols (/); e.g., /jane smith/, /rdr/, or /127/)."></a></label>
                                                                        <input type="text" class="form-control" placeholder="/Signature/" id="signature" required th:value="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).getOfficeActionSignature()}" >
                                                                    </div>

                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <p class="sr-only">Enter the date in the following format: 20:36:14 May 30, 2019 E.T.</p>
                                                                        <label for="datesigned">Date signed: <span id="tz" class="sr-only"> </span></label>
                                                                        <textarea rows="1" class="form-control datesigned disabled" id="datesigned" disabled th:text="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).getOfficeActionDateSignedDisplay()}"> </textarea>
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="signatoryname">Signatory&#8217;s name <span class="weight600">&#42;</span></label>
                                                                        <input type="text" class="form-control" id="signatoryname" required th:value="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).getOfficeActionSignatoryName()}">
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-9 col-lg-6">
                                                                        <label for="signatoryphone">Signatory&#8217;s phone number</label>
                                                                        <input type="tel" class="form-control" id="signatoryphone" th:value="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).getOfficeActionSignatoryPhone()}">
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="signatoryposition">Signatory&#8217;s position <span class="weight600">&#42;</span></label>
                                                                        <input type="text" class="form-control" id="signatoryposition" required  th:value="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).getOfficeActionSignatoryPosition()}">
                                                                    </div>
                                                                </div><!--end checkbox row-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div><!--//sign-->

                                        </th:block>

                                        <th:block th:if="${baseTrademarkApplication.findOfficeActionById(OfficeActionID).isOfficeActionSignDirect() == false}">
                                            <div class="row hidethis"  id="singature-section" style="display: none;">
                                                <section class="col-xs-12" aria-label="sign">
                                                    <div class="col-xs-12">
                                                        <div class="row">
                                                            <div class="col-xs-12 form-group form-group-md">
                                                                <div class="row">
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="signature">Signature <span class="weight600">&#42;</span> <a href="#" data-toggle="tooltip" title="" class="glyphicon glyphicon-info-sign test" data-placement="right" data-original-title="To electronically sign the application enter any combination of alpha numeric characters between two forward slash symbols (/); e.g., /jane smith/, /rdr/, or /127/)."></a></label>
                                                                        <input type="text" class="form-control" placeholder="/Signature/" id="signature" required>
                                                                    </div>

                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <p class="sr-only">Enter the date in the following format: 20:36:14 May 30, 2019 E.T.</p>
                                                                        <label for="datesigned">Date signed: <span id="tz" class="sr-only"> </span></label>
                                                                        <textarea rows="1" class="form-control datesigned disabled" id="datesigned" disabled> </textarea>
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="signatoryname">Signatory&#8217;s name <span class="weight600">&#42;</span></label>
                                                                        <input type="text" class="form-control" id="signatoryname" required>
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-9 col-lg-6">
                                                                        <label for="signatoryphone">Signatory&#8217;s phone number</label>
                                                                        <input type="tel" class="form-control" id="signatoryphone">
                                                                    </div>
                                                                    <div class="form-group form-group-md col-xs-12 col-sm-12 col-lg-6">
                                                                        <label for="signatoryposition">Signatory&#8217;s position <span class="weight600">&#42;</span></label>
                                                                        <input type="text" class="form-control" id="signatoryposition" required>
                                                                    </div>
                                                                </div><!--end checkbox row-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div><!--//sign-->

                                        </th:block>

                                    </div><!--END formgroup-->
                                </div>
                            </fieldset>
                        </form>
                    </div><!--END col-->
                </div><!--END row-->
                <div class="inlinebuttons btn-group btn-group-justified" role="navigation" aria-label="view previous or next page" id="prevnxt">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-default fill prev" id="" value="previous">Previous</button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-primary fill next" id="nextButton" value="next" disabled >Done
                            <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
                    </div>
                </div>
            </div>
        </div><!--END row-->
    </main>


</div><!--END div content-->



<script th:inline="javascript">

    /*<![CDATA[*/
    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var  image_path = /*[[${markImagePath}]]*/ 'User Name';

    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';


    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';

    var OfficeActionID = /*[[${OfficeActionID}]]*/ 'User Name';

    var colorClaimSet = /*[[${colorClaimSet}]]*/ 'User Name';

    var markType = /*[[${baseTrademarkApplication.tradeMark.trademarkDesignType}]]*/ 'User Name';
    var markText = /*[[${baseTrademarkApplication.tradeMark.trademarkStandardCharacterText}]]*/ 'User Name';


    var nextLink = "../../../../../officeAction/signature/complete/"+OfficeActionID+"/?trademarkID="+appInternalID;
    // this should also prevent the filing from being abandoned


    var prevLink = /*[[${prevLink}]]*/ 'User Name';

    /*]]>*/
</script>



<script>






    $(document).ready(function() {

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);


        //////////////////////////////////////////////////////////////////////
        // set mark image based on persisted values
        //////////////////////////////////////////////////////////////////////

        if(markType == "Standard Character"){

            if(markText  != null && markText != ""){

                $( '#togglepop' ).attr('data-content', '<div class="media"><span id="showmarktxt" style="min-width:77px;width:80px;margin:0 auto;font-family: Palatino, Garamond, Bookman, Avant Garde; font-size:.9em;text-align:center;margin-bottom:0;" class="media-object" alt="my trademark">'+markText+'</span></div>');
            }
            else{
                $( '#togglepop' ).attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
            }

        }
        else {

            if(colorClaimSet == false){

                if(image_path != null){

                    $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');

                }
                // set color claim to true be default when its not set yet
                else{
                    $( '#togglepop' ).attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
                }

            }
            else {

                if(colorClaim == false){

                    if(acceptBW == true){
                        // $('#inlineRadio2').click();
                        // $('#bwmark').click();

                        $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_pathBW+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                    }
                    else{
                        if(image_path != null){

                            $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');



                        }

                    }

                }
                if(colorClaim == true){
                    // $('#inlineRadio1').click();
                    if(image_path != null){

                        $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');



                    }
                }


            }




        }



        $('.next').click(function () {
            location.href=nextLink;
        });

        $('.prev').click(function () {
            location.href=prevLink;
        });

        checkActivateLink();

        // ajax auto save for authorization declaration.
        // unclick. this will enable the sign section


        $('#unrepre').click(function () {

            if(this.checked == true){

                // auto save field

                // unlock signature drop down
                saveOAresponse("OA-representation-type", "unrepresented", OfficeActionID, "none" ,appInternalID)

                $('#ta2').attr("disabled", false);

            }


        });

        $('#usattorney').click(function () {

            if(this.checked == true){

                // auto save field
                saveOAresponse("OA-representation-type", "us", OfficeActionID, "none" ,appInternalID)

                // unlock signature drop down
                $('#ta2').attr("disabled", false);

            }


        });

        $('#canada').click(function () {

            if(this.checked == true){

                // auto save field
                saveOAresponse("OA-representation-type", "ca", OfficeActionID, "none" ,appInternalID)

                // unlock signature drop down
                $('#ta2').attr("disabled", false);

            }


        });


        $('#signature').focusout(function () {

            var sigVal = $(this).val();

            if(sigVal != ""){

                var date = new Date();
                var dateDisplay = formatDate(date);
                $('#datesigned').val(dateDisplay);
                saveOASignature(OfficeActionID,sigVal,date.getMilliseconds(), dateDisplay);

            }


        });


        $('#ta2').change(function () {


            var value = $(this).val();

            if(value != ""){

                saveOAresponse("OA-signature-type", value, OfficeActionID, "none" ,appInternalID)
                //saveAppSignature(sigVal,date.getMilliseconds(), dateDisplay);

            }


        });

        $('#signatoryname').focusout(function () {

            var value = $(this).val();

            if(value != ""){

                saveOAresponse("OA-signatory-name", value, OfficeActionID, "none" ,appInternalID);
                //saveAppSignature(sigVal,date.getMilliseconds(), dateDisplay);

            }
            checkActivateLink();

        });

        $('#signatoryphone').focusout(function () {

            var value = $(this).val();

            if(value != ""){

                saveOAresponse("OA-signatory-phone", value, OfficeActionID, "none" ,appInternalID);
                //saveAppSignature(sigVal,date.getMilliseconds(), dateDisplay);


            }
            checkActivateLink();

        });

        $('#signatoryposition').focusout(function () {

            var value = $(this).val();

            if(value != ""){

                saveOAresponse("OA-signatory-position", value, OfficeActionID, "none" ,appInternalID);
                //saveAppSignature(sigVal,date.getMilliseconds(), dateDisplay);

            }
            checkActivateLink();

        });










    });


    function formatDate(date) {
        var monthNames = [
            "January", "February", "March",
            "April", "May", "June", "July",
            "August", "September", "October",
            "November", "December"
        ];

        var day = date.getDate();
        var monthIndex = date.getMonth();
        var year = date.getFullYear();
        var hour = date.getHours();
        var minutes = date.getMinutes();
        var seconds = date.getSeconds();
        if(hour.length<2){
            hour = "0"+hour;

        }
        if(minutes.length<2){
            minutes ="0"+minutes;
        }
        if(seconds.length<3){
            seconds = "0"+seconds;
        }

        return (hour+":"+minutes+":"+seconds+" "+monthNames[monthIndex]+" "+day+","+date.getFullYear()+" E.T");

        //return day + ' ' + monthNames[monthIndex] + ' ' + year;
    }

    function checkActivateLink() {


        if($('#signature').val() !="" && $('#signatoryname').val()!="" && $('#signatoryposition').val()!=""){
            $('#nextButton').attr("disabled",false);
        }
    }

    function saveOASignature(OA_id, signature, time, timeDispaly) {





        //alert(field_name_prefix);
        // send state, and token to server
        // token will be generated in the controller and added to the view
        // similar to how access token works ...a token is tied to a user
        // access token will be passed in through model
        //
        // var tokenValue = '${token}';  // token is the model attribute name
        // we are not using secured tokens for the prototype
        // we will secure it by adding ssl and https support

        //var field_value = $(this).val();
        //alert(field_value);

        $.ajax({
            url: "../../../../../REST/apiGateway/OfficeAction/signDirect/"+OA_id+"/"+signature+"/"+time+"/"+timeDispaly+"/"+appInternalID,
            type: 'GET',
            success: function(data){

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:")+7, data.indexOf("status:")+4+7);

                var s_msg = data.substring(data.indexOf("msg:")+4, data.length-2);

                if(s_code.trim() == "200"){
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function() {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                }


            },
            error: function(data) {

                console.log(data);

            }

        });



        ////////////////////////////////////////////////////////////////////////////////
        // end of contact information 'State' auto save ////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////


    }




    function saveOAresponse(FieldName, FieldValue, OA_id, RA_id ,appInternalID) {

        //var field_value = $(this).val();
        //alert(field_value);


        $.ajax({
            url: "../../../../../REST/apiGateway/OfficeAction/response/update/" + FieldName + "/" + FieldValue + "/" + OA_id + "/" + RA_id +"/"+appInternalID,
            type: 'GET',
            success: function (data) {

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:") + 7, data.indexOf("status:") + 4 + 7);

                var s_msg = data.substring(data.indexOf("msg:") + 4, data.length - 2);



                if (s_code.trim() == "200") {
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                }
                else {

                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                    $('.next').attr("disabled", false);

                }


            },
            error: function (data) {

                console.log(data);

            }

        });
    }


</script>

</body>
</html>