<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efilePetitionsFragment :: layout (~{::body},'user')}" >
<head >
    <meta charset="UTF-8">
    <title>Goods and Services Review</title>
</head>
<body>
<div class="row content" id="responseamend" style="display: none;">

    <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7">

        <!--START Content Div-->
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <section class="col-xs-12 steps breadcrumb-steps" aria-label="progress tracker">
                        <div class="row displaycell">
                            <div class="col-xs-2 one" id="bs-header1">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>1</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="bs-link1">
                                        <p class="first">Attorney</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 two" id="bs-header2">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>2</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="bs-link2">
                                        <p>Owner</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 three" id="bs-header3">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>3</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="bs-link3">
                                        <p>Mark</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 four" id="bs-header4">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>4</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="bs-link4">
                                        <p>Goods / Services</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 five" id="bs-header5">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>5</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="bs-link5">
                                        <p>Additional info</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <h1>Owner Information</h1>
                    </div>


                </div>

                <!--START Attorney Information Form-->
                <div class="row">
                    <div class="col-xs-12" id="editowner">
                        <div class="row">
                            <div class="col-xs-12 col-md-6 col-lg-8 leadtext">
                                <p id="lead" class="weight600">Trademark Application Owner Details</p>
                            </div>
                            <div class="col-xs-12 col-md-6 col-lg-4">
                                <button type="button" class="btn-sm btn-success add" id="addOwnerLink">Add Additional Owner</button>
                            </div>
                        </div>
                        <form action="" method="post" >
                            <fieldset aria-label="review owner details">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <!--START selected panels-->
                                        <!--panel one-->




                                        <th:block th:each="owner : ${baseTrademarkApplication.owners}">
                                            <div class="panel-group">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <div class="row">
                                                            <div class="col-xs-12 col-sm-9 col-md-10">

                                                                <div class="row">
                                                                    <div class="col-xs-12 col-md-4">

                                                                        <th:block th:if="${owner.isGoverningEntitiesTypeOwner() == true}" >

                                                                            <p class="panel-title number weight600"><span class="glyphicon glyphicon-triangle-right visuallyadded" data-toggle="collapse" th:attr="data-target='#'+${owner.id}" aria-hidden="true"></span><span class="glyphicon glyphicon-triangle-bottom visuallyremoved collapsed" data-toggle="collapse" th:attr="data-target='#'+${owner.id}"  aria-hidden="true"></span><button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" th:attr="data-target='#'+${owner.id}"  th:text="${owner.getOwnerName()}" aria-controls="jbabos" aria-expanded="false" id="jbabosbtn"> Jackie Babos</button></p>
                                                                        </th:block>

                                                                        <th:block th:if="${owner.isGoverningEntitiesTypeOwner() == false}" >

                                                                            <p class="panel-title number weight600"><span class="glyphicon glyphicon-triangle-right visuallyadded" data-toggle="collapse" th:attr="data-target='#'+${owner.id}" aria-hidden="true"></span><span class="glyphicon glyphicon-triangle-bottom visuallyremoved collapsed" data-toggle="collapse" th:attr="data-target='#'+${owner.id}"  aria-hidden="true"></span><button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" th:attr="data-target='#'+${owner.id}"  th:text="${owner.getOwnerDisplayname()}" aria-controls="jbabos" aria-expanded="false" id="jbabosbtn"> Jackie Babos</button></p>
                                                                        </th:block>

                                                                    </div>
                                                                    <div class="col-xs-12 col-md-5 email">
                                                                        <p th:text="${owner.getEmail()}">jackie.babos@us.gt.com</p>
                                                                    </div>
                                                                    <div class="col-xs-12 col-md-3">
                                                                        <p th:text="${owner.getOwnersubType()}">Individual</p>
                                                                    </div>
                                                                </div>
                                                                <div th:attr="id=${owner.id}"  class="collapse Accordion-panel" role="region" aria-labelledby="jbabosbtn">
                                                                    <div class="Accordion" role="region">
                                                                        <div class="row">


                                                                            <div class="col-xs-12 col-md-6 col-lg-8">
                                                                                <p id="jbabostype">Owner Address Info</p>
                                                                                <div aria-labelledby="jbabostype">
                                                                                    <div class="form-group form-group-md">
                                                                                        <span style="color: black;" th:text="${owner.address}+' '+${owner.city}+', '+${owner.state}+' '+${owner.zipcode}"> 1115 Reserve Champion Drive, Rockville MD 20850</span>

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="col-xs-12 col-md-6 col-lg-8">
                                                                                <p id="jbabosnameofothertype">Owner Contact Info</p>
                                                                                <div aria-labelledby="jbabosnameofothertype">
                                                                                    <div class="form-group form-group-md" style="color:black;">
                                                                                        email: <span th:text="${owner.getEmail()}">email: lzhang421@gmail.com</span>
                                                                                        </br>
                                                                                        phone: <span th:text="${owner.getPrimaryPhonenumber()}">phone: 581-777-3333</span>

                                                                                    </div>
                                                                                </div>
                                                                            </div>

                                                                            <th:block th:if="${owner.isGoverningEntitiesTypeOwner() == true}" >

                                                                                <div class="col-xs-12 col-md-6 col-lg-8">
                                                                                    <p th:text="${owner.getGoverningEntitiesDisplayName()}"></p>
                                                                                    <div>
                                                                                        <th:block th:each="goveringEntity : ${owner.getGoverningEntities()}">

                                                                                            <div class="form-group form-group-md" style="color:black;">
                                                                                                <th:block th:if="${goveringEntity.isPersonEntity() == true}" >

                                                                                                    name: <span th:text="${goveringEntity.firstName}+' '+${goveringEntity.lastName}">email: lzhang421@gmail.com</span>
                                                                                                    </br>
                                                                                                    Citizenship : <span th:text="${goveringEntity.getEntityCitizenship()}">phone: 581-777-3333</span>
                                                                                                </th:block>

                                                                                                <th:block th:if="${goveringEntity.isPersonEntity() == false}" >
                                                                                                    name: <span th:text="${goveringEntity.entityName}">email: lzhang421@gmail.com</span>
                                                                                                    </br>
                                                                                                    State of Organization: <span th:text="${goveringEntity.organizationState}">phone: 581-777-3333</span>
                                                                                                </th:block>



                                                                                            </div>
                                                                                        </th:block>


                                                                                    </div>
                                                                                </div>




                                                                            </th:block>




                                                                        </div>


                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="col-xs-12 col-sm-3 col-md-2 inlinebuttons btn-group btn-group-justified" aria-label="edit or remove contact">
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-sm btn-success owner-edit" aria-label="edit contact" th:attr="owner-email=${owner.getEmail()},owner-type=${owner.getOwnersubType()}">Edit</button>
                                                                </div>
                                                                <div class="btn-group">

                                                                    <span class="glyphicon glyphicon-remove-circle remove-owner" aria-hidden="true" th:attr="contact-email=${owner.getEmail()}" style="font-size: 40px; position: relative; right:-15px;"></span>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--panel two-->

                                        </th:block>




                                        <!--END selected panels-->
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div><!--END col-->
                </div><!--END row-->






            </div>
        </div>

        <div class="inlinebuttons btn-group btn-group-justified  owner-paging-buttons" role="nav" aria-label="view previous or next page" id="prevnxt">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default fill prev" id="prevButton" value="previous">Previous</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary fill next" id="nextButton" value="next">Next
                    <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
            </div>
        </div>

    </main>


</div><!--END div content-->



<script th:inline="javascript">

    /*<![CDATA[*/
    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var  image_path = /*[[${markImagePath}]]*/ 'User Name';

    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';


    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';

    var OfficeActionID = /*[[${OfficeActionID}]]*/ 'User Name';

    var colorClaimSet = /*[[${colorClaimSet}]]*/ 'User Name';

    var markType = /*[[${baseTrademarkApplication.tradeMark.trademarkDesignType}]]*/ 'User Name';
    var markText = /*[[${baseTrademarkApplication.tradeMark.trademarkStandardCharacterText}]]*/ 'User Name';


    var nextLink = /*[[${nextLink}]]*/ 'User Name';
    var prevLink = /*[[${prevLink}]]*/ 'User Name';


    var ownerEditURLIndividal =  "../../../../../officeAction/optional/owner/Ind/edit/"+OfficeActionID+"/";
    var ownerEditURLCorp =  "../../../../../officeAction/optional/owner/corp/edit/"+OfficeActionID+"/";
    var ownerEditURLEstate =  "../../../../../officeAction/optional/owner/estate/edit/"+OfficeActionID+"/";
    var ownerEditURLsolp =  "../../../../../officeAction/optional/owner/solp/edit/"+OfficeActionID+"/";
    var ownerEditURLllc =  "../../../../../officeAction/optional/owner/llc/edit/"+OfficeActionID+"/";

    var ownerEditURLJoinVenture =  "../../../../../officeAction/optional/owner/jv/edit/"+OfficeActionID+"/";

    var ownerEditURLLLP =  "../../../../../officeAction/optional/owner/llp/edit/"+OfficeActionID+"/";

    var ownerEditURLpartnership =  "../../../../../officeAction/optional/owner/partner/edit/"+OfficeActionID+"/";

    var ownerEditURLtrust =  "../../../../../officeAction/optional/owner/trust/edit/"+OfficeActionID+"/";

    /*]]>*/
</script>



<script>





    $(document).ready(function() {

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);


        //////////////////////////////////////////////////////////////////////
        // set mark image based on persisted values
        //////////////////////////////////////////////////////////////////////

        if(markType == "Standard Character"){

            if(markText  != null && markText != ""){

                $( '#togglepop' ).attr('data-content', '<div class="media"><span id="showmarktxt" style="min-width:77px;width:80px;margin:0 auto;font-family: Palatino, Garamond, Bookman, Avant Garde; font-size:.9em;text-align:center;margin-bottom:0;" class="media-object" alt="my trademark">'+markText+'</span></div>');
            }
            else{
                $( '#togglepop' ).attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
            }

        }
        else {

            if(colorClaimSet == false){

                if(image_path != null){

                    $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');

                }
                // set color claim to true be default when its not set yet
                else{
                    $( '#togglepop' ).attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
                }

            }
            else {

                if(colorClaim == false){

                    if(acceptBW == true){
                        // $('#inlineRadio2').click();
                        // $('#bwmark').click();

                        $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_pathBW+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                    }
                    else{
                        if(image_path != null){

                            $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');



                        }

                    }

                }
                if(colorClaim == true){
                    // $('#inlineRadio1').click();
                    if(image_path != null){

                        $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');



                    }
                }


            }




        }



        $('.next').click(function () {
            location.href=nextLink;
        });

        $('.prev').click(function () {
            location.href=prevLink;
        });





        $('.owner-edit').click(function () {
            var ownerEmail = $(this).attr("owner-email");
            var ownerType =  $(this).attr("owner-type");

            // set owner edit url based on owner type
            //alert(ownerType);
            var url ="";
            if(ownerType == "Corporation"){
                url = ownerEditURLCorp;
            }
            if(ownerType == "Individual"){
                url = ownerEditURLIndividal;
            }
            if(ownerType == "Estate"){
                url = ownerEditURLEstate;
            }
            if(ownerType == "Sole Proprietorship"){
                url = ownerEditURLsolp;
            }

            if(ownerType == "Limited Liability Company"){
                url = ownerEditURLllc;
            }

            if(ownerType == "Joint Venture"){
                url = ownerEditURLJoinVenture;
            }

            if(ownerType == "Limited Partnership"){
                url = ownerEditURLLLP;
            }

            if(ownerType == "Partnership"){
                url = ownerEditURLpartnership;
            }

            if(ownerType == "Trust"){
                url = ownerEditURLtrust;
            }

            location.href=url+ownerEmail+"/?trademarkID="+appInternalID;;


        });

    });


    function saveOAresponse(FieldName, FieldValue, OA_id, RA_id ,appInternalID) {

        //var field_value = $(this).val();
        //alert(field_value);


        $.ajax({
            url: "../../../REST/apiGateway/OfficeAction/response/update/" + FieldName + "/" + FieldValue + "/" + OA_id + "/" + RA_id +"/"+appInternalID,
            type: 'GET',
            success: function (data) {

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:") + 7, data.indexOf("status:") + 4 + 7);

                var s_msg = data.substring(data.indexOf("msg:") + 4, data.length - 2);



                if (s_code.trim() == "200") {
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                }
                else {

                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                    $('.next').attr("disabled", false);

                }


            },
            error: function (data) {

                console.log(data);

            }

        });
    }


</script>

</body>
</html>