<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efileApplicationMarkFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title></title>
</head>Mark Details
<body>

<div class="row content" id="uploadmark" style="display: none;">
    <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
        <!--START Content Div-->
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <section class="col-xs-12 steps breadcrumb-steps" aria-label="progress tracker">
                        <div class="row displaycell">
                            <div class="col-xs-2 one done">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>1</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                        <p class="first">Your details</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 two active">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>2</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                        <p>Trademark details</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 three">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>3</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                        <p>Goods and services</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 four">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>4</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                        <p>Basis</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 five">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>5</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                        <p>Additional info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 six">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>6</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8">
                                        <p>Confirm and pay</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <h1>Trademark Details &#8211; Design with Text</h1>
                <p class="required"><span class="weight600">&#42; = Required</span></p>
                <!--START Trademark Examples-->
                <!--START Standard Character-->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="card-text">
                            <h2 class="card-title weight600" id="markinfo">Mark Information</h2>
                        </div>
                        <div class="row">
                            <div class="col-xs-12" >
                                <p class="text-center"><span class="glyphicon glyphicon-picture"></span>Mark Image<br><br>

                                    <span ><img th:src="@{/resources/images/image_placeholder_icon.png}" style="position: relative; left:-5px; min-width: 555px; max-width: 555px; max-height: 333px; min-height: 333px;"  id="markImage" /></span></p>

                                <!--Start Dropzone-->
                                <div class="col-xs-12 form-group form-group-md">
                                    <form action="/Mark/add" method="post" enctype="multipart/form-data" id="addNewMark" class="form-horizontal" aria-labelledby="markinfo">
                                        <fieldset>
                                            <legend class="sr-only"><span>File upload</span></legend>
                                            <div class="form-group form-group-md">
                                                <label class="small upload-drop-zone" for="file"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> <br>Select a File</label>
                                                <input type="file" id="file" name="file" class="form-control">
                                            </div><!-- Drop Zone -->
                                            <input  style=" position:relative; display: none; width: 1px; height:1px;" name="AppInternalID" id="appInternalIDForm"   value="" />

                                        </fieldset>
                                        <button type="submit" id="addOwnerConfirm" class="btn btn-sm" >Upload file</button>
                                    </form>
                                    <div class="row">
                                        <div class="js-upload-finished col-xs-12 col-md-10 col-lg-8">
                                            <p id="uploaded">Processed files</p>
                                            <div class="list-group">
                                                <a href="#" class="list-group-item list-group-item-success" aria-labelledby="uploaded"></a>
                                            </div>
                                        </div>
                                    </div><!-- Upload Finished -->
                                </div>
                            </div>
                        </div>
                    </div><!--END col-->
                </div><!--END row-->
                <!--END examples row-->
            </div>
        </div>
        <!--END row-->
        <div class="inlinebuttons btn-group btn-group-justified  owner-paging-buttons" role="nav" aria-label="view previous or next page" id="prevnxt">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default fill prev" id="prevButton" value="previous">Previous</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary fill next" id="nextButton" value="next" disabled>Next
                    <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
            </div>
        </div>
    </main>
</div><!--END div content-->


<script th:inline="javascript">

    /*<![CDATA[*/


    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var host_name= /*[[${hostBean.host}]]*/ 'User Name';
    var host_port= /*[[${hostBean.port}]]*/ 'User Name';
    var  image_path = /*[[${markImagePath}]]*/ 'User Name';
    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';

    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';

    var host = host_name+":"+host_port;


    /*]]>*/
</script>



<script>

    var nextLinkURL = "../../mark/designWithTextDetails/?trademarkID="+appInternalID;
    var prevLinkURL = "../../application/MarkDetails/?trademarkID="+appInternalID;
    var breadCrumb1Link = "../../application/start/?trademarkID="+appInternalID;



</script>


<script>




    // next link url to enable  for u.s individual href="http://localhost:8080/application/owner/info"
    $(document).ready(function() {
        setTimeout(function () {
            $('.content').fadeIn(500);
        }, 500);


        if(image_path != null){
            $('#markImage').attr("src",image_path );
            ;
            $('#nextButton').attr("disabled",false);


        }


        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#panels').fadeIn(500);
        }, 500);


        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#contacts-ui').fadeIn(500);


        }, 500);

        $('.glyphicon').click(function () {
            $(this).toggleClass("glyphicon-triangle-right").toggleClass("glyphicon-triangle-bottom");
        });


        $('[data-toggle="tooltip"]').tooltip();


        $('#appInternalIDForm').val(appInternalID);

        $('#prevButton').click(function () {
            location.href=prevLinkURL;
        });

        $('#nextButton').click(function () {
            location.href=nextLinkURL;
        });


        $('#breadcrumb1').click(function () {
            location.href=breadCrumb1Link;
        });





        $('[data-toggle="popover"]').popover({
            title : false,
            html : true,
            content : '<div class="media"><img src="../../resources/images/placeholder-icon.jpg" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
        });

        $( '#togglepop' ).click(function() {
            $( this ).toggleClass( 'focus' );
            $(this).html() === '<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Hide My Mark'
                ? $(this).html('<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Show My Mark')
                : $(this).html('<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Hide My Mark');
        });


        // peristence logic for bw/ color image toggle
        if(colorClaim == null){
            if(image_path != null){
                $('#markImage').attr("src",image_path );

            }
        }

        if(colorClaim == false){

            if(acceptBW == true){
                $('#markImage').attr("src",image_pathBW );
            }
            else{
                if(image_path != null){
                    $('#markImage').attr("src",image_path );

                }

            }

        }

        if(colorClaim == true){
            if(image_path != null){
                $('#markImage').attr("src",image_path );

            }

        }

    });



    //display file_icon
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#fileimage')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }


</script>

</body>
</html>