<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efilePetitionsFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title>Goods and Services Review</title>
</head>
<body>
<div class="row content" id="responseamend" style="display: none;">

    <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7" id="roaoptact">
        <!--START Content Div-->
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h1>Respond to Office Action</h1>
                    </div>
                </div>
            </div>
            <form action="" method="post">
                <fieldset aria-label="enter optional information" id="responseamendoptional">
                    <div class="col-xs-12 form-group form-group-md">
                        <div class="card-text noexpand">
                            <h2 class="card-title weight600">Optional Actions</h2>
                        </div>
                        <p class="leadtext">Do you need to do any of the following actions?</p>
                        <div class="row">
                            <div class="col-xs-12 form-group form-group-md">
                                <th:block th:if="${action.isAttorneyOptional() == true}">
                                    <input class="form-check-input checkmark" type="checkbox" value="aorchange" tabindex="0" aria-labelledby="aor" id="aoredit" checked>

                                </th:block>
                                <th:block th:if="${action.isAttorneyOptional() == false}">
                                    <input class="form-check-input checkmark" type="checkbox" value="aorchange" tabindex="0" aria-labelledby="aor" id="aoredit" >

                                </th:block>

                                <label class="form-check-label form-check" for="aoredit"><span class="radio notspecial" id="aor">Appoint, replace or withdraw attorney of record</span></label>
                            </div>
                            <div class="col-xs-12 form-group form-group-md">
                                <th:block th:if="${action.isOwnerOptional() == true}">
                                    <input class="form-check-input checkmark" type="checkbox" value="ownaddchange" tabindex="0" aria-labelledby="ownaddr" id="ownaddre" checked>
                                </th:block>

                                <th:block th:if="${action.isOwnerOptional() == false}">
                                    <input class="form-check-input checkmark" type="checkbox" value="ownaddchange" tabindex="0" aria-labelledby="ownaddr" id="ownaddre">
                                </th:block>


                                <label class="form-check-label form-check" for="ownaddre"><span class="radio notspecial" id="ownaddr">Correct or change the owner&#8217;s name or entity information</span></label>
                            </div>
                            <div class="col-xs-12 form-group form-group-md">

                                <th:block th:if="${action.isMarkOptional() == true}">
                                    <input class="form-check-input checkmark" type="checkbox" value="editmark" tabindex="0" aria-labelledby="changemark" id="minorchange" checked>

                                </th:block>
                                <th:block th:if="${action.isMarkOptional() == false}">
                                    <input class="form-check-input checkmark" type="checkbox" value="editmark" tabindex="0" aria-labelledby="changemark" id="minorchange">

                                </th:block>


                                <label class="form-check-label form-check" for="minorchange"><span class="radio notspecial" id="changemark">Make a minor change to the mark or submit a better quality image</span></label>
                            </div>
                            <div class="col-xs-12 form-group form-group-md">
                                <th:block th:if="${action.isGsOptional() == true}">
                                    <input class="form-check-input checkmark" type="checkbox" value="modgs" tabindex="0" aria-labelledby="modgss" id="modify" checked>

                                </th:block>

                                <th:block th:if="${action.isGsOptional() == false}">
                                    <input class="form-check-input checkmark" type="checkbox" value="modgs" tabindex="0" aria-labelledby="modgss" id="modify">

                                </th:block>


                                <label class="form-check-label form-check" for="modify"><span class="radio notspecial" id="modgss">Modify goods/services</span></label>
                            </div>
                            <div class="col-xs-12 form-group form-group-md">
                                <th:block th:if="${action.isAdditionalOptional() == true}">
                                    <input class="form-check-input checkmark" type="checkbox" value="makechange" tabindex="0" aria-labelledby="change" id="changefile" checked>

                                </th:block>

                                <th:block th:if="${action.isAdditionalOptional() == false}">
                                    <input class="form-check-input checkmark" type="checkbox" value="makechange" tabindex="0" aria-labelledby="change" id="changefile">

                                </th:block>



                                <label class="form-check-label form-check" for="changefile">
                                    	<span class="radio notspecial" id="change">
                                            <ul>Add, change or withdraw any of the following:
                                                <li>Miscellanous Statement</li>
                                                <li>Type of Register</li>
                                                <li>2(f) claim of aquired distinciveness</li>
                                                <li>Concurrent Use</li>
                                            </ul>
                                        </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="inlinebuttons btn-group btn-group-justified" role="navigation" aria-label="view previous or next page" id="prevnxt">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default fill prev" id="" value="previous">Previous</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary fill next" id="" value="next">Next
                    <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
            </div>
        </div>
    </main>

</div><!--END div content-->



<script th:inline="javascript">

    /*<![CDATA[*/
    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var  image_path = /*[[${markImagePath}]]*/ 'User Name';

    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';


    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';

    var OfficeActionID = /*[[${OfficeActionID}]]*/ 'User Name';

    var colorClaimSet = /*[[${colorClaimSet}]]*/ 'User Name';

    var markType = /*[[${baseTrademarkApplication.tradeMark.trademarkDesignType}]]*/ 'User Name';
    var markText = /*[[${baseTrademarkApplication.tradeMark.trademarkStandardCharacterText}]]*/ 'User Name';

    /*]]>*/
</script>



<script>

    var prevLinkURL = "../../../officeAction/response/"+OfficeActionID+"/?trademarkID="+appInternalID;

    var nextLinkURL = "../../../officeAction/optional/pathController/"+OfficeActionID+"/?trademarkID="+appInternalID;



    $(document).ready(function() {

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);


        //////////////////////////////////////////////////////////////////////
        // set mark image based on persisted values
        //////////////////////////////////////////////////////////////////////

        if(markType == "Standard Character"){

            if(markText  != null && markText != ""){

                $( '#togglepop' ).attr('data-content', '<div class="media"><span id="showmarktxt" style="min-width:77px;width:80px;margin:0 auto;font-family: Palatino, Garamond, Bookman, Avant Garde; font-size:.9em;text-align:center;margin-bottom:0;" class="media-object" alt="my trademark">'+markText+'</span></div>');
            }
            else{
                $( '#togglepop' ).attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
            }

        }
        else {

            if(colorClaimSet == false){

                if(image_path != null){

                    $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');

                }
                // set color claim to true be default when its not set yet
                else{
                    $( '#togglepop' ).attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
                }

            }
            else {

                if(colorClaim == false){

                    if(acceptBW == true){
                        // $('#inlineRadio2').click();
                        // $('#bwmark').click();

                        $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_pathBW+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                    }
                    else{
                        if(image_path != null){

                            $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');



                        }

                    }

                }
                if(colorClaim == true){
                    // $('#inlineRadio1').click();
                    if(image_path != null){

                        $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');



                    }
                }


            }




        }



        // paging

        $('.next').click(function () {
            location.href=nextLinkURL;
        });

        $('.prev').click(function () {
            location.href=prevLinkURL;
        });











        // ajax auto save

        // attorney

        $('#aoredit').click(function () {

            if(this.checked == true){
                saveOptinalActionSelectList("add", "attorney", OfficeActionID,appInternalID);
            }
            else {
                saveOptinalActionSelectList("remove", "attorney", OfficeActionID,appInternalID);
            }

        });


        // owner

        $('#ownaddre').click(function () {

            if(this.checked == true){
                saveOptinalActionSelectList("add", "owner", OfficeActionID,appInternalID);
            }
            else {
                saveOptinalActionSelectList("remove", "owner", OfficeActionID,appInternalID);
            }

        });



        // mark
        $('#minorchange').click(function () {

            if(this.checked == true){
                saveOptinalActionSelectList("add", "mark", OfficeActionID,appInternalID);
            }
            else {
                saveOptinalActionSelectList("remove", "mark", OfficeActionID,appInternalID);
            }

        });


        // filing basis
        $('#modify').click(function () {

            if(this.checked == true){

                saveOptinalActionSelectList("add", "gs", OfficeActionID,appInternalID);

            }
            else {
                saveOptinalActionSelectList("remove", "gs", OfficeActionID,appInternalID);
            }

        });

        // additional info
        $('#changefile').click(function () {

            if(this.checked == true){

                saveOptinalActionSelectList("add", "additional", OfficeActionID,appInternalID);

            }
            else {
                saveOptinalActionSelectList("remove", "additional", OfficeActionID,appInternalID);
            }

        });

        // translation required actions


    });


    function saveOptinalActionSelectList(actionName, actionValue, OA_id,appInternalID) {

        //var field_value = $(this).val();
        //alert(field_value);


        $.ajax({
            url: "../../../REST/apiGateway/OfficeAction/optional/selected/update/" + actionName + "/" + actionValue+ "/" +OA_id + "/"+appInternalID,
            type: 'GET',
            success: function (data) {

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:") + 7, data.indexOf("status:") + 4 + 7);

                var s_msg = data.substring(data.indexOf("msg:") + 4, data.length - 2);

                if (s_code.trim() == "200") {
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function () {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                }


            },
            error: function (data) {

                console.log(data);

            }

        });
    }


</script>

</body>
</html>