<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"

      th:replace="~{fragments/layout :: layout (~{::body},'login')}"

>
<head>
    <title>USPTO.gov eFile Sign In </title>
</head>
<body>



                <div class="container" >

                    <form th:action="@{/login}" method="post" class="form form-check-input form-control-sm "  >
                        <div class="card card-login" style="margin: auto; background-color: whitesmoke; min-height: 150px; margin-left: 200px;  max-width: 40%;   border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;"  >
                            <div class=" card-header-blue text-center" style="padding-top: 10px;position:relative;top: 20px; right:-30%;">
                                <b class="card-title" style=""><a style="font-size: x-small;margin-top: 50px;" href="/registration">New User</a></b>
                            </div>

                            <div class="card-body " style="padding-top: 20px;position:relative;top: 20px;">
                                <span class="card-description" style="position: relative; right:-35%;"><b>Existing User</b></span>

                                <span class="bmd-form-group" style="position: relative; top:-10%;" >
                                  <div class="input-group">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" style="margin:auto; position:relative; left:40%; right:40%;">
                                        <span class="glyphicon glyphicon-user"></span>
                                      </span>
                                    </div>
                                    <input style="margin: auto; position:relative; left:40%; right:40%; border-top-right-radius: 20px; border-top-left-radius: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;" type="email" class="form-control" name="username" placeholder="Email...">
                                  </div>
                                </span>
                                <span class="bmd-form-group" style="margin:auto;">
                                  <div class="input-group" >
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" style="margin:auto; position:relative; left:40%; right :40%;">
                                        <span class="glyphicon glyphicon-lock"></span>
                                      </span>
                                    </div>
                                    <input  style="margin:auto; position:relative; left:40%; border-top-right-radius: 20px; border-top-left-radius: 20px; border-bottom-right-radius: 20px; border-bottom-left-radius: 20px;" type="password" class="form-control" name="password" placeholder="Password...">
                                  </div>
                                </span>
                            </div>
                            <div class="card-footer justify-content-center" style="padding-top: 20px; padding-bottom:50px; position:relative;top: 10px;">

                                <div class="form-group" ><button style="position:relative; left:30%; right:30%; size:auto; background-color: #546E8C;  border-top-left-radius: 20px; border-bottom-left-radius: 20px; border-top-right-radius: 20px; border-bottom-right-radius: 20px;" class="btn" type="submit" value="Sign In"><span class="glyphicon glyphicon-log-in" ></span><b> &nbsp;&nbsp;&nbsp;&nbsp;    Sign In&nbsp;</b></button></div>

                                <!-- Login Form -->
                                <div  style="color: red; position: relative; top:20%; right:-22%;" th:if="${param.error}">
                                    <b>Invalid username and password.</b>
                                </div>
                                <div  style="color: green;font:bold; position: relative; top:20%; right:-22%;" th:if="${param.logout}">
                                    You have been logged out.
                                </div>


                            </div>



                        </div>



                    </form>

        </div>
                <script>
                    $(document).ready(function() {
                        $('.card').hide();
                        setTimeout(function() {
                            // after 1000 ms we add the class animated to the login/register card
                            $('.card').fadeIn('slow');
                        }, 500);
                    });
                </script>
</body>
</html>