<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efileApplicationMarkFragment :: layout (~{::body},'user')}" xmlns="http://www.w3.org/1999/html">
<head >
    <meta charset="UTF-8">
    <title></title>
</head>Mark Details
<body>
<div class="row content" style="display: none;">
    <main class="col-xs-12 col-sm-11 col-md-8 col-lg-7">
        <!--START Content Div-->
        <div class="row">
            <div class="col-xs-12 text-left" id="goodservideo">
                <div class="row">
                    <section class="col-xs-12 steps breadcrumb-steps" aria-label="progress tracker">
                        <div class="row displaycell">
                            <div class="col-xs-2 one done">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>1</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb1">
                                        <p class="first">Your details</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 two done">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>2</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb2">
                                        <p>Trademark details</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 three active">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>3</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb3">
                                        <p>Goods and services</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 four">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>4</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb4">
                                        <p>Basis</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 five">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>5</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb5">
                                        <p>Additional info</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 six">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-5 col-md-4 col-lg-4 number">
                                        <span>6</span>
                                    </div>
                                    <div class="col-xs-9 col-sm-7 col-md-8 col-lg-8" id="breadcrumb6">
                                        <p>Confirm and pay</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <h1>Goods and Services</h1>
                <p>Goods are physical things (products) that can be touched &#8211; like bicycles. Services are actions performed for the benefit of someone else &#8211; like bicycle rental services. You must list the goods or services with which you are using, or with which you intend to use, the trademark.</p>
                <!--START goods and services table-->
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 bgimg img-fluid">
                        <a href="https://youtu.be/H0LI1t5mn8M" target="_blank" class="btn btn-block"></a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <p class="weight600">Search through and select the goods and services that apply to your trademark, or provide a list.</p>
                        <button type="button" class="btn btn-sm btn-success" id="searchGS">Search ID Manual for Goods and Services</button>
                        <button type="button" class="btn btn-sm btn-success" id="manualInput">Provide Own Goods and Services</button>
                    </div>
                </div><!--END Content Div-->
            </div>
        </div>
        <div class="inlinebuttons btn-group btn-group-justified  owner-paging-buttons" role="nav" aria-label="view previous or next page" id="prevnxt">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-default fill prev" id="prevButton" value="previous">Previous</button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-primary fill next" id="nextButton" value="next" disabled>Next
                    <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
            </div>
        </div>
    </main><!--MAIN-->
</div><!--END container div-->

<script th:inline="javascript">

    /*<![CDATA[*/


    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';

    var host_name= /*[[${hostBean.host}]]*/ 'User Name';
    var host_port= /*[[${hostBean.port}]]*/ 'User Name';


    var host = host_name+":"+host_port;
    var markType = /*[[${baseTrademarkApplication.tradeMark.trademarkDesignType}]]*/ 'User Name';

    var  image_path = /*[[${markImagePath}]]*/ 'User Name';

    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';

    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';

    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';
    var searchDB = /*[[${searchDB}]]*/ 'User Name';

    /*]]>*/
</script>



<script>

    var nextLinkURL = "../../application/goodsAndServicesSelect/?trademarkID="+appInternalID;
    var prevLinkURL = "../../mark/designWithTextDisclaimer/?trademarkID="+appInternalID;

    var breadCrumb1Link = "../../application/start/?trademarkID="+appInternalID;
    var breadCrumb2Link = "../../application/MarkDetails/?trademarkID="+appInternalID;

</script>


<script>


    // next link url to enable  for u.s individual href="http://localhost:8080/application/owner/info"
    $(document).ready(function() {
        setTimeout(function () {
            $('.content').fadeIn(500);
        }, 500);

        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#panels').fadeIn(500);
        }, 500);


        setTimeout(function () {
            // after 1000 ms we add the class animated to the login/register card
            $('#contacts-ui').fadeIn(500);


        }, 500);

        $('.glyphicon').click(function () {
            $(this).toggleClass("glyphicon-triangle-right").toggleClass("glyphicon-triangle-bottom");
        });



        $('[data-toggle="tooltip"]').tooltip();


        $('#prevButton').click(function () {
            location.href=prevLinkURL;
        });

        $('#nextButton').click(function () {
            location.href=nextLinkURL;
        });



        $('#breadcrumb1').click(function () {
            location.href=breadCrumb1Link;
        });


        $('#breadcrumb2').click(function () {
            location.href=breadCrumb2Link;
        });



        // auto save
        $('#searchGS').click(function () {
            $('#nextButton').attr("disabled",false);

            saveGSdetails("GS-select-Option", "search", appInternalID);
        });




        //////////////////////////////////////////////////////////////////////
        // set mark image based on persisted values
        //////////////////////////////////////////////////////////////////////
        if(colorClaim == null){
            if(image_path != null){
                $('[data-toggle="popover"]').popover({
                    title : false,
                    html : true,
                    content : '<div class="media"><img src="'+image_path+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                });

            }
        }

        if(colorClaim == false){

            if(acceptBW == true){
                $('#inlineRadio2').click();
                $('#bwmark').click();

                $('[data-toggle="popover"]').popover({
                    title : false,
                    html : true,
                    content : '<div class="media"><img src="'+image_pathBW+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                });

                $('#colorMarkBWInline').attr("src", image_pathBW);
                $('#nextLink').attr("href", nextLinkURL);
                $('#nextLinkIcon').attr("href", nextLinkURL);
                $('.next-button').css("background-color", "rgb(55,69,120)");
            }
            else{
                if(image_path != null){

                    $('[data-toggle="popover"]').popover({
                        title : false,
                        html : true,
                        content : '<div class="media"><img src="'+image_path+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                    });

                    $('#colorMarkInline').attr("src", image_path);
                    $('#nextLink').attr("href", nextLinkURL);
                    $('#nextLinkIcon').attr("href", nextLinkURL);
                    $('.next-button').css("background-color", "rgb(55,69,120)");

                }
            }

        }
        if(colorClaim == true){
            $('#inlineRadio1').click();
            if(image_path != null){

                $('[data-toggle="popover"]').popover({
                    title : false,
                    html : true,
                    content : '<div class="media"><img src="'+image_path+'" style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>'
                });
                $('#colorMarkInline').attr("src", image_path);
                $('#nextLink').attr("href", nextLinkURL);
                $('#nextLinkIcon').attr("href", nextLinkURL);
                $('.next-button').css("background-color", "rgb(55,69,120)");

            }
        }


        // listener for mark image widget popover
        $( '#togglepop' ).click(function() {
            $( this ).toggleClass( 'focus' );
            $(this).html() === '<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Hide My Mark'
                ? $(this).html('<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Show My Mark')
                : $(this).html('<span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Hide My Mark');
        });

        if(searchDB == true){

            $('#searchGS').click();

            $('#searchGS').css("background-color","#047db0;");
            $('#searchGS').css("border-color","#057eb1;");
        }


    });






    function saveGSdetails(field_name_prefix, field_value, appInternalID) {





        //alert(field_name_prefix);
        // send state, and token to server
        // token will be generated in the controller and added to the view
        // similar to how access token works ...a token is tied to a user
        // access token will be passed in through model
        //
        // var tokenValue = '${token}';  // token is the model attribute name
        // we are not using secured tokens for the prototype
        // we will secure it by adding ssl and https support

        //var field_value = $(this).val();
        //alert(field_value);

        $.ajax({
            url: "../../REST/apiGateway/GS/update/"+field_name_prefix+"/"+field_value+"/"+appInternalID,
            type: 'GET',
            success: function(data){

                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:")+7, data.indexOf("status:")+4+7);

                var s_msg = data.substring(data.indexOf("msg:")+4, data.length-2);

                if(s_code.trim() == "200"){
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function() {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);

                }


            },
            error: function(data) {

                console.log(data);

            }

        });



        ////////////////////////////////////////////////////////////////////////////////
        // end of contact information 'State' auto save ////////////////////////////////
        ////////////////////////////////////////////////////////////////////////////////


    }


</script>

</body>
</html>