<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/efileApplicationAttorneyFragment :: layout (~{::body},'user')}" >
<head >
    <meta charset="UTF-8">
    <title>Attorney Information</title>
</head>
<body>

<div class="container-fluid">
    <!-- End Navbar -->
    <div class="row content" id="attorney" style="display: none;">
        <main class="col-xs-12 col-sm-8 col-md-8 col-lg-7">
            <!--START Content Div-->
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <section class="col-xs-12 steps breadcrumb-steps" aria-label="progress tracker">
                            <div class="row displaycell">

                                <th:block th:each="crumb, iter: ${action.getOAbreadCrumbs()}">


                                    <th:block th:if="${crumb.isActiveBreadCrumb() == true}">
                                        <div class="col-xs-2 active">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-6 col-md-5 col-lg-5 number">
                                                    <span th:text="${iter.index}+1">1</span>
                                                </div>
                                                <div class="col-xs-8 col-sm-6 col-md-7 col-lg-7">
                                                    <p  th:text="${crumb.getDescription()}"></p>
                                                </div>
                                            </div>
                                        </div>

                                    </th:block>

                                    <th:block th:if="${crumb.isActiveBreadCrumb() == false}">
                                        <div class="col-xs-2">
                                            <div class="row">
                                                <div class="col-xs-4 col-sm-6 col-md-5 col-lg-5 number">
                                                    <span th:text="${iter.index}+1">1</span>
                                                </div>
                                                <div class="col-xs-8 col-sm-6 col-md-7 col-lg-7">
                                                    <p  th:text="${crumb.getDescription()}"></p>
                                                </div>
                                            </div>
                                        </div>

                                    </th:block>



                                </th:block>



                            </div>
                        </section>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>Attorney Information</h1>
                            <p class="instructions" id="costsavingoptions">Reduced Fee Mode</p>
                            <div role="switch" aria-describedby="#costsavingoptions" aria-label="turn reduce fee labels on or off">
                                <label class="switch">
                                    <input class="togglesavemore" type="checkbox">
                                    <span class="slider"><span class="visuallyhidden" id="on">On</span> <span id="off">Off</span></span>
                                </label>
                            </div>
                        </div>

                    </div>
                    <p class="required"><span class="weight600">&#42; = Required</span></p>
                    <!--START Attorney Information Form-->
                    <div class="card-text">
                        <div role="heading" aria-level="2" id="attorneyinfo">
                            <button type="button" class="btn btn-link Accordion-trigger" data-toggle="collapse" data-target="#attorneyadvise" aria-controls="attorneyadvise" aria-expanded="false" id="attorneyadvisebtn"><span class="glyphicon glyphicon-triangle-right"></span><span id="toggleglyphcolor" class="glyphicon glyphicon-triangle-bottom visuallyremoved"></span> Attorney Information</button>
                        </div>
                    </div>
                    <div id="attorneyadvise" class="collapse Accordion-panel" role="region" aria-labelledby="attorneyadvisebtn">
                        <div class="Accordion" style="margin-left: 15px;">
                            <ol>The only attorneys who may sign responses and otherwise practice before the USPTO in trademark matters are as follows:
                                <li style="margin-top: 11px;">1.  Attorneys in good standing with a bar of the highest court of any U.S. state, the District of Columbia, Puerto Rico, and other U.S. commonwealths or U.S. territories; and</li>
                                <li style="margin-top: 11px;">2.  Canadian agents/attorneys who represent owners of the mark located in Canada and (a) are registered with the USPTO and in good standing as patent agents or (b) have been granted reciprocal recognition by the USPTO.</li>
                            </ol>
                        </div>
                    </div>
                    <p id="attorneyfiling" style="margin-top: 15px;">Is an Attorney filing this application?</p>

                    <div role="radiogroup" aria-labelledby="attorneyfiling">
                        <label for="inlineRadio015" class="radio-inline radiocontainer">Yes<input type="radio" name="attorneyfilingradio" id="inlineRadio015" value="yes"><span class="checkmark"></span></label>

                        <label for="inlineRadio016" class="radio-inline radiocontainer">No<input type="radio" name="attorneyfilingradio" id="inlineRadio016" value="no"><span class="checkmark"></span></label>
                    </div><!--END radiogroup-->



                </div>
            </div>
            <div class="inlinebuttons btn-group btn-group-justified  owner-paging-buttons" role="nav" aria-label="view previous or next page" id="prevnxt">
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-default fill prev" id="prevButton" value="previous">Previous</button>
                </div>


                <div class="btn-group" id="formSubmitNextButtonGroup" style="">
                    <button type="button" class="btn btn-sm btn-primary fill next" id="nextButton" value="next" >Next
                        <div class="round"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></div></button>
                </div>

            </div>
        </main>
    </div>
</div><!--END container-fluid-->










<!--load model attribute for Jquery consumption  -->
<script th:inline="javascript">

    /*<![CDATA[*/


    var appInternalID = /*[[${baseTrademarkApplication.applicationInternalID}]]*/ 'User Name';
    var attorneyOpt = /*[[${baseTrademarkApplication.isAttorneyFiling()}]]*/ 'User Name';

    var ownerOpt = /*[[${baseTrademarkApplication.isOwnerSet()}]]*/ 'User Name';





    var isAttorneyFiling = /*[[${baseTrademarkApplication.isAttorneyFiling()}]]*/ 'User Name';



    var isAttorneyPoolEmpty = /*[[${baseTrademarkApplication.isAttorneyPoolEmpty()}]]*/ 'User Name';











    var  image_path = /*[[${markImagePath}]]*/ 'User Name';
    var  image_pathBW = /*[[${markImagePathBW}]]*/ 'User Name';
    var colorClaim = /*[[${markColorClaim}]]*/ 'User Name';
    var acceptBW = /*[[${markColorClaimBW}]]*/ 'User Name';
    var colorClaimSet = /*[[${colorClaimSet}]]*/ 'User Name';
    var markType = /*[[${markType}]]*/ 'User Name';
    var markText = /*[[${markText}]]*/ 'User Name';


    var breadCrumbStatus = /*[[${breadCrumbStatus}]]*/ 'User Name';

    var validateTEAS =  /*[[${baseTrademarkApplication.isValidateTEASFields()}]]*/ 'User Name';

    var nextLink = /*[[${nextLink}]]*/ 'User Name';
    var prevLink = /*[[${prevLink}]]*/ 'User Name';


    /*]]>*/
</script>











<!-- end of main content-->







<script>


    // next link url to enable  for u.s individual href="http://localhost:8080/application/owner/info"
    $(document).ready(function() {

        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.content').fadeIn(500);
        }, 500);




        if(markType == "Standard Character"){

            if(markText  != null && markText != ""){

                $( '#togglepop' ).attr('data-content', '<div class="media"><span id="showmarktxt" style="min-width:77px;width:80px;margin:0 auto;font-family: Palatino, Garamond, Bookman, Avant Garde; font-size:.9em;text-align:center;margin-bottom:0;" class="media-object" alt="my trademark">'+markText+'</span></div>');
            }
            else{
                $( '#togglepop' ).attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
            }

        }
        else {

            if(colorClaimSet == false){

                if(image_path != null && image_path != ""){

                    $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');

                }
                // set color claim to true be default when its not set yet
                else{

                    $( '#togglepop' ).attr('data-content', '<div class="media"><span class="glyphicon glyphicon-picture" aria-hidden="true"  style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></span></div>');
                }

            }
            else {

                if(colorClaim == false){

                    if(acceptBW == true){
                        // $('#inlineRadio2').click();
                        // $('#bwmark').click();

                        $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_pathBW+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');


                    }
                    else{
                        if(image_path != null && image_path != ""){

                            $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');



                        }

                    }

                }
                if(colorClaim == true){
                    // $('#inlineRadio1').click();
                    if(image_path != null && image_path != ""){

                        $( '#togglepop' ).attr('data-content', '<div class="media"><img src='+image_path+' style="min-width:77px;width:80px;margin:0 auto;" class="media-object img-responsive" alt="my trademark"></div>');



                    }
                }


            }




        }





        //////////////////////////////////////////////////////////////////////
        // AJAx auto save triggers
        //////////////////////////////////////////////////////////////////////

        ////////////////////////////////////////////////////////////
        // show and hide attorney form actions
        ////////////////////////////////////////////////////////////
        $('#inlineRadio015').click( function () {
            ////////////////////////////////////////////////////////////
            // call back end update ...
            // signal uppate occurred
            // wait for the confirm message first.
            ////////////////////////////////////////////////////////////

            saveProjectInfo("set-lawyer-options-value", "yes", appInternalID);

            // loads form // done by another script
            // show auto fill button
            $('#autofill').fadeIn(500);
            // show clear form button

            // next button behavior not determined (can be form submit or just going to the next page)
            // but enabled


        });



        /////////////////////////////////////////////////////////////
        // action listeners on radio buttons
        ////////////////////////////////////////////////////////////
        $('#inlineRadio016').click( function () {
            ////////////////////////////////////////////////////////
            // call back end update ...
            ////////////////////////////////////////////////////////
            ////////////////////////////////////////////////////////
            // remove any selected contacts from application object
            ////////////////////////////////////////////////////////

            // call set attorney options ...for project
            setTimeout(function() {
                saveProjectInfo("set-lawyer-options-value", "no", appInternalID);
            }, 555);

        });
        ////////////////////////////////////////////////////////////////

        $('#prevButton').click(function () {
            location.href=prevLink;
        });

       $('#nextButton').click(function () {
           location.href=nextLink;
       });


        // if this works, then add it to populate form with contacts data js call





        //////////////////////////////////////////////////////////////
        //  persistence logic
        //////////////////////////////////////////////////////////////
        //////////////////////////////////////////////////////////////
        // check if attorneyFillingFalse is set
        /////////////////////////////////////////////////////////////
        if(isAttorneyFiling == true){


                $('#inlineRadio015').attr("checked", true);




        }
        else{
            // call jquery click
            // no attorney, option set
            // set next link to owner page
            // activate next link
            $('#inlineRadio016').attr("checked", true);


        }



        //////////////////////////////////////////
        // show drop downs
        //////////////////////////////////////////


        ////////////////////////////////////////////////////
        // enable next button on select drop down completion
        ////////////////////////////////////////////////////


        ///////////////////////////////////////////////////////////


        // sort and redraw to line up columns
        $('[data-toggle="tooltip"]').tooltip();
        // widget actions
















    }); // end of document ready()






    /////////////////////////////////////////////////////
    // aJAX
    /////////////////////////////////////////////////////
    function saveProjectInfo(field_name_prefix, field_value, application_internal_id) {
        //alert(field_name_prefix);
        // send state, and token to server
        // token will be generated in the controller and added to the view
        // similar to how access token works ...a token is tied to a user
        // access token will be passed in through model
        //
        // var tokenValue = '${token}';  // token is the model attribute name
        // we are not using secured tokens for the prototype
        // we will secure it by adding ssl and https support
        //var field_value = $(this).val();
        //alert(field_value);
        $.ajax({
            //url: host+"/REST/apiGateway/application/update/"+field_name_prefix+"/"+field_value+"/"+applicaiton_internal_id,
            url: "../../../../../../REST/apiGateway/application/update/"+field_name_prefix+"/"+field_value+"/"+application_internal_id,
            type: 'GET',
            success: function(data){
                // parse out status msg:
                var s_code = data.substring(data.indexOf("status:")+7, data.indexOf("status:")+4+7);
                var s_msg = data.substring(data.indexOf("msg:")+4, data.length-2);
                if(s_code.trim() == "200"){
                    //if(data.contains("status: 200")){
                    // show confirmation check mark on form
                    //$('#toggle').delay(1000).click();
                    // add time stamp from server side
                    $(".autoSaveMessageArea span").fadeOut(500);
                    setTimeout(function() {
                        // after 1000 ms we add the class animated to the login/register card
                        $(".autoSaveMessageArea span").text(s_msg);
                        $(".autoSaveMessageArea span").fadeIn(1000);
                    }, 500);
                    // animation rendering control
                    //if($('.state-checkmark').css('display') == 'block'){
                    if($( "."+field_name_prefix.toLowerCase()+"-animation").css('display') == 'block'){
                        $("."+field_name_prefix.toLowerCase()+"-animation").fadeOut(100);
                        // now we need to create an java back end service that saves this value.
                        // also add validation on the html  similar to password save
                        //$('#toggle-'+field_name_prefix.toLowerCase()).delay(100).click();
                        // alert($(this).val());
                        $("."+field_name_prefix.toLowerCase()+"-animation").fadeIn(1000);
                        // now we need to create an java back end service that saves this value.
                        // also add validation on the html  similar to password save
                        //$("."+field_name_prefix.toLowerCase()+"-animation").delay(1000).click();
                    }
                    else {
                        $("."+field_name_prefix.toLowerCase()+"-animation").fadeIn(1000);
                        // now we need to create an java back end service that saves this value.
                        // also add validation on the html  similar to password save
                        //$('#toggle-'+field_name_prefix.toLowerCase()).delay(1000).click();
                    }
                }
                else{
                    //$('.circle-loader').fadeOut(100);
                    //$('.x-mark').fadeIn(500);
                    //$(".validationMsgArea span").text(s_msg);
                    //$(".validationMsgArea span").css('color','red');
                }
            },
            error: function(data) {
                //$('.circle-loader').fadeOut(100);
                //$('.x-mark').fadeIn(500);
                console.log(data);
                // set message to div area ...fields can not be left null
                //$(".validationMsgArea span").text("You can not leave any fields empty.");
                //$(".validationMsgArea span").css('color','red');
            }
        });
    } // end of function
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////


    ////////////////////////////////////////////////////////////////////////////////////////////////////////////
    // helper functions
    ////////////////////////////////////////////////////////////////////////////////////////////////////////////



    function preventFutureDate() {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();

        if(month < 10)
            month = '0' + month.toString();
        if(day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        $('#bar-membership-date').attr('max', maxDate);
    }




</script>

</body>
</html>